[2020-01-16 12:54] arthuro555 commented on #1381
See #1376

[2020-01-16 22:49] Fabiano0Br opened #1383 "Reflection layer effect not working when building"
When I export my game with the reflection effect on base layer it does not show the effect.

[2020-01-16 23:15] Bouh opened #1384 "Edit hitbox & edit point use float & predefined values are wrong"
## Describe the bug
Is this screen there are two problem.
- Value is depending the zoom on mask preview, and du to this zoom we have float number very long.
- Predefined value are understandable.

Image size 16x16px

![image](https://user-images.githubusercontent.com/1670670/72570905-7076d880-38be-11ea-8419-7bc93c43fad8.png)

## Other details
* B88

[2020-01-16 23:17] 4ian commented on #1384
We should indeed round up the floats to 2 decimal places.
But your shape *is* convex right? If you put an "elastic" around the polygon, there is a hole. So it's concave :)

[2020-01-16 23:27] Bouh commented on #1384
Ooops misstanding these two terms.

There is another thing, when i create a new Quadrilaternal shape for hitbox the predefined values are not useable and understandable because i use a 16x16px sprite.

![image](https://user-images.githubusercontent.com/1670670/72571452-eaf42800-38bf-11ea-8a8f-2f39d70ffd0c.png)

[2020-01-16 23:28] 4ian commented on #1384
Right in this case we could either clamp the values or make it a percent of the size of the sprite?

[2020-01-16 23:36] Bouh commented on #1384
Pixel value is fine.
The values should just use the size from sprite.

(User is not allowed to drag&drop point outside the bouding box in preview)

[2020-01-16 23:36] 4ian commented on #1383
That should be fixed in beta 88 :)

[2020-01-17 00:06] #1383 closed

[2020-01-17 10:16] arthuro555 commented on #1372
If there are no more problems, I suggest that this issue get closed

[2020-01-17 10:19] #1372 closed

[2020-01-17 10:20] 4ian commented on #1372
I'll close for now as I strongly recommend keeping with the "official" APIs. It may sometimes be a bit verbose, but exposing the GDevelop expressions to Javascript will mean that we have JS code that will do what the GDevelop expressions are doing which is... calling the "official" APIs :) So a bit of a loop.

I would prefer discussing improving the existing APIs.

[2020-01-18 07:54] arthuro555 commented on #1381
@4ian any opinion on this? Sorry for mentioning you but if I don't I'm afraid this issue and PR will stay open and unanswered for eternity

[2020-01-18 08:01] arthuro555 commented on #81
@4ian maybe consider closing this as this is dead and GDevelop 4 is not supported anymore

[2020-01-18 11:50] 4ian commented on #81
Yes sounds fair!

[2020-01-18 11:50] #81 closed

[2020-01-18 12:01] 4ian commented on #1381
I think there are additional challenges when it comes to serialize objects:
- If used for networking, using a format as lightweight as possible, possibly serializing to a pack of bytes with a well known schema rather than JSON which has a lot of overhead (plain text vs binary, names of properties, etc...)
- Speaking of networking, should we allow some fields to be *not* serialized if we know we wo

[2020-01-18 22:03] arthuro555 commented on #1381
Actually, I used a completely wrong term. This is not a complete serialization, just something to get all the relevant data of an object to then serialize it. Because people don't want to go read the source or study the internal (or not) variables specific to each objects, or go get them individually. This is a kind of way for the developper to choose what is exported or not. Because you cannot se

[2020-01-19 22:41] 4ian commented on #1365
Added both suggestions to the roadmap on Trello:
https://trello.com/c/mdOMXgIv/396-add-support-for-changing-the-androidmanifestxml-for-online-android-builds
https://trello.com/c/RGXD3pNJ/397-allow-to-use-an-existing-user-provided-keystore-for-online-android-builds

Closing this as I try to keep only bug issues opened but discussion can continue!

[2020-01-19 22:41] #1365 closed

[2020-01-19 22:54] 4ian commented on #1381
Careful with this kind of argument, the PR you're talking about is adding 54 lines, removing 102, so a net benefit of 48 lines - which is good! But nothing comparable to 1 serialization + 1 unserialization method multiplied by the number of objects used in the game.
Anyway, not a huge deal, especially if we can avoid including these serialization methods if they are not used.

I still think that w

[2020-01-19 22:59] 4ian commented on #1381
Note that while I'm complaining how use cases, it's just because I want to avoid losing time or going in a wrong technical direction. You're free to try some prototyping to get a better idea of how this is working, and if this works for something like save/load and/or networking, or something else ☺️

[2020-01-20 06:04] arthuro555 commented on #1381
Well, my bad for the PR argument, you're totally right. I think I get your point of making serializer components in a separate extension. It's a good idea. It's weird but would let a possibility of not having the code in the end game. I will try that approach. Like I was saying this is more for saving as networking people should have programming knowledge to make the server side so they should als

[2020-01-20 06:23] arthuro555 commented on #1333
I think the proper approach would be to add an action "request permission" that uses DOM to add a banner (like proposed above) and add an optional text field to add custom css to the banner.

[2020-01-20 11:58] 4ian commented on #1333
Ideally if we can, it would be great to avoid dealing with DOM/CSS entirely (as much as possible, it's good to have the whole game being rendered by WebGL, this will avoid issue with future ports to other platforms that don't have HTML/DOM/CSS).

`DeviceMotionEvent.requestPermission` can be called in a callback of a user gesture. An alternative approach would be to have an action (or a setting to

[2020-01-20 20:17] arthuro555 opened #1392 "Game with Text extension crashes on Firefox"
## Describe the bug
Using the text extension makes the game crash on Firefox while loading at 100%.

## To Reproduce
Create test game with Text extension and export it to HTML5. Then open without modifying (itch.io etc probably change stuff in the files) into Firefox. It will crash. Then open on chrome. You will notice it suddenly works.

See test game on:
http://emit-moul.rf.gd/

## Other details

[2020-01-20 20:33] 4ian commented on #1392
Seems that it's indeed linked to the text rendering, I can reproduce this on Firefox 70.0.1:

![image](https://user-images.githubusercontent.com/1280130/72756025-ec756700-3bc3-11ea-8411-2a7324b3390a.png)

Seems like an issue around Pixi/WebGL/Firefox. Is there anything special set up for the text? Is removing the text clearing the problem?

[2020-01-25 23:33] arthuro555 commented on #1392
Sorry that I took time to respond. There wasn't any problem with a single text object with only modified text, but the crash occurs since addition of a second one with a size modifier.

[2020-01-25 23:50] arthuro555 opened #1395 "Making a server/client architecture"
## Description
I was thinking about implementing an easy to use multiplayer solution (or better said how to implement one). The problem being that to make something clean, it requires to separe client side and server side logic.

## Solution suggested
I suggest to change the structure of GDevelop to add a way to separe those both logics and permit to out of the box get a way to compile a server to

[2020-01-26 09:29] CustomLenny commented on #1339
Thinking more on this. Maybe there should be an option to pass through solid platforms as well.
If one wants to make the death a commander keen/monster bash/mario effect (the character gets thrown in the air and then passes through the bottom floor to disappear off screen, there's not really any way to do that either.

[2020-01-26 15:03] Raduq91 commented on #927
Hi can you please switch "Don't loop" with "Loop" naming in the sprite animation panel?

[2020-01-26 16:30] Silver-Streak commented on #927
How it is now shows you the current state of the sprite looping, though. Swapping the words would in fact make it the opposite of how sprites work.

I would instead prefer it just be a checkbox that says "Loop" that you can uncheck to disable looping.

[2020-01-26 16:47] Bouh commented on #927
Problem is the icon for the this button. On others checkbox we haven't custom icons and for this one we have two icons for two state.

[2020-01-26 16:55] 4ian commented on #927
Should we just remove the custom icons and go back to a checkbox with "Loop" as label?

- [ ] Loop

[2020-01-26 17:02] Bouh commented on #927
I'am on it

[2020-01-26 17:49] 4ian commented on #1339
For this case I would recommend to deactivate the platformer behavior and manually animate the object with forces. It's something that "break the physics" of the platformer engine (an object going through something that is supposed to be solid), so better completely disable it for your object at this moment :)

[2020-01-26 17:50] Raduq91 commented on #927
I don't know what you mean with "how sprites work".
How I see it:
When I want to enable looping I click the button that is named "Don't loop"(this is confusing for me)
with the words swapped, when I want to enable looping I click the button that is named "Loop"

For me, for the button to show the state of the loop, it would be "Not looping",  "Not looped" or something else similar to the two examp

[2020-01-26 17:56] 4ian commented on #927
I think there is both the issue of "Is the label showing the current state or not?" and the issue of "Don't loop" should be better written as "Not looping", "not looped".

I think that if we just name the button Loop with a checkbox it's more intuitive.
Checked? Then the sprite is looping
Unchecked? Then it's not looping

which is the classic behavior of a checkbox, unless I'm missing something :)

[2020-01-26 18:41] Silver-Streak commented on #927
Your description/example around the checkbox would make the most sense to me. Especially since it's more intuitive to see the state "at a glance".

[2020-01-26 19:47] Bouh commented on #927
This solution is added since 3 hours :) #1397

[2020-01-28 21:25] arthuro555 commented on #1395
Forget it this is stupid I was very sleepy when u wrote that

[2020-01-28 21:25] #1395 closed

[2020-01-28 21:30] arthuro555 commented on #906
It seems like this issue is dead. It should be closed.

[2020-01-28 21:37] arthuro555 commented on #787
This is an Old dead issue that doesn't relate to a bug in GDevelop itself, and only on a version with dropped support. I think this should be closed.

[2020-01-28 21:46] #787 closed

[2020-01-28 21:47] #906 closed

[2020-01-29 17:33] Silver-Streak commented on #503
I'd like to post a bounty on Bountysource for Tileset and Tilemap/Atlas support, It seems like this issue is the most descriptive/filled out issue GDevelop has on it.

Any chance this could be reopened so I could post the bounty, or should I post a new issue to cover it?

[2020-01-29 17:49] 4ian commented on #503
Re-opening the issue for this then :)

[2020-01-29 18:11] Silver-Streak commented on #503
I have posted a $50 USD bounty for this on Bountysource. https://www.bountysource.com/issues/58876395-support-for-tilemaps-objects-tilesets-and-tiled-files

For anyone looking at the bounty, my biggest hopes for this are:

Really must haves:
- Full Tileset (Sprite Atlas) support.
-- This would likely be through importing Tileset files from Tiled (.tsx or json export) (preferred, I think), or impor

[2020-01-29 22:48] blurymind commented on #503
I think I can implement this if all the editing happens in tiled and GD5's ide just renders it and possibly anything set in tiled's editor is exposed to the event sheet. Collision editing is all done in tiled.

So the approach would be to to use the pixijs library to render it in GD and expose its functionality to the event sheet via the jsextension api.

A nice touch would be to allow opening the

[2020-01-29 23:27] Silver-Streak commented on #503
I'm happy to test as needed on this.

I think using Tiled itself as the map editor is fine/valid, although I think there are still benefits to utilizing tilemaps/atlases in GD5 is SUPER beneficial from an optimization/resources standpoint. Or is that the thought process? Tiled would generate map JSON, an Atlas is added to the game resources, and it the engine uses the JSON to read/use the atlas?

[2020-01-30 01:19] Bouh commented on #503
- Do you remember GD4 ?
![image](https://user-images.githubusercontent.com/1670670/73411358-61a01500-4305-11ea-827d-6e92a66d218e.png)

- For me the most important thing is the animation on tile.
- An mostly universal file format for import/export.
- Support of layers (already existing in GD4)
- Transparency of tiles.
- Edit hitbox with polygons.
- Add instances/objects variables on specific tile.

[2020-01-30 01:25] Silver-Streak commented on #503
To be clear, there's no timeline on the bounty, I just wanted to give incentive for people to work on this. It seems like the most requested thing on Trello.

If I had been going on personal preference, I would have put up a bounty for Multiple Canvases instead, but this one already had so much traction here as well.

I never used GD4, so I hadn't seen this functionality before.

Overall, Tilemap

[2020-01-30 08:36] blurymind commented on #503
The main goal of this issue is support for the tiled editor format. Can Gd4
use tiled files? Yes it would be nice if we can edit them in the ide like
gd4, but that would be a bonus imo. Tiled is a very well funded and
maintained project. It's a better editor for maps than what gd4 could do

On Thu, Jan 30, 2020, 1:25 AM Silver-Streak <notifications@github.com>
wrote:

[2020-01-30 18:12] blurymind commented on #503
@Bouh here is the wiki of how to edit tilesets in tiled:
https://doc.mapeditor.org/en/stable/manual/editing-tilesets/
:)

[2020-01-31 00:37] Silver-Streak commented on #503
If we're looking at this from an approach of "backend first, GD5 direct editing second", I bet the Riebel github posted above is probably a good resource.
https://github.com/riebel/pixi-tiledmap

I also found this one, which seems to take and convert tmx files into a Pixi container? It looks like the github version of the NPM one above. No idea if that's more effective/compatible or not: https://g

[2020-01-31 19:02] blurymind commented on #503
I am considering taking this on if nobody else picks it :) but will wait a bit to see. Might do some research over the weekend. It's getting a lot of requests

[2020-02-01 04:56] vinurd opened #1402 "collision when dragging an object to an object does not work correctly."
collision when dragging an object to an object does not work correctly.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '.To start, I made a scene where one object, if it touches another, a transition to another scene occurs. Next, I copied the scene. Removed objects and conditions. Created a new object and a new condition. But on the stage, exactly the same transition occurs if you dra

[2020-02-01 05:03] vinurd opened #1403 "bullet flight direction"
## Description
There is a constant problem with the creation of a bullet flight. Namely, in the direction of flight of the bullet. Addressed to a forum. Dali on the forum, an incredibly difficult decision to change the direction of a bullet in a platformer game. The solution is so complex that the brain was just boiling. And the desire to further study something disappears. It is too difficult to

[2020-02-01 10:35] Bouh opened #1404 "Drag and drop crash webpp"
## Describe the bug
Drag and drop crash the web app

## To Reproduce
Video
https://streamable.com/l29mv

Console log
https://pastebin.com/raw/k6dJHXUD

## Other details
Only current webapp for now
Cache is clear, i've seen your webapp update last night ;)

[2020-02-01 10:39] 4ian commented on #1403
Making a "bullet" behavior should be easy using custom behavior - you could even do it and suggest it as an extension :)

[2020-02-01 10:47] 4ian commented on #1402
There is an object, it's just that it's hidden behind the others :)
Use the list of instances to find it

![image](https://user-images.githubusercontent.com/1280130/73590905-1f7efb00-44e0-11ea-9fd9-2c038aada1d1.png)
![image](https://user-images.githubusercontent.com/1280130/73590916-2c035380-44e0-11ea-98a4-e8e289dfe0aa.png)

[2020-02-01 10:47] #1402 closed

[2020-02-01 11:38] 4ian commented on #1404
Your video is very interesting ! This is triggered by no less than 3 factors:

- On the web-app, the ContextMenu is calling `buildFromTemplate` even when the menu is not opened (triggering a function that generates the crash). (this probably needs a fix)
- The function that generates the crash is crashing because it's calling isExecutable on an event that was potentially removed from memory. This

[2020-02-01 11:40] 4ian commented on #1404
Well turns out that the previous version also generates a crash (a bit more randomly):

![image](https://user-images.githubusercontent.com/1280130/73591533-8e138700-44e7-11ea-80f3-31d56693f315.png)

These crashes are really the worse, I'm glad you caught one :)

[2020-02-01 14:18] 4ian commented on #1404
Fixed in https://github.com/4ian/GDevelop/commit/1e1c5f7206c17866daf55dfa2d4cbb1f0fe0c2c6

Thanks a lot for spotting this and for doing the video - it was essential for me to be able to reproduce the issue! 👍👍
I've updated the web-app, hopefully everything is working properly.

[2020-02-01 14:18] #1404 closed

[2020-02-01 16:53] vinurd opened #1405 "payment problem"
from Russia it is very difficult to pay in the manner presented on the site. Not all cards are accepted. It would be great if paypal

[2020-02-02 04:50] vinurd opened #1407 "Enable or disable groups using events"
a very convenient thing is to enable and disable groups with sets of events using an event. I did not find it implemented or not. There is a similar in ClickTeameFusion2.5

[2020-02-02 11:58] blurymind commented on #1407
Yes that would be great from UI point of view. A workaround is to nest your
events under one parent event and disable and collapse it. The downside is
that you can't label it like you can with a group, so you have to also add
a comment

On Sun, Feb 2, 2020, 4:50 AM vinurd <notifications@github.com> wrote:

[2020-02-02 14:07] 4ian commented on #1407
I never implemented this because I consider this can be done using variables. It would be kind of feasible to add an action to enable/disable groups *but* this implies that groups are now some "global variables". I would rather add support for boolean variables :)

[2020-02-03 00:49] Bouh commented on #1407
This request it's interesting at all.
You can do the same thing with an action and a condition.
Add this feature need some quite work in the engine, just for do same thing in two line in event sheet...

[2020-02-03 14:03] blurymind commented on #1407
The group disable feature is available in all other software with an event sheet and does save a few clicks having it - since it lets you debug faster - enable and disable grouped events without the need to make a new variable for them.

I think it would be nice to have it as its convenient, but I dont think it is on the top of the list of nice to haves for me :)

[2020-02-03 15:39] jilliananfernee opened #1409 "New example"

[2020-02-03 17:05] #1409 closed

[2020-02-03 17:17] 4ian commented on #1407
I have mixed feelings about it because I understand it's convenient, but am unsure because deactivating event groups is equivalent to manipulating global variables.

1. As GDevelop has functions, how should that behave if I launch an action in the scene _Disable event group called "Player handling"_ but there is an extension that has somewhere in one of its action/condition/expression, an event gr

[2020-02-03 23:41] 4ian commented on #991
The specific example reported here seems to be fixed. Can we close this unless other buttons/fields are not "tab-accessible"?

In theory everything that is shown on screen and that is a proper component has support for being browsed with tab, and after opening a dialog you should always be able to press tab in case you don't have the focus to select the first element of the dialog.

[2020-02-04 08:36] rsv2383 opened #1410 "New example"
Hi!

  I'd like to submit a new example to be added to GDevelop.
  Here is the link to download it: **INSERT the link to your game here, or add it as an attachment**.

  I confirm that any assets can be used freely by anybody, including for commercial usage.

[2020-02-04 16:38] blurymind commented on #1407
It should behave the same as deactivating all the events that have been nested under the group. So group in the other apps with an event sheet is kind of treated as an ordinary event row you can nest things under and when disabling it in the event sheet, the things nested under it are disabled.
But it also serves the function of a comment - so when you drag the group, you also drag its label.

So

[2020-02-04 21:13] PascalLadalle commented on #991
not optimal, but seems fully functional. 👏

In the same fashion, it would be nice if Alt gave access to the main menu as in most of Windows programs. And if ctrl-tab could switch between tabs, just how wonderous would it be! 🌈 😁

[2020-02-04 21:13] #991 closed

[2020-02-05 14:04] blurymind commented on #503
Might do this next if nobody claims it before my PR here is merged
https://github.com/4ian/GDevelop/pull/1408

My angle for this is that I really want to use pro-motion to make my tilemaps and tilesets and that exports tmx files. Construct and Godot both support import of tmx files, it is by far the most popular format for tilemaps and tilesets
https://www.youtube.com/watch?v=KzVBk4VNgrI

I still

[2020-02-05 14:40] Bouh commented on #1407
I've made a extension for that. It was simple to add and try, you can now test the possible issues.

[Disable_Events_Extension.0.0.1.json](https://pastebin.com/raw/xwcWLQC7)

![image](https://user-images.githubusercontent.com/1670670/73851401-b378fb80-482d-11ea-94ff-7e4b5be6a1c3.png)

[2020-02-05 14:50] 4ian commented on #503
Yes :)

Yes, editing should be integrated in the scene editor.
This means extending/refactoring/reworking the scene editor to allow extension/objects to define custom brushes/buttons on the scene editor. A super interesting project, but this might come as a later work (or a Summer of Code project).

For the implementation, it's roughly in this order:

1. I'm in favor of going for a well defined an

[2020-02-05 17:46] blurymind commented on #503
So a better look at the libraries
https://github.com/pixijs/pixi-tilemap
the one hosted on pixi is just for rendering tilemaps. It doesnt actually do any tmx file parsing

https://github.com/Reynau/tiled-to-pixi
seems like a nice one, eventhough its last update was 15 months ago, the API for it appears to be freindly. It lets you build a collision layer easily, although need to look at what GD use

[2020-02-05 20:26] kryptot7 opened #1411 "Top buttons and scrolling in Piskel window are somewhat broken"
## Describe the bug
The top buttons in the Piskel window (Save, Cancel, etc.) are cut off on the right side:
![image](https://user-images.githubusercontent.com/30781325/73879624-d48c1d00-482a-11ea-8ea4-8acd275305ce.png)

This is because the window has some extra room to scroll horizontally for some reason, even though the Piskel window lacks a visible scrollbar. If you scroll to the right, you can

[2020-02-05 20:51] kryptot7 opened #1412 "[Minor UX issue] Animation editor checkbox for selecting frames blends into transparent background"
## Describe the bug
In the animation editor, the checkbox for selecting frames blends into the checkerboard pattern that shows up if the frame has a transparent background.
![image](https://user-images.githubusercontent.com/30781325/73881879-2636a680-482f-11ea-8abe-c5dc53bba2e6.png)
(Checked)
![image](https://user-images.githubusercontent.com/30781325/73881895-2fc00e80-482f-11ea-9166-962958f2b8e9.

[2020-02-05 22:08] kryptot7 opened #1413 "Let user know when GDevelop encounters an ambiguous variable"
## Describe the bug
Let's say I want to make both of my Player objects always face towards my Ball object. I have the following code:
![image](https://user-images.githubusercontent.com/30781325/73885852-7e24db80-4836-11ea-9903-0b7b67a69b2a.png)

It behaves incorrectly.
![gdev bug 1](https://user-images.githubusercontent.com/30781325/73886075-e5db2680-4836-11ea-8bff-35c458560e10.gif)

But if I chan

[2020-02-05 22:57] blurymind commented on #1413
You have two instances of a player object :) don't think that's a bug

On Wed, Feb 5, 2020, 10:08 PM Landon J <notifications@github.com> wrote:

[2020-02-05 23:05] blurymind commented on #1413
I can see how this can be confusing. The condition column is kind of acting
like a picker to decide what objects to affect. To get what you want I
think you need to tell it to do it for each player object. I think we had
something in the wiki about that

On Wed, Feb 5, 2020, 10:57 PM Todor Imreorov <blurymind@gmail.com> wrote:

[2020-02-05 23:19] 4ian commented on #1413
Yep I agree these issues are hard to debug in a game!

Unfortunately, it's not trivial to warn the user about this because we don't know the number of objects, only at runtime. (At runtime, if you use an object in an expression, the first one in memory in the list of picked objects is used)

We could try to :
* add a check at runtime and report a warning somewhere, but this will severely impact th

[2020-02-05 23:23] blurymind commented on #1413
Do we need to make it a warning? I see this more as something that can be communicated in a subtle way in the event sheet.

This sort of thing is present in literally all engines with an event sheet - both fusion and construct suffer from the same thing. They deal with it by extensively explaining in their wiki how object picking works

[2020-02-05 23:40] blurymind commented on #1413
Not sure if this would help communicate picking better or confuse people more, but what if we just add the word "each" or "the" before the object in the action - based on whether the object is"picked" in the condition?
![hintSheetIdea](https://user-images.githubusercontent.com/6495061/73893134-bd701e00-4870-11ea-80f6-36809ee1a53c.png)
I dont think any event sheet has ever tried to tackle this some

[2020-02-06 08:16] vinurd opened #1414 "a problem with the copy of objects and their actions"
## Describe the bug
a problem with the copy of objects and their actions

## To Reproduce
I made a sphere revolving around the center, in a timer. I multiplied a sphere with a center (3) All three spheres are attached to one center. Although they have other centers. I have already done using object groups. Nothing helps.

It’s impossible to make this moment more operational. You just want to propa

[2020-02-06 08:37] 4ian commented on #1414
Please open a thread on the forum, these GitHub issues are only for confirmed bugs. Other members will be able to help you on the forum. Thanks!

[2020-02-06 08:37] #1414 closed

[2020-02-06 09:34] KinkGD opened #1415 "Extract the events in a function + Dark theme : unreadable extensions list"
When using GD5 with the Dark theme, and right click on some events to "extract the events in a function", the first field, wich is a list labeled "Extension (storing the function)" is totally unreadable if some extensions already exist.

Take a look on this screenshot, my four extensions are here, but names are unreadable:
![image](https://user-images.githubusercontent.com/8144048/73923874-d954dd8

[2020-02-06 10:07] paulera opened #1417 "Browser page scrolls when playing top-down HTML5 game"
## Describe the bug
When playing an HTML5 top-down game from an iframe (hosted in itch.io in this case), the scrollbar responds to keyboard actions, making impossible to play the game unless switching it to fullscreen.

Game link: https://paulera.itch.io/itroubled

Game source: https://github.com/paulera/itrouble-game

## To Reproduce
* Scenario: desktop or laptop running Google Chrome or Firefox.

[2020-02-06 12:37] Wend1go commented on #1413
Or maybe add a number in brackets next to the object in the pick object dialog to show the number of instances in the scene, like:
`Player(2)`
`Bullet(0)`
`Wall(142)`

Or `Player (2 instances in scene)` in a tooltip on hover.

[2020-02-06 13:54] blurymind commented on #1413
![6rZ8g8R](https://user-images.githubusercontent.com/6495061/73943148-29da3400-48e8-11ea-8ef1-b28f3af04bff.jpg)

:)

[2020-02-06 16:34] 4ian commented on #1413
I'm not sure we're making things clearer with a number. I can see people asking "why is there 0 marked next to my object? Does that means that my bullets fired from my spaceship won't work? Is there a limit?? How can I set it to 1???" => no this means that you don't have any on the scene... and that's it 😬

I think there is more to it, at least the distinction between "a" and "the" might be ok, bu

[2020-02-06 16:48] 4ian commented on #1415
Can you confirm this works with the default theme? Is Windows configured with a dark theme? Because this is a native selector provided by the system.

[2020-02-06 20:46] KinkGD commented on #1415
Yes my windows is configured with the dark theme, and yes, the issue is here too with Gdevelop default theme.

I switched to normal "light" windows theme color, and restarted Gdevelop. Unfortunately, same thing with both default and dark theme of Gdevelop :
![image](https://user-images.githubusercontent.com/8144048/73977131-07690a80-492a-11ea-85f0-36c14d907037.png)

[2020-02-06 21:42] arthuro555 commented on #1403
I think there is already a bullet extension in the extension repository

[2020-02-06 21:43] arthuro555 commented on #1410
This is a generic template, and should be closed @4ian

[2020-02-06 22:40] arthuro555 commented on #1417
I might have a workaround. Try to make that in a Js event. It needs to be executed once only.
[code]
It's a bit hacky and untested but should disable scrolling. I don't think the game should disable scrolling on the whole page though.

[2020-02-07 02:35] Bouh commented on #1415
Sorry to bother you, i see all my extensions in this list.
Have you fill the Name in ` Edit extension Options`, button is on top of yours function list.
In this options you need fill the input called `Name displayed in editor`.

I've also checked if name given when you use <Create  New Extension> is readable, and yes it is.
I've tested on Dark and Light theme works fine here.
![image](https://user

[2020-02-07 03:05] Silver-Streak opened #1419 "Custom Fonts at large font size being rendered in IDE with Default Font Render Box/Wrong Location"
## Describe the bug
When using Custom Fonts, if you select a large font size, the font's position and boundry box do not accurately represent the font size.

I originally discussed this on the forum, but now that I can reproduce it in other projects I thought it made sense to put it here: https://forum.gdevelop-app.com/t/text-object-boundry-box-not-matching-font-in-editor/22636/2

## To Reproduce

[2020-02-07 10:10] KinkGD commented on #1415
Bouh, you are right !

I was thinking this menu should have listed functions names just like there are named in the project manager in the "Functions/behaviors" submenu. I've never filled the Name field in Edit extension Options.

A bit confusing no ? Maybe I missed a debates on it, but why does extension have different names in the editor and in the project manager ?

[2020-02-07 11:39] #1410 closed

[2020-02-07 11:55] 4ian commented on #1415
It's clearly confusing. This UI should show the name if filled, or the internal name (shown in the project manager) otherwise.

[2020-02-07 17:27] blurymind commented on #1411
Do you also get the tablet bug? I might have a look at this tonight. Its some funky css rule somewhere being pesky

[2020-02-07 18:09] 4ian commented on #1417
Thanks for the detailed bug report :)

It's a good question... arguably if the event are captured by the game, it means that it's focused and so should be safe to prevent scrolling. But we still want to allow people to use arrow keys and any key in general when the game is embedded as an iframe - something to do with the focus?

[2020-02-07 20:58] blurymind commented on #1411
How the hell do you manage to get it in that state? I cant replicate it

[2020-02-07 21:00] blurymind commented on #1411
I can guess what will fix it, but its impossible to test

[2020-02-08 18:12] Silver-Streak commented on #503
Just to add on for this conversation, here's a project that seems to automatically make Atlases.

I actually wonder if this could help GDevelop optimization even outside of Tilemaps/tiled sprites: https://github.com/gameofbombs/pixi-super-atlas

[2020-02-08 18:34] kryptot7 commented on #1411
I have a trackpad, so even though there are no visible scrollbars, I can scroll horizontally and see the rest of the buttons that were cut off before.

[2020-02-09 04:54] kryptot7 commented on #1411
That's odd, I've opened GDevelop Piskel again and I don't see the issue...
![image](https://user-images.githubusercontent.com/30781325/74096527-315b3200-4ace-11ea-8b15-682260021602.png)
I was messing around with my Piskel files, and I also noticed that the name field is no longer editable (see the first screenshot). Maybe that has something to do with it?

[2020-02-09 11:51] 4ian commented on #1415
Fixed in beb1cf0631632b5093ed9cc3f851c864b9ec22a2 :)

[2020-02-09 11:51] #1415 closed

[2020-02-09 13:31] blurymind commented on #503
Yes this is actually another separate feature for the game exporting process.
Ideally we would want gdevelop to pack all resources into one or more atlases, create a json file that contains the data how to  slice them, then the exported game would have much less draw calls, leading to huge optimisation gains.

The thing is that while tilemaps  benefit from that optimization, refactoring all game o

[2020-02-09 13:52] Bouh commented on #1415
?
How overflowX corrects this issue, it's not the right one I think :)

Related to https://github.com/4ian/GDevelop/pull/1408#issuecomment-581202479
For :

[2020-02-09 14:41] 4ian commented on #503
Automatic export of resources in multiple "atlas" files (to increase rendering performance and reduce the number of files to load) is indeed both an interesting feature and a quite big one to do because you need:
- A great algorithm to smartly put the right images in the right atlas
- Rework all the object and the game engine resource manager to be able to load texture in an atlas.

Nothing imposs

[2020-02-09 14:46] 4ian commented on #1415
Sorry I meant aa30052dca285f5b30724f7786ca3f6b95fe7803 ;)

[2020-02-09 15:32] blurymind commented on #503
Rpg maker mv does not really support loading tmx files, it is however using a library that plans to add support for tmx files.
The rpg maker mv community has created an addon however to load them - and I believe it is using tmx-parser. Actually all tiled js implementations  seem to be using tmx parser.
The rpg maker mv guys however have a renderer that is both optimized and battle tested. Its the

[2020-02-09 19:21] Silver-Streak commented on #503
Super excited as I read this discussion. Atlas/super atlas being a separate request makes total sense from the explanations here. And I'll throw the libraries I linked into that trello post.

Parsing tmx from tiled, rendering it as a single object (or at least as an object per layer depending on implementation), and pulling in Tiled collisions seems like an admirable effort and more than meets the

[2020-02-10 07:22] Wend1go commented on #503
[ct:js](https://github.com/ct-js/ct-js/blob/066997ab27d5444fbeee693f418988504cebd1fc/src/node_requires/exporter.js#L137) uses ["maxrects-packer"](https://github.com/soimy/maxrects-packer) for packing the atlases, which works pretty well.
Since the licenses of GD and ct:js are identical, the code might even be borrowed.

[2020-02-10 11:29] blurymind commented on #503
@Wend1go  I was sort of looking for inspiration for dragonbones at the same engine :)
https://github.com/ct-js/ct-js/blob/d24d108405b1b5af359addaf3dbb4493900f042f/app/data/ct.release/res.js#L62
https://github.com/ct-js/ct-js/search?q=dragonbones&unscoped_q=dragonbones

Will obviously need to adapt the code to fit gdevelop's architecture

[2020-02-10 13:56] blurymind commented on #503
Found a few more pixi libraries
https://www.npmjs.com/package/pixi-tiled-utils
https://codepan.net/gist/9cb3058fd8c27d346bdcc97f440a3c35

https://github.com/eXponenta/pixi-tiled

another tmx parser
https://github.com/praghus/tmx-tiledmap

There are just a lot of options to investigate
https://www.npmjs.com/search?q=tiled

[2020-02-10 19:58] Bouh opened #1421 "cordova-build shown in the UI could be named Android Export instead"
## Describe the bug
When you select export Android for get an .APK, in build list we see an cordova-build in progress.

Should be called Android or apk export, for something associate with Android export.
I know you use cordova behind for build the apk and that's why wee see cordova but it can be a source of misunderstood.

## Reproduce
Click on
![image](https://user-images.githubusercontent.com/1

[2020-02-10 20:16] Bouh commented on #1419
I was able to reproduce the bug with this font.
I looked a little bit into the code.  I can't find anything that seems unusual.
I've tested other fonts and I don't have this bug.

Could it be a parameter of the font? Maybe ask the font author if a variable font height can exist as a parameter in a font.
Or if there is question of pixel ratio or ppp resolution ?

[2020-02-10 20:50] Silver-Streak commented on #1419
Hmmm..I'm able to reproduce this with a bunch of other fonts too.

Here's another one: https://tinyworlds.itch.io/free-pixel-font-thaleah

Size 20 boundry box:
![image](https://user-images.githubusercontent.com/24237149/74188373-e51a0a00-4c13-11ea-848a-2596cfde9eb8.png)
From the top of the T to the border of the boundry box, the boundry box is ~37% the height of the T character.

Size 40 boundry b

[2020-02-10 20:51] Silver-Streak commented on #1419
As another example, both the default font and the custom font at size 40. Both boundry boxes align perfectly in size.

![image](https://user-images.githubusercontent.com/24237149/74188819-da13a980-4c14-11ea-8be1-41a593b173ba.png)

[2020-02-10 20:55] Silver-Streak commented on #1419
For other oddities, BBText objects _are not_ impacted by this.

Here is a normal text object and a BBtext object, both using the same custom font, both set to size 40.
![image](https://user-images.githubusercontent.com/24237149/74189081-658d3a80-4c15-11ea-83bb-d92f92c9c095.png)

[2020-02-10 20:58] Bouh commented on #1419
If there is no problem on BBtext i will compare both for try catch the differences.

[2020-02-10 22:14] Bouh commented on #1419
Possible issue with the font loader ?
This one is used : https://github.com/bramstein/fontfaceobserver

Cyan rectangle are the bounding box with created it events.
![image](https://user-images.githubusercontent.com/1670670/74195021-af4c4400-4c5a-11ea-9e0b-f5289e4a5bff.png)
Project file : [font_comparator.zip](https://github.com/4ian/GDevelop/files/4183303/font_comparator.zip)

[2020-02-11 20:45] PascalLadalle opened #1423 "No context menu while editing special events"
## Describe the bug
When I edit the text of a normal event, I can right-click and access the context menu (copy/cut/paste/...).
When I edit group names, or comments, or other special events, the context menu disappears automatically.

GD5b88
Win10x64

[2020-02-11 20:56] PascalLadalle commented on #1417
For [this game](https://gleeson.itch.io/shrubnaut), for example, you need to click on the page outside the game for the space bar to work (scroll), even though that key isn't used in the game.
I think this should be the standard behaviour.

[2020-02-12 19:43] THE-GEM-TUTORIALS opened #1426 "Flappy bird"
Hi!

  I'd like to submit a new example to be added to GDevelop.
  Here is the link to download it: **INSERT the link to your game here, or add it as an attachment**.
https://www.mediafire.com/file/z6omui2ce6z40ni/My_project473.zip/file

  I confirm that any assets can be used freely by anybody, including for commercial usage.

[2020-02-12 19:44] THE-GEM-TUTORIALS commented on #1426
@4ian checkout this example i really think it would be good for gdevelop

[2020-02-12 19:49] arthuro555 commented on #1417
If it is standard it cannot be disabled. That is why IMO the best would be to add an action or game property (the last ones are a pain to add tho) for toggling this behavior.

Arthur.

________________________________
From: PascalLadalle <notifications@github.com>
Sent: Tuesday, February 11, 2020 9:56:17 PM
To: 4ian/GDevelop <GDevelop@noreply.github.com>
Cc: Arthur Pacaud <arthur.pacaud@hotmail.fr

[2020-02-13 01:48] Bouh commented on #1423
I don't know if this is a real bug.
A workaround exist edit the comment or group by right click on it, in this new window you can use native copy/paste and others.

[2020-02-13 04:36] kryptot7 commented on #1413
Since GD already assumes Player.X refers to the first Player in memory, would it really hurt performance to check if there are other Players? Is there an integer like "numberOfInstances" that GD can check, and if so show a warning?

[2020-02-13 08:10] 4ian commented on #1423
What do you mean by "the context menu disappears automatically" exactly? Just to be sure to understand :)

[2020-02-13 20:35] 4ian commented on #1426
Nice! That would be a good example :) Could we do these improvements?

* Merge the first and last events (conditions are the same):
![image](https://user-images.githubusercontent.com/1280130/74475631-b2844180-4e9f-11ea-9665-b475dabbd81d.png)
* Allow to use space on desktop
* Add some sounds (when you're hitting an obstacle, when you "jump" in the air?)
* This transition is too abrupt:
  ![image](h

[2020-02-13 21:42] PascalLadalle commented on #1423
The contextual pop-up menu appears when I right-click and disappears just as quickly.
Maybe a clue: the context menu appearing is not the good one. It's the event context menu, not the textbox context menu.
Workaround confirmed. ✔️

[2020-02-14 00:16] Bouh commented on #1423
If the native context menu is open how you wish edit and manage the comment/group ?
And i wish add to wordaround, copy/paste shortcuts works when focus is set and text can be edited.

[2020-02-14 11:49] PascalLadalle opened #1430 "Group/Comment text input is hard to exit"
When I edit the text of comments and groups, the textbox is as wide as the item itself, making it hard to exit text input.
Ideally, the textbox would be limited to the actual text, whether text input is enabled or not.
![image](https://user-images.githubusercontent.com/25978830/74527061-100ea180-4f25-11ea-9b1b-a165215a2810.png)
Example: I left-click on a group, text input activates and I enter the

[2020-02-14 15:29] THE-GEM-TUTORIALS commented on #1426
yes i will work on that now
thanks for the improvement suggestion

On Thu, 13 Feb 2020 at 21:35, Florian Rival <notifications@github.com>
wrote:

[2020-02-14 15:50] 4ian commented on #1426
Thank you! 👍

[2020-02-14 15:52] THE-GEM-TUTORIALS commented on #1426
i am changing the assets used to make it more like the flappy bird game

On Fri, 14 Feb 2020 at 16:50, Florian Rival <notifications@github.com>
wrote:

[2020-02-14 18:51] THE-GEM-TUTORIALS commented on #1426
hello Florian i just wanted to give you an update on the flappy bird game
 flappy.png
<https://drive.google.com/file/d/1S-fP-kU9mMcleUsV0IdXJ6MirndjBcWK/view?usp=drive_web>

On Fri, 14 Feb 2020 at 16:52, THE GEM TUTORIALS <gabmomoh2@gmail.com> wrote:

[2020-02-15 23:09] PascalLadalle opened #1433 "Breakout example"
As per the Trello card, here is an updated version of the breakout.
I fixed a few bugs, I added some features to make it more enjoyable, I used lighter resources and I made a bonus version with Physics 2.0 which I find much better.
[NewBreakout.zip](https://github.com/4ian/GDevelop/files/4209085/NewBreakout.zip)

[2020-02-16 04:12] kryptot7 commented on #1411
Try this:
* open GDevelop
* create a new project
* create a new scene
* add a Sprite
* make an animation for the Sprite
* click to edit it with Piskel
 I did this sequence, and the scrolling bug showed up again.

[2020-02-16 10:00] Torguen opened #1434 "Examples not work"
## Describe the bug
On the web, some examples do not work, they are not loaded.

## To Reproduce
Run the example "Controller input" or "Find diagonals"
![1](https://user-images.githubusercontent.com/19652075/74602666-70c7e680-50ab-11ea-8890-b7a7efa1226f.png)
![2](https://user-images.githubusercontent.com/19652075/74602668-732a4080-50ab-11ea-8a9f-bcd8041f9f4e.png)

## Other details
* Include any OS

[2020-02-16 18:44] blurymind commented on #503
I am starting to lean toward https://github.com/riebel/pixi-tiledmap but will test more with the others

[2020-02-16 19:02] 4ian commented on #503
Are you sure about the "production readiness" of these? I've not looked at them but they seem not maintained anymore. Are we sure it's battle proofed?

I would rather have a first implementation that is not as feature complete but that works well rather than spending weeks fixing issues on "real" games. For example, do we know about the performance to show a 3000x3000 tile map? Is it possible to s

[2020-02-16 20:05] blurymind commented on #503
They seem to be the best ones available atm. The one on pixis git can't
parse tiled files. It's just for rendering purposes. The last update on
these in 8  to 15 months ago. Looking at their source code, they arent
doing anything fancy that might break

On Sun, Feb 16, 2020, 7:02 PM Florian Rival <notifications@github.com>
wrote:

[2020-02-16 20:12] Silver-Streak commented on #503
I think some of the aging is likely due to Tiled and TMX files being around for over a decade now, I believe.

If you're writing a parser not much changes are needed once you have squashed all the bugs in the parsing process, correct?

[2020-02-16 20:21] Bouh commented on #503
What about compatibility with pixijs, knowing that we're in 4.8.6 and that it would be nice to change for a version 5 and more 🤞

[2020-02-16 20:50] blurymind commented on #503
The parser doesn't care about pixi, but the libraries using it do. The
thing is they are really tiny and I anticipate that there will be very
little or nothing needed to upgrade any of them to 5. Looking at their
source I was surprised how small they actually are.

That said I can wait for gdevelop to upgrade to pixi5 if that is needed.
Multistyle text lib supports pixi 5 now btw, so bbcode object

[2020-02-16 20:55] Silver-Streak commented on #503
I notice pixi-tiledmap states it doesn't support isometric. Do you know if any of the others do?

[2020-02-16 21:41] blurymind commented on #503
Will need to continue research. I havent tested isometric maps yet

On Sun, Feb 16, 2020, 8:55 PM Silver-Streak <notifications@github.com>
wrote:

[2020-02-16 22:16] arthuro555 opened #1435 "GDevelop.js doesn't seem to be working correctly in a node environment."
I am not sure if I didn't do something right but this example code doesn't work:
[code]
With an error telling that the apply method of the class is undefined, while typing the following example code in the inspector console on a blank HTML file that only loads libGD.js through a script tag works:
[code]
Is this an issue with GDevelop.js or am I doing something wrong? This should work as it seems t

[2020-02-16 22:37] 4ian commented on #1435
It's a promise like interface:

[code]

See scripts for example:
https://github.com/4ian/GDevelop/blob/master/newIDE/app/scripts/extract-reference-document.js
https://github.com/4ian/GDevelop/blob/master/newIDE/app/scripts/update-examples-information-from-resources-examples.js
(etc)

[2020-02-16 22:39] 4ian commented on #1426
You can't include images from emails, please use GitHub to attach your image and files :) (do it too rather than hosting things on website like mediafire that are full of ads)

[2020-02-16 22:39] arthuro555 commented on #1435
Oh, ok thank you, I will try that. But why does it works without any promise like interfaces on the browser?

[2020-02-16 22:42] 4ian commented on #503
We for sure won't find a perfect library that is popular, battle-tested, without bugs and with tiled support.
But I would rather prioritize a popular and battle-tested library - even if missing Tiled support - rather than one for which we're less sure about its usage in large games and with less community.
The reason is that we can easily add a Tiled parser on top of a robust library. Even better,

[2020-02-16 22:44] 4ian commented on #1435
It does not work without promise :) The promise is launched, waited for, and then a global `gd` object is set so that it can be used everywhere (mainly for historical reasons).

See the file you've linked, it's doing exactly what I'm describing.

[2020-02-16 22:50] arthuro555 commented on #1435
Ok thank you very much for your time! I have a small question left however. How do I let GDevelop.js know where Runtime files are? So that I can use export for example. Do I have to make it a node module like import GDJS Runtime does?

[2020-02-16 22:54] 4ian commented on #1433
Thanks!
I think we could fix some strange behaviors of the ball by reworking the Bounce behavior - which does not work well when the ball is colliding multiple bricks. Apart from that, looks nice :)

[2020-02-16 23:03] 4ian commented on #1435
You have to:
- Know the path to the `newIDE/app/resources/GDJS/Runtime` folder (that was copied by import-GDJS-Runtime.js). You probably know this because you know where you script is located.
- Pass it to `gd.Exporter`, as second argument.

You also need to pass a `gd.AbstractFileSystemJS` to `gd.Exporter` as first argument. See how it's done here:

https://github.com/4ian/GDevelop/blob/master/ne

[2020-02-16 23:06] arthuro555 commented on #1435
I meant "Can I choose the path to the runtime files", because I don't want my app to run in a react app, so putting it into the resources folder isn't what I want

Arthur.

________________________________
From: Florian Rival <notifications@github.com>
Sent: Monday, February 17, 2020 12:03:25 AM
To: 4ian/GDevelop <GDevelop@noreply.github.com>
Cc: Arthur Pacaud <arthur.pacaud@hotmail.fr>; Author <a

[2020-02-16 23:07] 4ian commented on #1435
Then you need to do an "import-GDJS-Runtime" for your app too yes :)

[2020-02-16 23:10] arthuro555 commented on #1435
Yes but how? How can I tell gd the location of the runtime files?

[2020-02-16 23:12] arthuro555 commented on #1435
Oh wait NVM my email programm cutter off the end of your message about finding GDJS and passing it to the exporter :man_facepalming: sorry and thank you for answering my questions!

[2020-02-16 23:12] #1435 closed

[2020-02-16 23:16] PascalLadalle opened #1436 "Object name not renamed triggers an error"
## Describe the bug
If you right-click on an object and choose Rename, but do not rename the object, it triggers a same name error, [like it used to do with scenes](https://github.com/4ian/GDevelop/issues/958).
![image](https://user-images.githubusercontent.com/25978830/74614688-59741200-511a-11ea-84b4-a01a3d17cda9.png)

[2020-02-16 23:17] 4ian commented on #1436
@Bouh @arthuro555 If anyone want to pick this, should be a quick fix! ;)

[2020-02-16 23:40] Bouh commented on #1436
Oh yeah i see this too, sorry for that and thank you @arthuro555  for this fix!

[2020-02-16 23:53] Bouh commented on #1
Oops
I will no use hashtags in next comments for avoid to create references.

[2020-02-17 10:07] blurymind commented on #503
One potential problem we might have with using the tilemap library on pixi's git is that it is tied with rpg maker mv and the devs keep breaking it. Even now if you try to open one of their online demos you will find that its failing to load. It's not very clear how to start it either.
It can not parse tmx data, so either way we will need to use tmx parser to do that - no way around it.

The Reyna

[2020-02-17 13:49] blurymind commented on #503
I will try this demo tonight and see if I can alter it to use a parsed tmx file
https://github.com/Alan01252/pixi-tilemap-tutorial
just looking at the code
https://github.com/Alan01252/pixi-tilemap-tutorial/blob/master/lib/pixi-tilemap.js
it seems very manual/hacky how its done, especially compared to riebel's which takes about 10 lines of code and is infinitely simpler

[2020-02-17 14:16] Silver-Streak commented on #503
Blurymind:
Sample Isometrix TMX file: https://github.com/tipsy/isometric-tiles/tree/master/sample
Here's a bunch of other example TMX files, both for Hexagonal, Isometric, and Orthogonal: https://github.com/bjorn/tiled/tree/master/examples

Definitely not a contributor to the project, so my input may not have much sway here, but I'd be inclined to believe a simpler library like Reynau's may have a

[2020-02-17 15:10] blurymind commented on #503
@Silver-Streak Thank you. I am already using the official examples, but the isometric one will come in handy.

I found yet another library here
https://github.com/finscn/tiled-kit.js
it has isometric support but its not pixi, so probably cant use it. On tmx parsing, I found that actually pixi itself has a loader class that can parse tmx - from a comment - but that needs to be tested

We can also u

[2020-02-17 19:06] blurymind commented on #503
https://github.com/Prozi/tiled-utils
seems to be the only one that supports isometric tilemaps
it has some unit tests and has been made for some engine called hexi
https://github.com/kittykatattack/hexi

[2020-02-17 20:09] THE-GEM-TUTORIALS commented on #1426
thanks for the advice well i have completed the flappy bird example and would like you to check it out and let me know your suggestions and also what should be written as the explanation for each event.
[Flappy bird.zip](https://github.com/4ian/GDevelop/files/4216009/Flappy.bird.zip)

[2020-02-17 20:55] 4ian commented on #1426
Wow this is great improvements! 🤩 Looks awesome and is really close to the original gameplay. Well done!

A few comments, but overall this looks great :)

* Prefer using `TimeDelta()` (see the end of http://wiki.compilgames.net/doku.php/gdevelop5/tutorials/basic-game-making-concepts) for this:
  ![image](https://user-images.githubusercontent.com/1280130/74685383-50d91580-51c6-11ea-859a-f9c090dfe81

[2020-02-18 10:32] adilkt opened #1439 "New example"
Hi!

  I'd like to submit a new example to be added to GDevelop.
  Here is the link to download it: **INSERT the link to your game here, or add it as an attachment**.

  I confirm that any assets can be used freely by anybody, including for commercial usage.

[2020-02-18 16:12] arthuro555 commented on #1436
I guess this can be closed now?

[2020-02-18 16:13] arthuro555 commented on #1439
@4ian this is just a template and can be closed

[2020-02-18 16:47] THE-GEM-TUTORIALS commented on #1426
thanks i will work on that and get back to you

[2020-02-18 16:53] Keevle commented on #503
Wouldn't basic support for normal Orthogonal Tile maps to begin with be a better start.Then if more people are interested in isometric support or any other format update the solid and proven foundation to include said feature

[2020-02-18 16:56] Silver-Streak commented on #503
I agree with this. Orthogonal TMX support with an easily understandable codebase is probably the optimal starting point. Supporting other tilemap orientations could even be a GSOC style thing.

[2020-02-18 17:20] arthuro555 commented on #1434
Indeed, but there also isn't any controller input example. Maybe it is meant to be the multiplayer-platformer-with-gamepad example? This sone isn't on the website at all. Anyways, the problem doesn't come from the gdevelop software so it should be moved to https://github.com/4ian/GDevelop-website as it isn't a software issue but the website that has outdated links apparently.

[2020-02-18 18:30] blurymind commented on #503
maybe some day rpg maker devs will be interested in supporting an isometric one? I would be interested in adding it to riebel's implementation if more people wanted it, since I can understand the codebase better, but for now will continue to investigate rpg maker's renderer + tmx parser as an option

[2020-02-18 19:53] Silver-Streak commented on #503
As always, I defer to 4ian, you, and the other contributors. However, when I hear "understand better", my mind translates that to "easier to implement" and "easier to support". If that's accurate I'd throw my opinion behind Riebel's or Reynau's over anything else.

[2020-02-18 19:58] PascalLadalle opened #1440 "Object name can't be selected"
## Describe the bug
When editing the name of an object, the text cannot be selected with the mouse. Instead, it drags the object.
![image](https://user-images.githubusercontent.com/25978830/74773031-623b2400-5291-11ea-8ea4-38f24f978c51.png)

Not happening with groups, scenes and layers.

[2020-02-18 20:04] #1439 closed

[2020-02-18 20:05] 4ian commented on #1436
Yes, fixed for next version. Thanks! :)

[2020-02-18 20:05] #1436 closed

[2020-02-18 20:09] blurymind commented on #503
I am trying to get the rpg maker one, with json file parsing. Not sure if we would need something special added to gdevelop itself  to load tmx xml files.

Can you guys give me a huge tiled fileto test performance with? I want to compare fps of riebel vs rpg maker  mv pixi-tilemap

[2020-02-18 20:28] PascalLadalle opened #1441 "Selecting an item doesn't close the pop-up ("autocomplete" component issue)"
Somewhat similar to #859

Actual result:
In the event list, after editing a field, the textbox remains open. Return does not work. As a result, tab navigation is lost (not disabled, the current position is lost). Esc deletes the value, which I find unusual.

Expected result:
When clicking on a field with a dropdown list (objects, variables...), the box should disappear once an item has been select

[2020-02-18 20:51] 4ian commented on #1434
Fixed the links, the website was outdated. Ideally we would have a CI on GDevelop-website repository that would update the ExamplesInformation.js file (by getting it from this repository) every day and push the changes (if any).

[2020-02-18 20:51] #1434 closed

[2020-02-18 20:57] 4ian commented on #1441
Yes the autocomplete component is a bit unusual, I want to replace it at some point (that will also solve compatibility with iOS/Android/touch screens) by https://material-ui.com/components/autocomplete/

[2020-02-18 21:06] 4ian commented on #503
Before making a choice, let's make a table with:

| Library  | Battle tested? |  Performance | TMX support ? | Codebase clean/actively developed? | Isometric? |
| ------------- | ------------- |----|----|----|-----|
| pixi-tilemap  | Yes (links?)  | 60fps on blabla | No, we have to code it | Blabla | No |
| riebel/pixi-tiledmap  | ?  | 60fps on blabla | ? | ? | ?  |

Maybe we don't need everything

[2020-02-18 21:08] 4ian commented on #503
Yes, I agree. We must *not* rule out a decent library just because it's lacking isometric tiles. I understand that it would be great, but I prefer a performant tilemap extension with TMX support that is sadly lacking this feature than an under-tested tilemap extension without TMX support.

[2020-02-18 22:40] blurymind commented on #503
with the skeleton extension @Lizard-13 gave us something that virtually doesn't work outside of gdevelop and only we have to develop/maintain in C++ - arguably the hardest to learn and code in language possible. This is not the case with any of the libraries here. All of them have their individual git trackers, with many likes and contributions and are used by pixijs - arguably one of the biggest

[2020-02-18 23:16] Bouh opened #1444 "Web editor can't export"
## Describe the bug
In web editor we can't export with advanced export.

![image](https://user-images.githubusercontent.com/1670670/74786436-fd8dc280-52ac-11ea-99a5-4686fae1eafe.png)

## Other details
* [editor.gdevelop-app.com](https://editor.gdevelop-app.com/)

[2020-02-18 23:36] 4ian commented on #1444
This seems specific to this example and due to the fact that this resource should be removed:

![image](https://user-images.githubusercontent.com/1280130/74787510-4a6e9a80-52a7-11ea-88a8-6f9f09663eb3.png)

Not sure if we should *not* fail in case of missing resources like this in the web-app, like in the desktop app.... on the other hand this could hide more problems later if we allow external res

[2020-02-19 00:00] Silver-Streak commented on #503
@blurymind I can easily make a tmx file with 3000+ tiles. Is it okay if they don't have collision, or are you looking for collision over all of it as well?

[2020-02-19 00:05] blurymind commented on #503
So I am now looking into parsing the tiled data manually to serve it to pixi-tilemap. I need to use the tileset data in the tilemap in order to slice up the image file that it is using. Some of the libraries I listed here already to that, so I am looking for inspiration in
https://github.com/Prozi/pixi-tiled-utils/blob/master/lib/extract.js
https://codepan.net/gist/9cb3058fd8c27d346bdcc97f440a3c35

[2020-02-19 00:35] Silver-Streak commented on #503
Well, here's a tilemap with over 3150 tiles (3150 bg layer tiles, about 1000 foreground layer tiles). Some with collisions, some without.

Also included are the tileset files.

Just to assure proper attribution incase someone randomly grabs these These are all using free-to-use graphics from Ansimuz on itch.io at https://ansimuz.itch.io/gothicvania-patreon-collection

[Example TMX and TSX files.zi

[2020-02-19 11:37] blurymind commented on #503
So tiled has a nice thing that lets you draw polygon objects ontop of your map. Once we have something decided and rendered, one thing I could try to do (in another pr?) is use that polygon points data to create gd collisions. We are still far from that stage though :)

[2020-02-19 12:27] 4ian commented on #1426
Great, let me know when you have an updated version and I will add it to examples :)

[2020-02-19 12:31] 4ian commented on #746
Closing as functions are now available in custom extensions made with events.

[2020-02-19 12:31] #746 closed

[2020-02-19 12:32] 4ian commented on #723
Closing as we'll keep referring to "Instance" to make things clear, even if it's more terms to know for the first time user.

[2020-02-19 12:32] #723 closed

[2020-02-19 13:55] Silver-Streak commented on #503
I can confirm drawing an object layer is MUCH simpler than setting up each individual tile collision in the tileset in the short term. I bet there is probably some efficiency gained in the long run doing the tile collision if you are doing multiple maps, but both are still way faster than making and stretching a bunch of collision sprite objects in gd5 right now. I am definitely for this idea.

[2020-02-19 15:00] blurymind commented on #503
@Silver-Streak I think that it should also be much cheaper than having the engine check for collisions on each tile.

The rpg maker engine has a very old school jrpg-esque method to do that cheaply by using a tile-based movement.
Tile based movement is not something supported by gd to my knowledge, but could be something interesting to explore.

So how does it work? When you give the game input, i

[2020-02-19 15:12] Silver-Streak commented on #503
@blurymind There currently is a "grid-based movement" extension, but I wonder if this better fits for a movement style behavior like platform character and top-down character?

[2020-02-19 16:49] 4ian commented on #503
I think we can split the problem and think of collision and potential RPG like/cell by cell movement in a grid on a later stage:

1. If we have a performant/robust/easy to use tilemap object, it should not be too hard to iterate and develop an extension to make a "grid-based movement". As blurymind mentioned, this can be made cheaply in terms of performance by just asking the tilemap object "Does

[2020-02-19 17:10] blurymind commented on #503
So in tiled you pack pack your tileset with your tilemap (in a single tmx or json file).
A tilemap can have multiple layers. A layer can have objects with are unrestrained by tiles - you can create  giant polygons that cover an area and that data can then be used when exported.

A tileset can do the same thing - you can crate multiple objects if you like on each tile of the tileset. In that regard

[2020-02-19 17:13] Silver-Streak commented on #503
@4ian

For your question around Tiled:

- Tiled has a "collision editor" for Tilesets/.tsx files (not tilemaps/tmx files), which allows you to manually set up collision points for each tile within the set. When you use those tiles in a tilemap, it automatically adds the collision mapping you created for each tile. As blurymind mentioned, this could mean each rendered tile would have its own collis

[2020-02-19 17:17] blurymind commented on #503
Since gdevelop handles collisions by itself (not a PIXI thing), we will need to write the collision generation code ourselves. Luckily all of the data we need is neatly packed for us. We can use external libraries for the rendering, but we must come up with something a bit more custom for collisions from what I see

[2020-02-19 17:31] Silver-Streak commented on #503
@blurymind since users can have numerous layers in Tiled, I wonder if it's easiest to just specifically call out 'You must label your collision layer as "Collisions"' or something like that so it's easier to pick up by whatever import process is created.

[2020-02-19 17:36] blurymind commented on #503
@Silver-Streak I wonder if it will be worth doing what the Construct3 guys do and let the user select which layer of the tilemap to use in their tileMapObject.

On collisions, why not just turn all polygons exported from tiled into a collision?

[2020-02-19 17:44] Silver-Streak commented on #503
@blurymind Either option is fine (having the user select the layer is probably preferable).

As far as converting all polygons, some users of Tiled use polygons for actual objects, since you can fill them with a color and such. However, so long as it's made clear that polygons are always treated as collision, this isn't really a concern.

[2020-02-19 19:18] THE-GEM-TUTORIALS commented on #1426
hello i took some of your advice and added it to the game and it looks much better. But i left some out because they don't work the way they are suppose to after the change while for others i felt they wont be the best of events if added. I also added an event to notify the player once he or she has a new Highscore. Please let me know if it's ready or would need some more adjustment and also pleas

[2020-02-19 19:30] THE-GEM-TUTORIALS commented on #1426
Also could i make a tweet telling everyone about this example coming to GDevelop on twitter

[2020-02-19 22:32] PascalLadalle opened #1445 "copy-pasting quotes"
Maybe related to #855 ?
It just happened consistently, but after closing and reopening the two instances of GD, I'm unable to reproduce it.
The issue was that copy-pasting an event that contained quotes added quotes and backslashes to it. It first happened when pasting from one instance to another, but then it would do it within the same instance.
Hero.PointX("Barrel") would become (I should have

[2020-02-19 22:44] 4ian commented on #1445
Mmm, would look like a bad application of the adapter for legacy games that use to miss the quotes... but sounds really strange. Let me know if you can consistently reproduce this.

[2020-02-19 22:53] PascalLadalle opened #1446 "Topdown and keystroke limit"
A nasty naughty bug. 😞
The topdown behavior seems to be limiting the number of concurrent keystrokes to **two**, in most cases.

I have a player with topdown behavior and a classic firing using Space key condition and object creation action.
The problem is that the player won't fire if I use diagonals (press two arrows at the same time) **unless** the two arrows are Up and Right, and it won't do d

[2020-02-19 23:15] PascalLadalle commented on #280
Looks like this can be closed, I can't reproduce it.

[2020-02-19 23:33] 4ian commented on #1446
You're sure it's not the keyboard that have a key pressed limitation?

[2020-02-19 23:34] #280 closed

[2020-02-19 23:38] PascalLadalle commented on #281
From what I'm seeing, the real size is taken into account, but the rotation is not.
Tested with sprites and tiled sprites.

I'm tempted to link it to #975

[2020-02-19 23:53] PascalLadalle commented on #1446
Wrong github it seems, should have posted that on my keyboard manufacturer's 😅
I can do tons of combinations, but not arrows and space, except for up and right...

[2020-02-19 23:53] #1446 closed

[2020-02-20 00:15] 4ian commented on #1446
Ok good to know :) 👍

[2020-02-20 00:17] blurymind commented on #503
Here is some progress tonight:

I managed to parse some of the tiled data to pixi-tilemap renderer (the one rpg maker is using)
![tiledToPixi-tilemap](https://user-images.githubusercontent.com/6495061/74888598-51181300-5376-11ea-8678-a468655f6f73.png)

Some things to note:
It's kind of a pain in the neck, but doable
- tilemap objects can have sprites and collisions (see bushes in the example) -> s

[2020-02-20 00:46] Silver-Streak commented on #503
@blurymind  To make sure I understand your bullets:

This was tested using pixi-tilemap (https://github.com/pixijs/pixi-tilemap)
- It was difficult to implement
- Isometric maps are definitely not possible with this out of the box (OOTB)
- May be better to wait for Pixi5

For your 3rd bullet, do you mean tiled parsing methods from Reynau/Riebel aren't usable, or aren't usable in conjunction with p

[2020-02-20 10:30] blurymind commented on #503
Not difficult, just tricky in how the json object we get is structured :) we have different types of types and objects

Not with pixi-tilemap (rpgmaker mv renderer) no. So if we are going with it, isometric tilemaps should be a sepparate trello card

It was a general question to @4ian :) SHould I wait for the upgrade before I start comitting stuff to a PR?

On the contrary, some of them are usable

[2020-02-20 11:22] Bouh commented on #503
If we evolve the renderer , Pixi or coco ? Coco support tilemaps ?

Le jeu. 20 févr. 2020 à 11:30, Todor Imreorov <notifications@github.com> a
écrit :

[2020-02-20 11:35] blurymind commented on #503
We would need to write another renderer for coco :) some extensions already have that

[2020-02-20 18:02] 4ian commented on #503
Yes it's fair. For now the priority is the Pixi.js renderer for this TileMap object.
(Order is roughly: Performant renderer for Pixi.js first, Tiled or format support, then collisions, and more polishing during all of these, and then Cocos2d renderer).

This being said, it's interesting because this can be used as a comparison for the Pixi.js implementation. In terms of features, the API page can

[2020-02-20 22:19] blurymind commented on #503
One thing that has kind of put me off cocos in gdevelop so far really is the amount of setup you have to do to get it to work in the first place and how it is kind of secondary to pixi with not everything supported.

That said I am genuinely envious with the stuff cocos creator has supported out of the box - both their full tiled tmx support and absolutely complete dragonbones implementation and s

[2020-02-20 22:40] Silver-Streak commented on #503
Yeah, Cocos Creator has a ton of optimization stuff like: automatically building sprite atlases, tilemap and tileset support, building from within the engine (with a few external resources installed depending on the platform), etc.

However at that point it'd require all of the contributors to rip out all of the references to Pixi and hope there was an equivalent to Cocos, right? It'd be a whole r

[2020-02-20 23:13] 4ian commented on #503
If it was so simple, it would already have been made :)

Don't underestimate the work that has gone into GDevelop to actually make what it is. Cocos Creator is definitely a great product! It also has a different audience, and different goals. This is totally fair.

We're using as much as possible - but as a first step the renderer is the easiest part to use.

You don't have too!! I think I made cl

[2020-02-20 23:17] 4ian commented on #503
Not trying to stop the debate about Cocos Creator - don't get me wrong ;) Just making sure that we're staying on topic and *focused on the task* (and that we avoid the "grass is always greener on the other side of the fence" bias).

[2020-02-20 23:47] blurymind commented on #503
@4ian thank you for explaining this :)

Btw here is some progress on tiled parsing in pixi-tilemap (pixi4 version just in case),
I got it to now also parse game objects:
![objectsRendered](https://user-images.githubusercontent.com/6495061/74990450-4f645300-543b-11ea-87b0-492e0c3456bc.png)

[2020-02-21 01:17] Silver-Streak commented on #503
I did not expect this much progress in so little time. The idea of just a few loops loading in makes me think that this should be very performance efficient, and you've already got it pulling in objects. You rock.

[2020-02-21 08:59] HarsimranVirk commented on #1441
Hey, I'm trying to contribute for the first time.

I can't figure out exactly which component this is in the code. Is it the SemiControlledAutoComplete component in UI code?

[2020-02-21 09:10] 4ian commented on #1441
Hi and welcome!

Yes. SemiControlledAutoComplete is currently a React component based on `Downshift` and showing a material-ui `Textfield` with `Popper`. Downshift is a bit hard to customize on some things (like the Esc button, it's not customizable at all), and have some issues on mobile (text getting reset). So I would like to have it changed to be instead based on Material-UI autocomplete: http

[2020-02-21 09:40] blurymind commented on #503
Thank you. :) I want to get it on par in features with the other one so I can give them a fair performance comparison. The problem with tiled is that it has so many damn features, it can almost replace an entire game engine's ide

[2020-02-21 11:55] 4ian commented on #503
This is great :)

Interesting! How are they handled by pixi-tilemap?

That's very good already!

Yes, for this in your gdjs.RuntimeObject, you have a update method that is called at every frame by the game engine. Most objects that are not animated are just calling the pixi renderer to say "hey just be sure to be up to date":

https://github.com/4ian/GDevelop/blob/8c7ffe319acde38615b3532db00d3bf2e

[2020-02-21 12:17] blurymind commented on #503
It's interesting, according to this tutorial pixi-tilemap handles animated sprites by taking 2 extra parameters in the addFrame method
https://github.com/Alan01252/pixi-tilemap-tutorial

[code]
need to look more into this. Might be a pain in the neck

[2020-02-21 13:28] HarsimranVirk commented on #1441
Hello again, I tried implementing the Autocomplete but I'm stuck on this error. Storybook logs this:
`Object(...) is not a function
TypeError: Object(...) is not a function
    at useAutocomplete (http://localhost:9009/vendors~main.deb221014619c0345c3a.bundle.js:30126:101)
    at Autocomplete (http://localhost:9009/vendors~main.deb221014619c0345c3a.bundle.js:29285:91)
    at renderWithHooks (http:

[2020-02-21 14:07] 4ian commented on #1441
Take a look first at if you can solve the issue by yourself by Googling - because I don't know more about this autocomplete than you do, apart from me reading the docs :)
Take a look at this: https://github.com/mui-org/material-ui/issues/19360

[2020-02-21 14:34] Wend1go commented on #503
I guess animateX/animateY are for uv based animations where you can continuously move a seamless texture in a direction to animate flowing lava/water.

[2020-02-21 16:08] arthuro555 commented on #1440
I also had this issue with functions. IDK if it was fixed.

[2020-02-21 16:53] shadow00dev opened #1448 "Action to release the ladder in platformer object extension"
simulate release ladder action

can there please be a simulate release ladder action for gdevelop

the reason I ask:

it will be very helpful

[2020-02-21 19:31] Silver-Streak opened #1449 "[$200+ Bounty]Implement "Bitmap Text" object to avoid blurry or distorted text objects in pixel perfect games (and benefit from higher performance of the text rendering)"
## Describe the bug
When using a text object (or BBText object), if you resize the game, the text will become either blurry or distorted. This seems to have gotten worse since the release of the new resolution options and events related to them.

This occurs if you resize through any method, including by dragging and resizing the window, using fullscreen on a monitor that is a different resolution

[2020-02-22 04:04] vinurd opened #1451 "collisions do not disappear when a block is destroyed"
the blocks have a collision of the platform. Destroyed by the touch of the other block and subtract the variable life. The block disappears.But the conflict remains. I wrote on the forum about the error. There's silence.
Please double check that the bug is not already reported in the issues list.
https://forum.gdevelop-app.com/t/the-collision-of-the-platform-object-is-not-removed-although-the-obje

[2020-02-22 04:13] vinurd opened #1452 "Object ID Process Automation"
I've been working with the designer for a long time and I keep running into the same problem. ID / Yes I found a solution through variables. They work. But I have to ride an incredible bike. Not everyone will be able to repeat it. And here in the next project there was a question of 1000 objects.With which the player must determine the collision and only with them should the action occur. The prob

[2020-02-22 06:04] Silver-Streak commented on #1448
Isn't that just simulate jump? I don't think there is an actual "release ladder" action in the game to simulate.

[2020-02-22 11:28] 4ian commented on #1452
Please ask these questions on the forum, GitHub is only for development related discussions and verified bugs. Thanks! :)

[2020-02-22 11:28] #1452 closed

[2020-02-22 11:29] 4ian commented on #1451
Please reproduce a clear example first on the forum and get another community member to validate that there is an issue. Collisions are something implemented since a very long time, it's unlikely there is a bug.

[2020-02-22 11:29] #1451 closed

[2020-02-22 11:33] 4ian commented on #1448
Added on the roadmap. See other improvements to the platformer engine that can be done on the roadmap: https://trello.com/b/qf0lM7k8/gdevelop-roadmap?menu=filter&filter=label:Feat%3A%20platformer%20engine

[2020-02-22 11:37] 4ian commented on #1449
Thanks for the very detailed explanations :) 👍
I don't have any bandwidth to take a look at this but this is a very interesting project for anyone wanting to contribute to GD.

[2020-02-22 11:37] #146 closed

[2020-02-22 11:37] 4ian commented on #479
Closing as outdated.

[2020-02-22 11:37] #479 closed

[2020-02-22 11:39] 4ian commented on #1445
I'll close this as we don't have way to reproduce this but please re-open if you know how to trigger this.

[2020-02-22 11:39] #1445 closed

[2020-02-22 11:44] 4ian commented on #1351
Marking this as a good first issue because this would need a bit of changes in the C++ base classes for the event, so that they are able to expose a `std::vector` of `ParameterMetadata`. Then, use this in the `WholeProjectRefactorer` (and related classes) to also update these parameters :)

[2020-02-22 11:45] 4ian commented on #1113
Closing as fixed since a bit of time :)

[2020-02-22 11:45] #1113 closed

[2020-02-22 12:01] #1280 closed

[2020-02-22 12:02] 4ian commented on #1255
Thanks for making a tutorial :) For the game itself, I would prefer to have games that are using assets and art that is new from now though.

[2020-02-22 12:02] #1255 closed

[2020-02-22 12:04] 4ian commented on #1227
I'll close this because we need examples but either showing specific features or more complete game but with asset and arts that are unique :)

[2020-02-22 12:04] #1227 closed

[2020-02-22 12:06] 4ian commented on #1152
New actions available now are solving this :)

[2020-02-22 12:06] #1152 closed

[2020-02-22 12:08] #1125 closed

[2020-02-22 12:09] #1111 closed

[2020-02-22 12:09] #1090 closed

[2020-02-22 12:10] #1008 closed

[2020-02-22 12:11] #999 closed

[2020-02-22 12:12] 4ian commented on #986
Marking good first issue as easy to fix

[2020-02-22 12:13] 4ian commented on #965
Good first issue as not super high priority, but could be solved by a bit of JS in the index.html that reads the localstorage for the theme and if it's the dark one, immediately change the background.

[2020-02-22 12:14] 4ian commented on #1153
Closing as we now have a new action/condition editor - better create issue for this one in case there are enhancements to do

[2020-02-22 12:14] #1153 closed

[2020-02-22 12:15] 4ian commented on #963
Might need an update to latest Electron, flagging as good first issue.

[2020-02-22 12:30] 4ian commented on #764
This should be not too hard to finish and make in a real example, marking as a good first issue.

[2020-02-22 12:31] #677 closed

[2020-02-22 12:32] #329 closed

[2020-02-22 12:32] #294 closed

[2020-02-22 12:33] #241 closed

[2020-02-22 12:34] #166 closed

[2020-02-22 12:56] blurymind commented on #503
So the animated tiles support is going to be a bit trickier with pixi-tilemap, because it is expecting you to keep the animations in a separate image atlas from the one that holds the map.

I am having to take out the texture rects of each frame and combine them into a texture strip for every animated tile.
Trying to combine the textures is turning out to be tricky, as I am getting some obscure er

[2020-02-22 14:32] blurymind commented on #503
Ok so it turns out my data parsing had an error, now I think I am getting it to stitch them up, but need to figure out how to get them to play

[2020-02-22 15:20] blurymind commented on #503
Of course different frame count in animations also must be accounted for, otherwise you get this
![neckPainTiles](https://user-images.githubusercontent.com/6495061/75094865-e2f66a80-5586-11ea-9477-fb70c8be1160.gif)

[2020-02-22 15:52] 4ian commented on #1426
Added for next version and to the web-app: https://editor.gdevelop-app.com/?project=example://flappy-bird :)

Thanks a lot for your work on this, the example looks really nice!
Feel free to tweet about it for sure 👍

[2020-02-22 15:52] #1426 closed

[2020-02-22 15:53] 4ian commented on #1433
Finally had the time to update the game for next version. It's also updated in the web-app right now: https://editor.gdevelop-app.com/?project=example://breakout (you may have to clear your cache).

Thanks for improving this! :)

[2020-02-22 15:53] #1433 closed

[2020-02-22 16:03] twistcharlie opened #1454 "in-between condition"
in-between condition

in-between condition is a simple thing like
there will be 3 objects 2 for the outpart and 1 for the inside part aka
the in-between

[2020-02-22 16:03] THE-GEM-TUTORIALS commented on #1426
Thanks alot, I can't wait for the next version

On Sat, 22 Feb 2020 at 16:52, Florian Rival <notifications@github.com>
wrote:

[2020-02-22 16:12] #1454 closed

[2020-02-22 16:12] 4ian commented on #1454
Please go first on the forum and follow the templates for opening an issue. Thanks!

[2020-02-22 17:18] blurymind commented on #503
Ok so the way pixi-tilemap handles animated tiles makes it almost unusable for any textures that dont have it properly sorted.

I can suggest to just use ordinary pixi movie clip for animated tiles and not render them in pixi-tilemap at all. it's api to deal with animations is just horrible

[2020-02-22 18:06] 4ian commented on #503
Let's start simple then and forget about animated tiles for now!

[2020-02-22 18:18] blurymind commented on #503
For the purpose of being able to properly parse tiled data, we must abandon using pixi-tilemap for  animated sprites, but we can use it for all of the other rendering

[2020-02-22 19:26] blurymind commented on #503
@Silver-Streak your example test file zip lacks the images, so I cant use it

[2020-02-22 20:32] yashrajbothra commented on #1440
Can i try to work on this issue?

[2020-02-22 21:14] zatsme commented on #764
Hi 4ian, I wish I had time to make more examples for GD5 but not at this moment ☹️

The zip from 3/3/2019 above is the latest code I have 👍

Still watching progress though, this past year GD has really kicked on, great work all!   Hopefully will be back having fun with GD soon 😃

Zat

[2020-02-23 01:29] PascalLadalle opened #1455 "Default collision mask is wrong"
## Describe the bug
This one gave me a hard time because I thought it was a pathfinding issue.
I have soldiers with topdown and I have a "move soldiers away from Tank" action.
Soldiers have various animations, and custom collision masks. But the collision mask for the walking animation was left as default.
This happened when soldiers walked straight right.
![image](https://user-images.githubuserco

[2020-02-23 06:02] Silver-Streak commented on #503
Working on fixing now.

[2020-02-23 06:05] Silver-Streak commented on #503
Here you go. Sorry about that @blurymind .
[TMXTSX Files - Now with Images.zip](https://github.com/4ian/GDevelop/files/4240654/TMXTSX.Files.-.Now.with.Images.zip)

[2020-02-23 09:49] Silver-Streak commented on #1449
If anyone can/wants to take a look at this:

I've started looking at the code snippet here: https://codepen.io/Tazy/pen/wJVExB?editors=0010

While I haven't used Javascript in years, I believe most of this could be accomplished by simply updating the Pixi Renderer code for TextObject runtime (likely textruntimeobject.js, textruntimeobject-pixi-renderer.js), to ensure it's scale is always set to 1.

[2020-02-23 11:21] 4ian commented on #1440
Sure feel free to go ahead and give it a try!

[2020-02-23 11:36] wapiti4 opened #1456 "Top right icons not updating properly when opening Yarn file"
## Describe the bug
A clear and concise description of what the bug is.
This is as written in forum: [https://forum.gdevelop-app.com/t/bug-top-right-icons-not-updating-properly-when-editing-a-yarn-json-file-in-external-event/22867](url)

When opening a JSON in Yarn Builder from an External Event page, going to another tab will not update the buttons as it should :
![image](https://user-images.gith

[2020-02-23 12:26] blurymind commented on #503
So I have animated tiles now, but the disadvantage of having the animated ones rendered outside of the tilemap is that they get rendered without the correct zorder
![zOrdering](https://user-images.githubusercontent.com/6495061/75111978-6374a400-5637-11ea-8e6a-16055a807cd4.gif)

I am really not sure how to tackle this without changing pixi-tilemap itself

So anyways, I will put up an example test p

[2020-02-23 13:13] blurymind commented on #503
Posted at the pixi-tilemap tracker, we might be able to get some help from the dev community, but it might require having to do a PR to pixi-tilemap itself. My shader knowledge is a bit limited, so this might take a while.

I think I am actually lucky to have started with the viking island demo file, since it really makes it obvious what the parsing challenges are

[2020-02-23 17:13] yashrajbothra commented on #1440
Hey @4ian should we stop the dragging feature while renaming ?

[2020-02-23 18:22] 4ian commented on #1440
Yes that's probably a solution!

[2020-02-23 18:37] PascalLadalle opened #1461 "Field hidden in part in Function editor"
Inside the function editor, I can't see the whole input field of my root-level Repeat event.

When the right pane takes more than half of my monitor:
![image](https://user-images.githubusercontent.com/25978830/75117658-b2402f00-5673-11ea-8d5a-dc81a74e54b5.png)

When the right pane is less than half of my monitor:
![image](https://user-images.githubusercontent.com/25978830/75117665-cab04980-5673-11

[2020-02-23 19:37] 4ian commented on #1461
I'm not exactly sure how the size of the pane has an influence on this, could you make larger screenshots to be sure?

[2020-02-23 19:49] BoldHonor commented on #1440
can you please tell me what technologies are used for gui?

[2020-02-23 20:15] PascalLadalle commented on #1461
You are right, it's not related to the size.
Further testing reveals it's hidden by the Behaviors title bar, no matter the size of the panes.
![image](https://user-images.githubusercontent.com/25978830/75119265-7c09ac00-5681-11ea-89ef-c1f7ce20e34b.png)

[2020-02-23 20:25] 4ian commented on #1440
@BoldHonor Please inspect the code by yourself :) It's actually the very first line of one README file.

[2020-02-23 20:44] PascalLadalle opened #1463 "Ghost collision mask"
From user 'vinurd' on the [forum](https://forum.gdevelop-app.com/t/the-collision-of-the-platform-object-is-not-removed-although-the-object-has-disappeared/22836):
![image](https://user-images.githubusercontent.com/25978830/75119294-bf641a80-5681-11ea-88bf-ad71dcdbac12.png)
When this specific block is deleted, the hitbox remains, even though the instance is deleted (confirmed in debugger). Instance

[2020-02-23 22:23] 4ian commented on #1463
Can you explain the exact steps to reproduce the issue? I've not being able to have the issue, getting this Rock destroyed does not produce a ghost for me.

(if possible when posting a project like this, specify the scene name, and what to do, this greatly improve the time for me to inspect these bugs. Thanks!)

[2020-02-23 23:56] Bouh commented on #1463
I've spend 2 hours on this and i've found nothing.
The eventsheet should be simplify, remove useless events not related to punch, rocks and player.
Same for objects on scene. Keep the minimum.

[2020-02-24 07:40] paulera opened #1464 "Layer effects not applied in Firefox"
## Describe the bug
Layer effects are not applied to HTML5 game when opening in Firefox. Shows fine in Chrome.

## To Reproduce
1. Use Firefox
2. Open the game https://itch.io/embed-upload/1940180 (alternative: https://unforgivenexception.com/games/itroubled/index.html)
3. Press space in the intro screen to go to the gameplay.

## Expected behaviour
* CRT and Sepia effects applied during gameplay.

[2020-02-24 09:00] 4ian commented on #1464
Your version of Firefox seems to run the game in "Canvas" mode, meaning it's not being rendered with WebGL. What's your computer configuration and graphic cards?
Firefox must be disabling WebGL for some reason, potentially incompatibility with your graphic driver.

I've been testing on a MacBook Pro and can see the effects on FF :)
![image](https://user-images.githubusercontent.com/1280130/7513892

[2020-02-24 12:14] PascalLadalle commented on #1463
I didn't need to do anything special to trigger the bug, just moved the player straight to that rock, clicked several times to punch/delete it and jumped on the ghost.
Strange that the bug doesn't occur with you. 🤔
Here's a video from vinurd: https://www.youtube.com/watch?time_continue=60&v=nyoAlImRDWE&feature=emb_logo

I agree that the events aren't very clean, but the instance is deleted, so the

[2020-02-24 12:41] blurymind commented on #503
Some update on this, the author of pixi-tilemap recomended that we use gl-tiled instead of pixi-tilemap if we want to have better support for animated tiles
https://github.com/englercj/gl-tiled#framework-bundles
It seems to be extremely efficient, demo here:
https://englercj.github.io/gl-tiled/_demo/basic/

It is however pixi-agnostic, it is not a pixi library, but a WebGL renderer. @4ian do you t

[2020-02-24 13:39] Bouh commented on #1463
I had the problem, I spent two hours trying to figure out why he was there.
The user should delete anything that is not useful for the bug.
I no longer debug complete projects there is too much possible interference. And it's a waste of time searching through all the events and scenes.

[2020-02-24 14:08] arthuro555 commented on #1464
I can see the effects on firefox windows 7

[2020-02-24 15:55] 4ian commented on #1464
So while this is a "feature" and not a bug (being able to run without WebGL, thanks to Pixi.js Canvas implementation). This is indeed surprising. We can think of adding a message in the console to explictly tell "This game is running with a Canvas rendering, without WebGL. Effects won't be shown." (flagging this as a good first issue).

[2020-02-24 19:46] zatsme commented on #1463
Long time no see 😃

I just had to try this as I remembered from last year, maybe longer, the same issue from before.

I cannot find the old forum post/issue but I tested this and it's as before....

Rock in the example has 2 sets of animations. the first anim 0 is 59px X 64px whereas all the other ones are 64 X 64px

Change the initial Rock anim to 64x64 and the problem goes away!

4ian I can't re

[2020-02-24 20:25] PascalLadalle commented on #1463
Yes, I remember that issue, it was flagged in the official platformer example, if my memory serves me right.
Well done 👍
So it's not only inside a single animation, the size must match in all the animations.

If it can't be fixed, can we have a warning, below the object name or next to the Help button, either always (easier), or only when different sizes are detected?
And we should update the reso

[2020-02-24 21:24] 4ian commented on #1463
Interesting, might be more like a edge case in the platformer behavior :) Any chance you can reproduce this in the platformer example or in this game but with something that automatically shows the bug?

[2020-02-24 22:10] PascalLadalle commented on #1463
I think that's the bug zatsme was talking about: https://github.com/4ian/GDevelop/issues/909
Not quite the same, but related to different sprite sizes.

[2020-02-24 23:21] 4ian commented on #503
The GL tiled seems interesting, but is indeed stepping outside of the realm of Pixi.js. Might be interesting to test it, but it is WebGL only so won't work when Pixi.js is using Canvas rendering.

This is kind of ok because in the future Pixi.js will only support WebGL. Still we should see if it's the case for pixi-tilemap, so that we know if we're comparing the same thing.
Integrating gl-tiled wi

[2020-02-24 23:47] Silver-Streak commented on #503
@blurymind Is this something where it's back to being better to use Reynau or Reibel's repository instead of pixi-tilemap?

[2020-02-24 23:56] pringon opened #1465 "Top down movement behavior does not allow moving North-West"
## Describe the bug

After enabling `Allow Diagonals` you are able to move diagonally in any direction except North-West (up + left).

## To Reproduce

Steps to reproduce the behavior:
1. Create an example isometric game
2. Launch a preview of the game
3. Press left arrow key
4. Press up arrow key

## Expected behavior

The character starts moving towards NW (diagonally top-left)

## Resulting beh

[2020-02-25 05:40] wapiti4 commented on #1465
Do you mean this isometric example game? That works fine for me.
![image](https://user-images.githubusercontent.com/54391800/75218162-5b05a000-57d4-11ea-8752-04c2d0122081.png)

Suggest you to check if your keyboard has a problem with Up+Left: in this page, just press the two keys together, and see if they are grey at the same time.
http://keyboardchecker.com/

[2020-02-25 07:37] Wend1go commented on #1464
In fact, you can already react to this with the "Is WebGL supported" condition. And display a message on screen using a text object.

[2020-02-25 08:21] 4ian commented on #1464
This is very true! A message in the console might be useful for "debugging" but otherwise yes this condition is useful for the game itself :)

[2020-02-25 09:36] blurymind commented on #503
I almost managed to fix pixi-tilemap's frame cycling issues on animated tiles and wrote a parser than can give it most of the rendering data - so that one is still high in my options. Will put up a test project soon - just want to get the rendering working 100%.

riebel's library doesnt parse objects I found, so I am thinking of taking it off the list. Reynau 's needs more testing.

gl-tiled is ac

[2020-02-25 19:11] deadpool1999 commented on #1449
Is this the right place I am looking at : https://github.com/4ian/GDevelop/blob/master/GDJS/Runtime/runtimescene.js
in this file the "onGameResolutionResized" fuunction.
If yes, please help me in understanding what is _layers here.

[2020-02-25 19:24] Silver-Streak commented on #1449
I _think_ _layers is the call for returning the layer name. I'm not a dev though and could be 100% incorrect, so I'd wait for 4ian, Bouh, or another Contributor to confirm.

[2020-02-25 19:34] blurymind commented on #503
I submitted a PR adding the ability to limit animation frames on individual animated so - so as to prevent tiles with different animation lengths from spilling into each  other.
My implementation passes two new parameters to the shader and applies a mod operation to ensure that cycling works properly

If that gets in, I will be able to continue with trying to improve my parser to restitch a textur

[2020-02-25 19:40] 4ian commented on #1449
I'm not sure we have a precise solution here @deadpool1999. As the label "🙇‍♀️Careful thinking/design or refactoring needed" indicates, there is probably some more complex underderstanding of how text work. I'm not actually sure there are even changes to do in `onGameResolutionResized`. For `_layers`, the name is pretty much saying it all, it's a variable containing layers. What's layers? You can

[2020-02-25 19:58] 4ian commented on #503
Make sense to me. Let's see how it goes!

Yes, at least it's not a naive implementation.

[2020-02-25 20:58] 4ian opened #1469 "Upgrade exported games to latest Electron version"
We should upgrade to the latest Electron version. This might solve some crash issues/incompatibilities and is a good idea to be on the latest versions.

Thing to do:
- [ ] Check the release notes between the current Electron version and the new one
- [ ] Verify if there is anything notable or API that must be updated.
- [ ] Upgrade in the package.json
- [x] ~~Check if the whole app seems to work w

[2020-02-25 21:02] 4ian opened #1470 "Upgrade to latest create-react-app version"
We should upgrade to the latest version of create-react-app.

Things to do:

- [ ] Check the release notes to see if there is any breaking changes
- [ ] Do the upgrade in package.json
- [ ] Check that the web-app still works (localhost:3000)
- [ ] Check that the standalone Electron app still works
- [ ] Verify that there is no warning/issues.
- [ ] Verify that `npm run storybook` still works. It h

[2020-02-25 22:16] pringon commented on #1465
You are right. Sorry for that will close this now. :D

[2020-02-25 22:16] #1465 closed

[2020-02-25 22:32] blurymind commented on #503
Some progress report, here is the new feature I added to pixi-tilemap  in action. It makes this possible
![frameCycle](https://user-images.githubusercontent.com/6495061/75292670-8ca25980-581c-11ea-945e-2ef73855f313.gif)
The coin has 9 consecutive frames, the viking on the right has 5,
The viking in the middle is the edge case that I plan to fix with a different workaround - he is the one that has

[2020-02-25 22:44] 4ian commented on #503
Encouraging progress! Good job 👏
Hopefully the port from v4 to v5 will be very simple.

We must strike a balance between feature and ease of implementation - might be ok to stop now once you have the animation working to your taste. Will still be a great basis (and less feature means that in the future it's easier to port this to a new library, new engine or even new platform).

Looking forward to

[2020-02-25 23:36] Silver-Streak commented on #503
Just to confirm, do you have polygon's coming over or collisions? that's still pretty important, right? (either or, as I'd assume the imported polygon could just be assigned the platform object behavior for collision, if it wasn't imported as a collision map already)

[2020-02-26 08:34] 4ian commented on #503
I don't think that's yet the case, Blurymind has to work step by step :) That should be the next step once rendering result is satisfactory and tiled support is considered ok (for rendering again).

[2020-02-26 09:41] piyushpalawat99 commented on #1470
Can I work on this issue?

[2020-02-26 10:08] blurymind commented on #503
Yes, its as @4ian says. We need to first decide on a library before I can start writing a wrapper extension for gdevelop. Once I get the extension rendering in gdevelop, only then I can start thinking about how to handle collisions in gd - it's gd specific code that part.  I have the point data that can let me crate collision objects.

I had to take a detour to add a feature to pixi-tilemap to mak

[2020-02-26 10:59] 4ian commented on #1470
Sure! Feel free to go ahead :)

[2020-02-26 11:25] piyushpalawat99 commented on #1470
Can you tell me why

is in the "Things to do" list and how would the breaking changes affect the app?

[2020-02-26 12:24] 4ian commented on #1470
There can be changes in create-react-app that make the app unable to start, or some configuration files to be changed, etc..
Usually as long as the app is starting (web-app and electron) (and storybook too) it should be ok - create-react-app is doing the bundling of the app but not used at runtime.

[2020-02-26 12:42] piyushpalawat99 commented on #1470
Noted. Thanks.

[2020-02-26 13:16] 4ian commented on #1470
In other words, this might be a very simple upgrade or some unexpected difficulties can arise  - we'll see! :)

[2020-02-26 13:59] geetesh-gupta commented on #1440
Hey @PascalLadalle I am unable to figure out at which part you are facing this error. Can you pinpoint from where I can reproduce the error?

[2020-02-26 14:14] 4ian commented on #1440
This is the list of objects that is on the right when you're editing a scene.

[2020-02-26 14:15] geetesh-gupta commented on #1430
Hi @PascalLadalle Please confirm is the issue same as shown in this [https://gofile.io/?c=0WFBPW](video) . I am facing the issue while renaming an object. Until I change the current name, the field doesn't exit as shown in the video. If the issue is same, I would like to continue on this thread, otherwise create a new issue and work on the solution to the problem if @4ian agrees.

[2020-02-26 14:20] geetesh-gupta commented on #1440
@4ian Can I work on this issue?

[2020-02-26 14:27] 4ian commented on #1440
Sure, no need to ask for permission :) Though saying "I'm trying this" and/or "Finally I'm moving to something else" is useful to avoid multiple persons doing the same :)
If you get a fix working well, you can then open a PR.

[2020-02-26 15:13] jerrybuks commented on #1469
can I work on this?

[2020-02-26 17:14] PascalLadalle commented on #1430
Hi @geetesh-gupta
My problem is in the Events tab, not in the Scene tab like yours.
It's only related to the **Group** items and the **Comment** items.

[2020-02-26 21:35] 4ian commented on #1469
Yes feel free to go ahead and give it a try :)

[2020-02-26 21:56] jerrybuks commented on #1469
okay, I'm on it

[2020-02-26 23:24] blurymind commented on #503
Today I worked a bit on adding other libraries to my example pixi project in order to compare their performance.
I was surprised to see that both riebel and reynau's libraries lack object parsing. In that effect, I think my implementation with pixi-tilemap is actually more feature complete than those other ones!
 But it still relies on actually getting that PR to pixi-tilemap  I made merged - so w

[2020-02-27 16:39] Aparna-Sakshi commented on #1351
Could you please help me understand how to use expressions, at first I typed them in javascript code(I have checked the GDevelop wiki events->expressions), and made it a sub event to Repeat. Also nothing is visible in preview when I run it(I created a sprite object), is there any mistake am I doing?

[2020-02-27 17:46] 4ian commented on #1351
@Aparna-Sakshi The GitHub is not made for this, it's only for GDevelop development related discussion. Please ask on the forum! Thanks

[2020-02-27 21:49] arteevraina commented on #1470
I want to work on this issue.

[2020-02-27 22:55] gautamv95 commented on #986
Can I work on this?

[2020-02-27 23:04] 4ian commented on #986
Sure! Should be a bit of React/JavaScript to fix :)

[2020-02-28 00:05] blurymind commented on #503
A progress update today:
I got some time after work and made my tileset texture renderer to re-stitch the tileset from
![tilesettextureRestitcher](https://user-images.githubusercontent.com/6495061/75498032-f4dc7100-59bd-11ea-9bd2-f22c295b1923.png)
Its still not consuming all the graphics, but it's getting there :)

[2020-02-28 00:22] Bouh commented on #1317
There is a condition when we export game or launch a preview for remove the instruction who have a object not declared in IDE ?

I declare an object Shape Painter like this:

[code]

I've no error and i can access to object and draw with it through JS event.

But an classic action doesn't work, because the object isn't existing in the IDE?
![image](https://user-images.githubusercontent.com/1670670

[2020-02-28 01:01] Silver-Streak commented on #503
Every step closer to a full sprite atlas is a step closer to vastly improved filesizes for larger GDevelop games. This is amazing. Fantastic work!

[2020-02-28 06:40] triptych opened #1472 "Object set as Global Object does not appear in scene already open"
## Describe the bug
When an object is set as a global object, it does not appear in already open scenes until those scenes are either closed and reopened, or some kind of search happens in the object list.

## To Reproduce
Steps to reproduce the behavior:
1. Create a game with two scenes - such a A and B.
2. Open both scene A and scene B
3. In scene A create an object, say a sprite.
4. observe tha

[2020-02-28 06:53] triptych opened #1473 "Unable to drag and drop objects into scene using laptop mousepad"
## Describe the bug
Using the integrated touchpad on my laptop, I'm unable to drag and drop objects from the right hand object list into the scene.

Please double check that the bug is not already reported in the issues list.

## To Reproduce
Steps to reproduce the behavior:
Using an HP Pavilion laptop, open a project, then open a scene which contains objects on the right.
Attempt to drag an objec

[2020-02-28 06:57] triptych commented on #1218
Yes! I ran into this earlier today - would love to see a fix.

[2020-02-28 07:55] arteevraina commented on #1470
There are multiple json files in the project. Which json file we have to update in order to make the changes? @4ian

[2020-02-28 08:28] 4ian commented on #1218
We might think about improving the UI too to show the variable type (number, text or structure), and allow to switch from a primitive (number, text, in the future boolean) to a structure.
As a first step, removing the only remaining child of a structure should convert it back to a number.

[2020-02-28 10:07] piyushpalawat99 commented on #1470
@arteevraina I'm already working on this issue and will be sending a PR for the same soon.

[2020-02-28 10:14] piyushpalawat99 commented on #1470
And just for your info @arteevraina , the file that has to be changed seems to be this one: https://github.com/4ian/GDevelop/blob/master/newIDE/app/package.json

But, I believe Florian can confirm this once he takes a look at the conversation
I've already committed changes and am running app to ensure that everything runs smoothly. Would be great if you could take a look at some other issues.

Che

[2020-02-28 13:39] Bouh commented on #1436
Sorry the new fix from #1437 isn't the solution.
I've campare the current build with the lastest from master and i'have a problem.

When i rename the object,
Change tab and come back,
The focus is still active for rename the object.

In the current build:
I rename, i change tab, the message `Another object or group with this name already exists.` and focus is erased.

[2020-02-28 14:05] geetesh-gupta commented on #1440
Hi @4ian Can you guide me where the rename function is actually implemented? I have reached to the SceneEditor\index.js. There _onRenameObject() function is there that is supposed to be called whenever rename is done but I am unable to figure out where the actual renaming is happening.

[2020-02-28 14:06] blurymind opened #1474 "Idea - advanced shader script field for making pixi filters and sharing them as extensions"
So this is kind of a stretch, but what if we could write our pixi filters straingt inside gdevelop?
We already have monaco for editing, all we need then is a game object that can read the vertex shader code and render it.

There are already some open source apps that could let us edit shaders in real time and see the result
https://github.com/gkjohnson/webgl-shader-editor
try it here
https://gkjoh

[2020-02-28 14:23] 4ian commented on #1470
That's this package.json file - but looking at the content of the files, you could have deduced this, in theory no need for me to confirm anything here ;)

It's fine to work on same issue is you want to train, though obviously only one PR will be merged (well, depends, someone can find an issue that went unnoticed by someone else :))

[2020-02-28 14:33] geetesh-gupta opened #1475 "Issues while renaming an object"
## Describe the Bug
Similar to #1437
Until the current name is changed, the field doesn't exit as shown in this video https://gofile.io/?c=0WFBPW .

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'a new project'
2. Right Click on any object name
3. Click on rename option
4. Press Enter without changing the name
4. See error - it does not exit the field until renamed.

[2020-02-28 15:23] jimil749 commented on #1440
Hey @4ian,  is it fine that even I ponder into the issue, that way I'll be able to explore and understand the code-base.

[2020-02-28 15:39] Bouh opened #1476 "Scroll in list of parameters for extensions isn't scrollable [Web app]"
## Describe the bug
The scroll bar for function configuration in extension are not scrollable, only on web-app.

On screenshot for the function behavior, but it's same for classic function.
All tabs in **Function Configuration** are affected.

![image](https://user-images.githubusercontent.com/1670670/75562484-f30bbf80-5a48-11ea-997e-27d921cafd9c.png)

## Other details
- Only web app
- beta 88

[2020-02-28 16:01] 4ian commented on #1476
Damn, surely a flexbox issue where there is an extra/missing `flex`/`flex-basis`/`flex-grow`/`flex-shrink`. Always a bit of a pain to debug, but should be a question of time to find it with the Chrome debugger.

[2020-02-28 16:13] 4ian commented on #1440
@jimil749 Yes feel free to also take a look! :)

@geetesh-gupta:

If you see for _onRenameObject in the SceneEditor/index.js file, you'll find:
https://github.com/4ian/GDevelop/blob/ec9a629124947cf4bc45114052cf5652ae3bfc94/newIDE/app/src/SceneEditor/index.js#L986

Ok, so this is a prop in the `<ObjectsList` component. So let's find the prop in the ObjectsList file. It's declared there:
https://git

[2020-02-28 16:22] geetesh-gupta commented on #1440
Thanks @4ian for such a great explanation. It will help a lot in solving the problem. I will now try to further dig into the files to find the optimal solution.

[2020-02-28 17:53] geetesh-gupta opened #1478 "Overlapping highlighted objectList item"
## Describe the Bug
A UI issue, whenever a field is selected for renaming, its highlighted box overlaps with the object box below it. It can be seen in the screenshot.
![overlapping](https://user-images.githubusercontent.com/34645022/75573038-07b87980-5a82-11ea-8356-ab54d266a1c3.png)

## Fix
Remove top padding when highlighted.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'a new proj

[2020-02-28 18:05] deadpool1999 commented on #1476
May I please know which folder contains the code for this?

[2020-02-28 18:20] Bouh commented on #1476
Start your research with EventsFunctionConfigurationEditor component.

Le ven. 28 févr. 2020 à 19:05, deadpool1999 <notifications@github.com> a
écrit :

[2020-02-28 19:00] jimil749 commented on #1478
I did see the issue, maybe we could something like: whenever user selects rename, the entire text should be selected rather than putting the cursor add the end of the word.
Just a suggestion!  :)

[2020-02-28 19:05] geetesh-gupta commented on #1478
I think the issue is due to a styling class being added on focus. I have found out that Mui-focusVisible is added as a class when rename option is selected for an object. I have tried providing padding 0 using chrome inspector, it is working (check the screenshots).

When rename is not selected:
![without_rename_selected](https://user-images.githubusercontent.com/34645022/75579146-2cfdb580-5a8b-11

[2020-02-28 19:06] geetesh-gupta commented on #1430
Okay, @PascalLadalle I will try to have a look into it.

[2020-02-29 05:25] geetesh-gupta commented on #1430
I was thinking of possible solutions to the problem. Consider the following solutions:

1. On pressing enter, endEditing. --- Works perfectly for **Group** items because they are single line fields but for **Comment** items, this cannot be used.
2. Have text field width of **95%**, to allow 5% of right side area empty so that when clicked, it will endEditing   ---- these percentages are just tenta

[2020-02-29 09:10] piyushpalawat99 commented on #1470
When trying to build the web-app after setting `"react-scripts": "3.4.0"` in Ubuntu 18.04 LTS, the following error appears when running npm start:

[code]
I tried installing and running it twice but to no avail. Is there anything else I can do?

[2020-02-29 09:20] geetesh-gupta commented on #820
So, finally what should has to be done? Should we have separate keys or same keys?

[2020-02-29 09:26] geetesh-gupta commented on #1214
How to proceed with the issue?
I will use DialogFile -> VariablesList/VariablesEditorDialog.js and ListFile -> VariablesList/index.js as alias
I have figured out that ListFile has editRow component which actually modifies the variables. To have it always visible on the same row as Apply/Cancel, we have to move the component out of ListFile and write that in DialogFile but it will require passing t

[2020-02-29 09:27] geetesh-gupta commented on #1042
How to proceed with this?

[2020-02-29 09:34] piyushpalawat99 commented on #1470
After the above error, I changed the react-scripts version to what it was before and everything works fine now, so the error seems to be due to a change in the react-scripts version.

Following are the breaking changes I found related to react-scripts:
Fix RegExp from navigateFallbackBlacklist (workbox)
Update url-loader to 2.0.1
A number of breaking changes in create-react-app v3.0.1: https://git

[2020-02-29 09:48] jimil749 commented on #1476
Hello!

I did look into the issue and found the problem. Just had to provide predefined height to the outer container and that seemed to make the function configuration scrollable.
![Screenshot from 2020-02-29 15-11-27](https://user-images.githubusercontent.com/47107987/75605176-81924680-5b06-11ea-845f-5654ed2321c2.png)

I did this using Chrome dev tools.

[2020-02-29 10:40] 4ian commented on #1472
Yes the UI is not properly refreshing more generally when global objects are changed. Would need some clever solution to trigger a refresh of the object lists - maybe just refresh the object lists when a tab is activated?

[2020-02-29 10:42] Quarkstar opened #1482 "Piskel editor's Hash error"
## Describe the bug

I am trying to build GDevelop with the latest commit `6155606d20830dfb01299f815fb72c92afc380c4`.
I found that the hash of piskel-editor downloaded from https://github.com/4ian/GDevelop  is `b8e4d57b160ff93d3680168cd271af795412ea6c4c0da321aee2946345c7fb75` and the excepted one is `e02f67866b338b4cc577e1ffa48f55f52cd520ed751dccc6f0931e3c1b995de0`.

## To Reproduce
1.  cd newIDE/

[2020-02-29 10:43] 4ian commented on #1473
Is it a touchscreen? Can you try to start drag'n'dropping on the object icon rather than on the object text?

[2020-02-29 10:45] 4ian commented on #1478
This is not critical but would be a welcome fix. I'll let you investigate in React components - this is typical search in React components and I would prefer not to have to guide people here.

[2020-02-29 10:47] 4ian commented on #1482
This is working on my mac, needs some double check about why this is wrong

[2020-02-29 10:53] Aparna-Sakshi commented on #1351
I am extremely sorry for this. Where can I ask such questions question
(which channel in discord )?  I am sorry to bother you with silly questions.

On Thu, Feb 27, 2020 at 11:16 PM Florian Rival <notifications@github.com>
wrote:

[2020-02-29 10:58] 4ian commented on #1351
Ask this question on the Discord ;) You should find a channel for general questions

[2020-02-29 11:15] HarsimranVirk commented on #1476
@4ian I have fixed this issue, should I open a PR or let others try?

[2020-02-29 12:30] PascalLadalle commented on #1430
I'm not a dev, but I'll give you my opinion from a user point of view.
For number one, maybe Esc key can be used to exit input?
For number two, I think text field width should be text.Width()+10%. Don't know if that is feasible.
For number three, right-hand side is very far away on a large screen, not ideal at all.

Usually, double-click is for _opening_, so in the case of comments, triggering the

[2020-02-29 13:06] Bouh commented on #1476
When you have fixed don't wait and open your PR :)

[2020-02-29 13:11] Bouh commented on #820
Ideally shift left and shift right, should be two different button, same for ctrl and alt.
Because actually key code are same.
https://github.com/4ian/GDevelop/blob/master/GDJS/Runtime/events-tools/inputtools.js#L121

[2020-02-29 13:13] 4ian commented on #1317
If `getObjects` works, that means that you properly added the object. But the events are "compiled" to JavaScript when the game is exported/previewed.
At this time, GDevelop goes through your events and translate your two actions "Draw [...]" to JavaScript. It looks at this thing called "BouhShapePainterObj". It verifies that this is an object of type "ShapePainterObject". Unfortunately, it can't

[2020-02-29 13:16] 4ian commented on #503
Interesting! That would be something run at the game export/tilemap import or something like this?

Keep up the good work 👍

[2020-02-29 13:21] 4ian commented on #1436
You're right, the fix was not properly done, the condition should have been added after the setState

[2020-02-29 13:36] #986 closed

[2020-02-29 13:40] 4ian commented on #1476
Yes feel free to go ahead and make a PR => we'll discuss more in the PR if needed. :)
In particular, would be great to give this a try on Firefox/Chrome/Safari (if possible) and the Electron version (which is Chrome, but not the very latest version).

[2020-02-29 13:42] 4ian commented on #1042
Make sure to fully understand the issue. Code is under newIDE/app/src/InstancesEditor/InstancesRenderer - take a look at how selection is handled. Might need a bit of refactoring and to dig more into how PIXI is used. Also see all the `RenderedXXXInstance.js` files.

[2020-02-29 14:17] Quarkstar commented on #1482
Thanks for you reply!

### more tests
I have tried it in win10 and ubuntu18.04 with node -v10 and results is the same.
1. Directly download piskel-editor.zip with browser from https://github.com/4ian/GDevelop/releases/download/v5.0.0-beta82/piskel-editor.zip
2. unzip it with `unzipper` module in javascript and linux-unzip
3. get hashcode by running the  following code
[code]
And I get  `b8e4d57b16

[2020-02-29 14:34] 4ian commented on #1482
I think there is nothing wrong :) Might be an issue on macOS actually, something like a file not extracted the same way.. if you wish you can make a PR that fix the hash, and I'll also give it a try.

[2020-02-29 15:15] 4ian commented on #1430
Double clicking should in general trigger the "main" action on the item, which is often the equivalent of the right-click > edit menu item. It should not trigger a renaming I would say.

The editing of a name should be ended by either:
- pressing enter (but as you mentioned this is not possible for comments that are multiline... or we consider that you have to press Shift+Enter to either add a new

[2020-02-29 15:17] 4ian commented on #1214
I'm not sure! :) (not sure why I removed the label " 🙇‍♀️Careful thinking/design or refactoring needed"... ^^')

I'm not sure we want to move the buttons inside the Dialog footer. Maybe the list could be in a `ScrollView`, and the buttons can stay displayed below the list. Not in the footer of the dialog, but between the list and the footer of the dialog.

[2020-02-29 15:20] 4ian commented on #1474
Basically, much like you can create actions/conditions/expressions/behaviors in an extension directly from GDevelop, there could be a way to do it for effects.
That could be interesting indeed - even if there won't be visual events to do that. Though some editors like Unity do have something interesting called "shader graphs" (maybe actually events could be used in the future to do shaders?? :)).

[2020-02-29 15:21] piyushpalawat99 commented on #1470
@4ian can you help me with this?

[2020-02-29 15:26] 4ian commented on #1470
Hard to say, the logs are not giving any useful information. You'll have to dig deeper to see what's failing.

Everything must work ;)

[2020-02-29 15:31] piyushpalawat99 commented on #1470
Will let you know if I'm able to find the reason for failing and in the meantime, will test the different versions of app and storybook to make sure everything's fine while running with v2.1.8
Thanks

[2020-02-29 15:31] 4ian commented on #1475
Thanks for reporting it, this is a regression from a recent fix to avoid displaying an error message if trying to exit the renaming without having changed the name of the object.

[2020-02-29 16:21] PascalLadalle commented on #1214
Not sure why I mentioned _Global_ variables, but the same thing occurs with scene variables.
And probably instance variables too, never had enough of these to check.

[2020-02-29 16:24] PascalLadalle commented on #1214
Oh, and also the same thing in object properties to access Hitboxes and Points and Add animation.
Not sure if it's related, and maybe I flagged it in another bug already. 🤔

[2020-02-29 22:51] triptych opened #1484 "Tooltip for "Properties" and "Objects" panels is "[object Object]""
## Describe the bug
Tooltip for "Properties" and "Objects" panels is "[object Object]"

## To Reproduce
Steps to reproduce the behavior:
Open a project and view a scene.
Make sure the properties panel is open.
Mouse over the title "Properties"

![GDevelop_5_SZoCntxooT](https://user-images.githubusercontent.com/8691/75616155-89e88280-5b02-11ea-95fe-63a838f62069.png)

I can't take a screenshot with

[2020-03-01 01:40] gautamv95 commented on #1484
I would like to work on this, can you suggest me correct names for each of these tooltip fields?

[2020-03-01 01:47] Quarkstar commented on #1482
Yes, I would like to fix it. Thank you!

[2020-03-01 08:42] triptych commented on #1472
The object list should listen for some custom event emitted by the "Set as Global Object" action and refresh itself ...

[2020-03-01 08:44] triptych commented on #1473
Yes, I tried all sorts of combinations - strangely enough after I plugged in a mouse, everything started working again. I need to look at better steps to reproduce and I'll update the ticket.

[2020-03-01 09:53] jimil749 commented on #1472
I would like to work on this!

[2020-03-01 12:53] blurymind commented on #503
I managed to get my restitcher to work and generate a complete tilemap with re-arranged frames, however for whatever reason pixi-tilemap completely ignores loading my baked texture. In fact if I take the texture parameter out, it is still loading the cached image texture. I havent even passed it to it :(

I think for now I will abandon support for animations with scattered or repeating frames and

[2020-03-01 12:58] 4ian commented on #1484
Sure, you must first investigate why "[object Object]" is shown. Probably just hide the tooltip or show a description that we can decide on for each panel (in this case, feel free to go ahead with your ideas, and we can discuss in the PR if these descriptions can be improved)

[2020-03-01 13:12] 4ian commented on #1473
Right ok, because GDevelop check if your device is touch enabled and if so the drag'n'drop is only possible from the icon (so that you can still scroll the list on touch devices)

[2020-03-01 13:15] 4ian commented on #1472
Please go ahead :) Though this might need some careful thinking. We traditionally don't use JavaScript "events" in GDevelop codebase, but we pass information through React props/callbacks. You might want to specify multiple props in components to say "global objects were updated"...

OR maybe better and cleaner, just force a refresh of the objects list when a tab is activated :) Again needs some e

[2020-03-01 13:21] 4ian commented on #503
Yeah I would like to avoid "hacks" to support something like animations, especially if it's suboptimal or complex. Better get PRs merged to have animations of different length. I'm afraid it's counterproductive (in terms of time for us, and suboptimal for the games!) to have repeated frames.

Have you tried disabling cache in the debugger?

[2020-03-01 13:31] blurymind commented on #503
Yeah I ha

Yeah I have that by default.
It appears that its expecting an array of basetextures. Even if I pass it the correct type, it ignores it.

Ideally some day pixi tilemap will accept and array of frame indexes and their duration, that way it would be possible to solve this at the shader level with a smarter modulo function.

I will leave my hacky restitcher code in the demo just in case som

[2020-03-01 13:48] blurymind commented on #503
Anyways here is an online demo of pixi tilemap, along with other  tests
https://blurymind.github.io/yet-another-pixi-webpack-boilerplate/docs/

If you want to compare with other libs:
https://github.com/blurymind/yet-another-pixi-webpack-boilerplate

[2020-03-01 17:51] triptych commented on #1473
My laptop is an "all-in-one" which means the screen is tappable, but I also
have a keyboard and trackpad / mouse.

On Sun, Mar 1, 2020 at 5:12 AM Florian Rival <notifications@github.com>
wrote:

[2020-03-01 17:57] triptych commented on #1473
I see this working now if I use the icon. However, I would suspect that some folks might not know this.  Perhaps allow for a "long press" to also select an element? Or some kind of hint about this behavior? I think because I switch back and forth when I use a mouse it works to drag from text, and didn't realize that using the track pad is interpreted as touch as well.  Instead of having a feature

[2020-03-01 20:18] blurymind commented on #1484
I assume it's trying to read what is an object as a string for some reason

On Sun, Mar 1, 2020, 12:58 PM Florian Rival <notifications@github.com>
wrote:

[2020-03-01 20:26] 4ian commented on #1484
Yep, there is an object passed to a `title` or some other attribute somewhere - might be inside react-mosaic.

[2020-03-01 23:29] PascalLadalle opened #1487 "Object selection inside repeat loops"
## Describe the bug
When nesting object creation repeat loops, actions applying to the last object of a loop are also applied to its higher-level parent.

Longer version: I'm creating objects using nested repeat loops to make patterns.
I need to apply instance variables to all objects to ID and position them.
I'm having problems when nesting these repeat loops because actions for one object are so

[2020-03-01 23:44] 4ian commented on #1487
This looks like it's working as designed. You're creating something in the actions, then you are using a sub event that is repeated... but it's still not a reason for GDevelop to forget the object you created. If you want GDevelop to forget about an object, you have to tell it about your object in *a separate event*. Otherwise, GDevelop remembers about the object you created (or objects that passe

[2020-03-02 00:31] PascalLadalle commented on #1487
so... no _direct_ parent-child relationship to avoid selection conflicts?
The fact that it seemed to apply to the last repeat only made me think it could be a bug, but I was only seeing the result of the last repeat because it overwrote the previous ones... 🤦‍♂
Thanks!

[2020-03-02 00:31] #1487 closed

[2020-03-02 08:50] 4ian commented on #1487
Child events are inheriting the selection from their parent (which are themselves inheriting from their own parent), but the selection made by an event is reset once the event is finished. So a child is not inheriting the selection from "uncle/aunt" events (i.e: events that are next to the parent) ;)

[2020-03-02 08:57] #1482 closed

[2020-03-02 10:21] blurymind commented on #1474
Using the event sheet to create shaders.. interesting :)
This is something that gdevelop can potentially be the first one to do. One problem we currently have with filters is that the IDE is not letting us preview them in any way - one has to run the game to see the result.

Other engines update the shader in the viewport as you edit it in real time. Godot is quite good at this.

In terms of visua

[2020-03-02 11:23] keshavg2 commented on #1215
Hi @4ian How I proceeding with this issue?

[2020-03-02 18:55] blurymind commented on #503
Today I fixed a corner case with pixi-tilemap on some hardware that was breaking the cycling. Also created a new demo git repo with only pixi-tilemap with stats
https://blurymind.github.io/pixi-tilemap-tutorial/

[2020-03-02 19:36] Kalovelo commented on #1421
👋 Hello! 👋
Could I work on this issue?

@4ian

[2020-03-02 19:43] Bouh commented on #1421
Yes sure you can @Kalovelo, no need to ask, you're free to start what you want :)
Open source allow to work on what you want, so don't hesitate and when you have an possible fix open your own PR 🤓

[2020-03-02 20:10] 4ian commented on #1421
Still useful in case you want to do something quite large or want to make sure people are aware you're trying something. But yeah feel free to go ahead! :)

[2020-03-02 21:00] 4ian commented on #503
Nice! :)
For the corner case, damn floating point calculations! This kind of stuff that is always tiresome with shaders and driver bugged compilers 😬

It's a good news - though on a desktop computer, even with a cheap graphics card I do hope we can have an extra solid 60fps. We should actually be able to render this can of map multiple times (though in practice the culling will make so that only o

[2020-03-02 21:21] ozata commented on #1484
I am checking this issue out.

[2020-03-02 21:25] bajaj99prashant commented on #1478
@4ian, I am working on this issue.

[2020-03-02 21:57] 4ian commented on #1215
Might require a bit of work because you would need to generate the sentence of the action or condition (using `InstructionSentenceFormatter::Translate` from `InstructionSentenceFormatter`). Do this in the search, which is done in `EventsRefactorer` (`EventsRefactorer::SearchInEvents`, `SearchStringInActions`...).
You'll need the metadata of the instruction, which can be obtained using `gd::Metadat

[2020-03-02 23:43] keshavg2 commented on #816
I think It is working fine in Ubuntu 18.04.

[2020-03-03 00:34] blurymind commented on #503
I get 60 on my 3 year old phone :p 75 on desktop... Well rpg maker mv
exports to Android, so there already are quite a few mobile rogs using this
same tilemap

On Mon, Mar 2, 2020, 9:00 PM Florian Rival <notifications@github.com> wrote:

[2020-03-03 02:33] Keevle commented on #503
![](https://cdn.discordapp.com/attachments/570621392333045760/684226670240202787/Screenshot_2020-03-02-21-31-18.png)
Great fps on a 5 year old phone,the initialize spike drop is just from me navigating outside of the page

[2020-03-03 08:44] Kalovelo commented on #1421
I updated the build title by adding "apk" into parenthesis ( result : "cordova-build(apk)" ).
I changed localhost to gdevelop-app-local but a CORS problem occurred so I had to test it using storybook.
Do you consider the new name change suitable?
I will proceed with the PR as soon as possible!

[2020-03-03 15:33] aman-dave commented on #1484
Hello,
I have solved the above-mentioned issue.
@4ian kindly look at the PR!

[2020-03-03 15:56] blurymind commented on #503
Just to give my thoughts on this:
I think pixi-tilemap is our best option and want to readdress my initial impressions.

- most of the other libraries dont parse game objects or animated tiles properly. The only one that parsed the entire island demo was pixi-tiled-utils and that didn't have propper animation support.
I we are to have on par compatibility with most of our other options, it would r

[2020-03-03 16:03] Silver-Streak commented on #503
With my usual disclaimer of "I am not a contributor, so what I say may not matter":

Based off your re-valuation of the other options, the great performance we're seeing from your pixi-tilemap demo, and the quick response from the maintainers, I definitely agree that pixi-tilemap seems like the right path forward.

[2020-03-03 18:01] aman-dave commented on #1484
@4ian @blurymind
I tried solving the issue but there seems to be a roadblock.

The issue arises as we are passing title in various `app/src/{Scene, Resources}Editor` as:
`title: <Trans>Objects</Trans>`
Basically, converting the normal "Objects" string into an object.

When I console logged `editor.title` in `app/src/UI/EditorMosaic/index,js` , it gives:
[code]
After seeing this, I passed title as

[2020-03-03 20:07] #1475 closed

[2020-03-03 20:36] jimil749 commented on #1478
There might be a roadblock here. The API for the component library (MUI Component) does not have a padding prop.
https://material-ui.com/api/text-field/

If you checkout the docs, the only way to overwrite is through an external css file. So, there might be a problem providing padding to the component!

[2020-03-03 21:22] 4ian commented on #503
Thanks for your impressions :)

I do agree that this seems the best option in terms of performant implementation/active community/support for a decent number of features.

Unless there is something else, I think we're fine with this and that should cover a large portion of developer needs! :)
Thanks for your work so far 👍Very interesting knowledge that we're getting there.

[2020-03-03 21:27] 4ian commented on #1478
Are we sure padding is the solution? You can always pass it with a `style` prop.

[2020-03-03 21:30] HarsimranVirk commented on #1484
Yes, this is exactly what is happening.

title is a `<Trans>` component, and the div's title cannot read it and shows object instead.

![Screenshot from 2020-03-04 02-37-39](https://user-images.githubusercontent.com/39851078/75820335-2d1aef80-5dc2-11ea-8d96-2e7f790e4142.png)

`const Div = (props) => {`
` <I18n>`
`   {({ i18n }) => (`
`     <div title={ i18n._(props.title)}>`
`        { i18n._(prop

[2020-03-03 21:34] 4ian commented on #1484
See my comments on https://github.com/4ian/GDevelop/pull/1490 :)

[2020-03-03 21:53] modiprabal opened #1492 "Misalignment of the context/pop-up menu"
## Describe the bug
A UI error, on right click on object while creating a project, pop-up menu is far away from cursor/object. A screenshot is attached showing the error.
![Screenshot from 2020-03-04 03-01-45](https://user-images.githubusercontent.com/42889548/75822698-66555e80-5dc6-11ea-999b-735023ea739a.png)

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'Create a new project.'
2. Ri

[2020-03-03 22:02] 4ian commented on #1492
Not sure what the cause is, seems related to `ElementWithMenu` used along with `ListItem`? Needs some research, I think it used to work better before.

[2020-03-03 22:24] modiprabal commented on #1492
@4ian I will try to look into the problem. If you are saying it worked better before, I will check out the previous versions and find where the problem started.

[2020-03-03 23:07] 4ian opened #1493 "Upgrade to Box2d.js 2.3.1 wasm version"
See the associated card on the roadmap: https://trello.com/c/4iXuaS7F/410-upgrade-to-box2djs-231

We should upgrade to latest version of Box2d.js, the 2.3.1 (https://github.com/kripken/box2d.js/tree/master/build).

Questions to solve:
- [ ] Is it ok to go with the WebAssembly version - or do we stick to asm.js?
- [ ] As we're upgrading the Physics engine, games can behave slightly differently. Sho

[2020-03-03 23:23] 4ian commented on #1492
I'm not entirely sure though ;) But can be a good idea to check a few version back (a few months ago, a few weeks ago, etc...).

[2020-03-04 01:32] bajaj99prashant commented on #1478
The issue is the height of the list-item in the object list is fixed to 40px when the renaming of the object takes place the border-bottom of text-field appears which changes the height of the selected list-item by 2px approx. The approach which i found to solve the issue is decreasing the height of text-field and decreasing the bottom padding in the text-filed.

[2020-03-04 02:45] bajaj99prashant commented on #1478
We can also decrease the height of the text field component while renaming the object item, the issue is maybe due to the fixed height of items in the object list.

[2020-03-04 04:19] bajaj99prashant commented on #1478
@4ian, I have fixed the overlapping of list items by adjusting the height of the MUITextField component in TextField.js.

![Screenshot from 2020-03-04 09-38-42](https://user-images.githubusercontent.com/42171435/75844666-ba7b3580-5dfc-11ea-8ab3-23b00eeb6e19.png)

[2020-03-04 06:15] jimil749 commented on #1472
@4ian, refreshing the objectList on the change of tab does seem a better approach. Did some digging and found that the tabs are changed by changeCurrentTab() in EditorTabsHandler.js , which is being called in index.js (Mainframe folder) inside _onChangeEditorTab().
So, can we just refresh/re-render the objectList when the above method is called?

[2020-03-04 08:56] 4ian commented on #1472
Sure, seems to make see, you still need to identify a way to say to the underlying tab editor that it was just set active and so should refresh itself (and then the editor should propagate this to the objects list).

[2020-03-04 08:57] 4ian commented on #1478
Well, look at the position of the text field, is looks not centered at all. Ideally it should match the position of the existing text - so that the text seamlessly change to a text field and vice versa from the user point of view.

[2020-03-04 20:27] #1421 closed

[2020-03-04 22:22] bajaj99prashant commented on #1478
Centered the position of the text field, checked it for both web and mobile view.

Web view
![Screenshot from 2020-03-05 03-44-19](https://user-images.githubusercontent.com/42171435/75928419-5dcb5980-5e94-11ea-9593-d9d396a708dd.png)

Mobile View
![Screenshot from 2020-03-05 03-44-45](https://user-images.githubusercontent.com/42171435/75928432-63c13a80-5e94-11ea-8c86-a7129b4785d8.png)

[2020-03-04 22:25] 4ian commented on #1478
That looks better, at least on these screenshots :) 👍

[2020-03-04 22:43] bajaj99prashant commented on #1478
Is there any test, any sort of measure or improvement I need to take care of before creating a pull request as I am trying to contribute for the first time.

[2020-03-04 22:48] 4ian commented on #1478
Be sure to look at [the README](https://github.com/4ian/GDevelop/tree/master/newIDE) how to run:
- Autoformatting
- "Flow" static typing tests
- The tests for the app

Almost most importantly, do test your changes on multiple devices and screen ratios (a bit like you did), different browsers if possible. Check that it's rendering properly in the electron app (see also the README how to run it) - a

[2020-03-05 02:32] geetesh-gupta commented on #1430
@4ian Please have a look at the PR and give your reviews.

[2020-03-05 08:04] 4ian commented on #1430
See if you can answer to Bouh on the PR first :) Thanks!

[2020-03-05 16:00] utkarshshri1016 opened #1496 "Error In Building standalone app"
![Capture](https://user-images.githubusercontent.com/56174665/75997701-bf87d400-5f25-11ea-977a-2a3f317d392a.JPG)
## Description
The above mentioned error occurs when I try to build the Standalone app of GDevelop 5.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '\newIDE\app'.
2. On Bash start npm here . It opens the website version.
3. Now go to '\newIDE\electron-app'.
4. On Bash run '

[2020-03-05 18:11] 4ian commented on #1496
Which version and what do you mean by Electron installed? Electron should be packaged with GDevelop - there should be no way to replace it with another version.

Have you run the development version with `npm run electron-win`? Is it working?

This error seems due to an incompatible Electron version being used with GDevelop.

[2020-03-06 05:27] triptych opened #1498 "File context menu doesn't have an exit item"
## Describe the bug
The GDevelop app does not have an exit option under File, like most apps. This is not just a cosmetic issue but an Accessibility bug.

## To Reproduce
Steps to reproduce the behavior:
1. Launch GDevelop
2. Choose "file"
3. observe menu.
4. unable to exit or close app.
( Note: Close Project just closes out the project windows, it doesn't close the GDevelop App - which is fine, b

[2020-03-06 06:43] utkarshshri1016 commented on #1496
When I run it it shows this error.
![Capture](https://user-images.githubusercontent.com/56174665/76058828-61013b00-5fa3-11ea-9d70-9b9408d9070f.JPG)

[2020-03-07 00:36] Silver-Streak commented on #1449
@4ian So I don't think this is one of the items being covered by GSOC, correct? If not, is this something that you would feel eligible for me to throw another bounty on? If we'd rather wait until GSOC is over to see if any pulls it, I'm happy to wait on that too. 😄

I can delete this comment to avoid influencing people's decisions, as well.

[2020-03-07 09:11] Kalovelo commented on #912
The simplest workaround would be to alert the user when he clicks on "Create a new project" (like it happens with "Close project") but that wouldn't be ideal nor long-term solution 🤔

Towards the ideal one, I would suggest implementing a more abstract/global state management between SceneEditor and the rest of the components (ElectronMainMenu for example) so we can have a unsavedChanges state. A t

[2020-03-07 10:25] ozata commented on #1498
I produced the error on Ubuntu 18.04.4 LTS (Bionic Beaver). Since we are using electron, I believe it won't matter that I am doing this on GNU/Linux. Do you guys have any suggestions, nevertheless I will comb through the internet to find a solution.

[2020-03-07 11:22] gnacca opened #1500 "Crash while using an editor"
=> Please write here a short description of when the error occured and how to reproduce it.
You also may have to create an account on GitHub before posting.

When you're ready, click on "Submit new issue". Don't change the rest of the message. Thanks!

## Error stack (don't write anything here)
[code]

## Component stack (don't write anything here)
[code]

[2020-03-07 13:12] 4ian commented on #1498
Something to add here: https://github.com/4ian/GDevelop/blob/master/newIDE/app/src/MainFrame/ElectronMainMenu.js

on macOS, the close should *not* be in the File menu

[2020-03-07 16:27] triptych opened #1502 "After migrating to new GDevelop version - project would not work due to missing extensions"
## Describe the bug
I had created a project that used "CursorType" in the previous version of GDevelop.
After updating I immediately opened my existing project and tried to preview it.
It failed - displaying a black screen after loading to 100%.
When I opened the inspector it was complaining about not having functions for "Cursor Type". I opened the cursor type js exported  file in the inspector a

[2020-03-07 17:06] triptych opened #1503 "Create a new game dialog: important configuration is offscreen"
## Describe the bug
When you create a new game - important UI is buried at the bottom of the dialog offscreen.

For instance when you create a new game you see this :

![GDevelop_5_jXg93TxYFo](https://user-images.githubusercontent.com/8691/76147423-ed1d6c00-6050-11ea-82ca-6830634ce9fb.png)

but, if you don't scroll down all the way you will never see important configuration information about your

[2020-03-07 17:53] Bouh commented on #1503
The dialog conponent need a depth rework, this is also the case for sprite editor.
And in general everywhere where is used dialog component.

![image](https://user-images.githubusercontent.com/1670670/76148148-cb99a000-60a3-11ea-828c-f642113acf6b.png)

Here hitbox and editor points and Add animation should be fixed at the bottom.
Sometime we need buttons on top, like in behavior list for example.

[2020-03-07 18:21] 4ian commented on #1503
I agree that these dialogs not showing the important stuff is really sub optimal.

We should investigate if using `ScrollView` in these dialogs for the content that must scroll - and put the rest before the `ScrollView` (for the "header") or after (for the "footer") would work.
Ideally that how it would work.

That's a way to do it. I actually think we can also have two components:
* `Dialog` (the

[2020-03-07 18:23] 4ian commented on #1496
Can you confirm the version of `electron` being installed with npm?

[2020-03-07 18:24] 4ian commented on #1449
This is not in the original project idea list, but could be a project if someone want to make a solid proposal for this.
I think though it would be worth a bounty as it's more an in depth investigation that is needed :)

[2020-03-07 18:49] 4ian commented on #1502
Do you mean you click "CursorType" in the project manager to open the extension in a tab in the editor? If yes that probably solved the issue because when you leave the tab (to go to a scene editor or another editor), the code for the extension is re-generated.

Looks like for some reason the code for the extension was not generated 🤔

[2020-03-07 18:55] triptych commented on #1502
Yes, that's what I meant.
![GDevelop_5_TSZAhkfBq0](https://user-images.githubusercontent.com/8691/76150704-31653800-6062-11ea-8ac6-b0e830676506.png)

[2020-03-07 19:05] 4ian commented on #912
I think that would actually be a perfectly ideal long term solution for reducing the risk of people create new project/opening another one and losing their changes. :)

For the ideal solution, I'm all for doing the work of adding a dirty bit to the project or some state in the React components.

*But* I don't want to introduce Redux or a global state management in GDevelop. Mainly because as the n

[2020-03-07 19:05] 4ian commented on #1502
Right so now the question is: how it is even possible that extension code was not generated 🤔 I'm unsure how this could be related to a GDevelop update.

[2020-03-07 19:11] triptych commented on #1502
Is there a way to "downgrade" my gdevelop app back to a previous version? Then i could try to reproduce .
I do know that the project worked before I upgraded. I manually upgraded, opened the project and it failed on preview as I mentioned above.

[2020-03-07 21:09] twistcharlie opened #1504 "please add a condition named...."
please add a condition that would maybe be named
any key released (it would be like key released but instead of 1 key it will be all keys)

also if you know a simple way to do this please tell me

[2020-03-07 21:48] Kalovelo commented on #912
Thank you for your comments!
I will check it out and work on submitting the ideal solution.

[2020-03-07 22:47] triptych opened #1505 "Accessibility: Add a context menu to scenes under project panel for scene variables"
## Describe the bug
Please see this thread:

https://forum.gdevelop-app.com/t/creating-editing-scene-variables-feature-request/23191

The ask is that when you right click on a scene from the Project view you see an "Edit Scene Properties" option.

Here's the context menu:
![image](https://user-images.githubusercontent.com/8691/76153508-c4fa3100-6081-11ea-8e9b-38e42fd22170.png)

this is to make it

[2020-03-08 04:08] PawBud commented on #1504
Can you please elaborate? with questions like what is the use of this condition and in which component do you want to "fit" it?

[2020-03-08 05:08] utkarshshri1016 commented on #1496
@4ian It is 8.1.0

[2020-03-08 06:29] jerrybuks commented on #1469
@4ian I did the update for both the Editor and the GDJS electron update, but I keep getting this error when I try to run a game

![Screenshot from 2020-03-08 07-27-38](https://user-images.githubusercontent.com/39066907/76157808-7f377a00-610e-11ea-87a5-ac6ad253e1bc.png)

[2020-03-08 08:42] PawBud commented on #1505
I would like to work on this issue. Can you please guide me ?

[2020-03-08 09:14] PawBud opened #1506 "Visibility: The Table headings in the Instances Editor is not visible properly"
## Describe the bug
I noticed that the Headers of the Instances Table are not clearly visible when i looked at them through a TN panel( a lower resolution Display).

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'New Scene'
2. Click on 'Instances Editor' at the top right
3. See error

## Other details
* I used a TN panel (resolution : 1280 by 720)
![lol](https://user-images.githubuserc

[2020-03-08 09:16] PawBud commented on #1506
I have already fixed it by adding a bold font-weight to the column values along with a slight increase of font-weight in the header also

[2020-03-08 09:36] Dilshaad21 opened #1507 "Naming inconsistency in newly created scenes"
## Describe the bug
The naming when new scenes are created is not consistent with the previous one.

![Screenshot from 2020-03-08 15-02-10](https://user-images.githubusercontent.com/45489945/76160248-736ba800-614e-11ea-807c-4537987c963d.png)

## To Reproduce
Steps to reproduce the behavior:
1. Go to Project
2. Click on Add a New Scene

[2020-03-08 10:28] geetesh-gupta commented on #1507
Hi @Dilshaad21, I don't think it is a bug but I think it can be an enhancement.
By default, I think it is set to create NewScene# with # incrementing every time a new scene is created. This can be updated to create a new scene with the name same as the scene name after which this new scene is created by appending an incrementing number to it.
I will try to work on it. @4ian what's your opinion?

[2020-03-08 10:33] Dilshaad21 commented on #1507
@geetesh-gupta the issue is that when a new scene is created it is also named as `NewScene`. Rather it should be named as `New scene2`.

[2020-03-08 10:35] geetesh-gupta commented on #1507
I saw your PR, it's good but I would like to suggest instead of hardcoding 'New scene', the name can be made to be picked by current index of the old element from the scenes list and then incrementing/appending next count to it.

[2020-03-08 10:43] Dilshaad21 commented on #1507
I think there's no need to increment it from previous name of the scenes, as by default newly created scenes must be named as `New scenes` which the user can change later on if required.

[2020-03-08 11:01] geetesh-gupta commented on #1507
The point why I am suggesting this because currently it will create new scenes like this, if added from inbetween the list.

![image](https://user-images.githubusercontent.com/34645022/76161450-bb43fc80-6159-11ea-85bc-c783cd71497a.png)
So, as can be seen that these names are not structured.
I agree with you that it is not required, but it can be a good enhancement.

[2020-03-08 12:50] Dilshaad21 commented on #1507
@geetesh-gupta got that. It can be done using sorting.

[2020-03-08 14:59] 4ian commented on #1502
You can download previous versions from the GitHub releases page :) Should be enough to give it a try

[2020-03-08 15:00] 4ian commented on #1469
This error is in the web-app, so totally unrelated to Electron - ignore it. This being said, have you run the app with Electron ? 😉

[2020-03-08 15:02] 4ian commented on #1504
Please use the forum or the Discord channel first - GitHub is only for structured development discussion. Thanks!

[2020-03-08 15:02] #1504 closed

[2020-03-08 15:05] 4ian commented on #1496
You should not have this version - you should have version 4 that is in package.json
Being compatible with Electron 5+ is the subject of this issue: https://github.com/4ian/GDevelop/issues/1469

If you run with a newer version, it won't work unless you do the work of changing the code for the new APIs - but this should not be reported as a bug :)

[2020-03-08 15:05] #1496 closed

[2020-03-08 15:45] triptych commented on #1502
Thanks I'll try to recreate the issue.

[2020-03-08 15:53] #1502 closed

[2020-03-08 15:54] triptych commented on #1502
Unable to reproduce. If I see it happen again I'll capture the errors.

[2020-03-08 17:46] 4ian commented on #1502
Alright thanks for checking!

[2020-03-08 18:01] 4ian commented on #1505
Look at `ProjectManager/index.js` and `ScenePropertiesDialog`.
Looks where ScenePropertiesDialog is used and how/if you should move its usage.

[2020-03-08 18:36] jerrybuks commented on #1469
@4ian the electron-app runs and works fine, but it also throws this error, when I click the run button, for a game
![Screenshot from 2020-03-08 19-34-06](https://user-images.githubusercontent.com/39066907/76168915-04a14580-6174-11ea-83f2-19e863cdc89a.png)

[2020-03-08 19:55] 4ian commented on #1469
Very strange. Is this working when you don't update electron?
BrowserS3GDJSFinder should NOT be used in the electron version. Can you investigate why it's used? It should be used only for the web-app.

Unfortunately I won't be able to help very much without knowing more. You have to investigate a bit more by yourself to understand why this is happening :) Check if the current version works. If yes

[2020-03-08 20:10] jimil749 commented on #1472
@4ian, I did mange to solve the issue.
What I did was add a boolean state "tabChanged" to index.js (Mainframe), which is set to true once the changeCurrentTab() is called, which is then propagated to the sceneEditor, where it is checked whether this prop is true and if it is true, I just call forceUpdateObjectList(). However, this method is called inside of the render() of SceneEditor, which shoot

[2020-03-08 20:22] twistcharlie commented on #1504
but I want it to be added its a request
@4ian

[2020-03-08 20:49] 4ian commented on #1504
As discussed please do a request by following exactly the template and all that is required :)

[2020-03-08 20:49] 4ian commented on #1507
The title of the issue if vague. Can you update it?

[2020-03-08 20:52] shadow00dev opened #1510 "Add a condition for "Any key released""
Hello, also I did talk about me asking about this and if it was added and that and I did say I would request it.

## Description
It's a request to add a new condition and I want it to be added because of.

1. I know it's not there.

2. I really need it so I can make a check if I released a key (for example) 3 times.

## Solution suggested

I got given some code so I could add it to an extension an

[2020-03-08 20:56] 4ian commented on #1510
So it's better but please edit your message to use:
backticks (`) around the code.

Proofread and correct any mistake in your sentences. I'm not a native english speaker and it's hard for me to read. Start your sentence with a capital. End them with a period. Don't start with "by the way".
I want your message to be *crystal clear* and *perfectly* written.

Then maybe some one will have the time to

[2020-03-08 21:00] 4ian commented on #1472
Unfortunately I'm 99% sure that the solution is *not* by adding a boolean state tabChanged. Sure it will be set to true, but then if I add another object, what it will be... ? :)
It's an anti pattern generally to "add stuff in state" to get things to work.
React is trying to warn you that you also called a function at a wrong place. Try again but learn about React "refs" and see if you can do some

[2020-03-08 21:58] bajaj99prashant commented on #1478
Ran Autoformatting, Flow typing tests, and Tests for the app, checked it on Google Chrome and in Firefox for both web and mobile view, checked it on the electron app.

[2020-03-08 22:01] 4ian commented on #1478
Feel free to open a PR then! :)

[2020-03-08 22:52] jerrybuks commented on #1469
I think in development, the web-app is being served to electron, from the Readme file  for Gdevelop
newIDE, it says - "You can run the standalone app with Electron. Make sure that you've launched npm start (or yarn start) in app folder before (see above) and keep it running (in development, the app is served from a local server, even for the standalone app)."

[2020-03-08 23:09] #1440 closed

[2020-03-09 08:35] PawBud commented on #1505
Understood @4ian. If I have any more issues then I will mention them here.

[2020-03-09 10:01] #1507 closed

[2020-03-09 11:33] geetesh-gupta commented on #1503
I think issue #1214 will also be resolved if this issue is resolved.

[2020-03-09 11:37] twistcharlie commented on #1510
hope this is better
now (also I know my writing is bad and that but I do try you know also I find it had to make things make sense in fact if anyone has heard me talk it would make no sense (i got told))

(reply to 4ian)

[2020-03-09 12:15] geetesh-gupta commented on #1503
I tried using the following changes, initially, no header and footer components were there. Passing `header` and `footer` component as a prop and using `ScrollView` for main content. :
[code]
The results can be seen here.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34645022/76211953-62de2f00-622d-11ea-8df8-3547b5340854.gif)

This is working but this will require updating al

[2020-03-09 12:15] PawBud commented on #1505
@4ian can you please elaborate more. I have been trying it for some time and I just need some help.
Thanks :)

[2020-03-09 12:52] jimil749 commented on #1472
Yeah, I might be wrong here, tabChanged once set true, it is always true. What I tried to do was update the object list (due to which global object shows up) on every tab change by passing a boolean. Adding a another Object will not affect the state, changing the tab will (that too only once, it is set true!) This refreshes the object list on each render of SceneEditor!

Sure, I'll do some digging

[2020-03-09 16:40] 4ian commented on #1503
The result is mostly what I had in mind, but I have concerns on the implementation.

While this might kind-of-work, it seems hacky as it's using multiple `DialogContent`. This will probably break assumptions in material-ui and create us headache in the future when upgrading material-ui.
At least I'm not seeing any demo in https://material-ui.com/components/dialogs/ with multiple `DialogContent`?

[2020-03-09 16:52] 4ian commented on #1472
React state is good at describing an application in a "declarative" way. Here you want to force something to happen that can not be captured in a state (or you would need to put the boolean back to false) - so you want something that is more "imperative". :)

If this is not needed, we probably want to avoid this as it slightly hurts performance/battery drain.

[2020-03-09 20:51] #1430 closed

[2020-03-09 21:15] 4ian commented on #1505
Have you located where ScenePropertiesDialog is used? Do you understand how it's opened?
If you used React before, do you have an idea about what to do? (if not, read some React tutorials before attempting anything ;)).

[2020-03-10 01:23] Bouh commented on #1419
Two more case on forum, with BBtext and without.[ link 1](https://forum.gdevelop-app.com/t/bbtext-line-height/23240/7), [link 2](https://forum.gdevelop-app.com/t/bbtext-word-problem/23245)

BBtext come from [this repo?](https://github.com/tleunen/pixi-multistyle-text/issues)
If yes there is an issue on the repo maybe related to this bug.

I think lineHeight is missing or undefined in pixi 4.8.6, o

[2020-03-10 01:44] Silver-Streak commented on #1510
Looking at this request, I think the ask is for the following:

- A new condition to be created.
- The condition to be similar to "Any Key is Pressed", but for "Released" status. This would mean the condition would only trigger if a key has been pressed and then released, and only be valid for that frame.
  - Right now, inverting "Any Key is Pressed" is just checking that _no_ key is pressed, not

[2020-03-10 02:04] Silver-Streak commented on #1449
Thanks 4ian.

I have posted a bounty on this issue here: https://www.bountysource.com/issues/89023609-changing-resolution-makes-text-objects-blurry-or-distorted

My overall preference/requirements on this (although obviously I'm not the final say):
Preferred:
- Implement Potential Solution 1 above, disabling scaling for text and BBtext objects, instead automatically adjusting the font size up/down

[2020-03-10 04:51] PawBud commented on #1505
Sure thanks a lot for helping @4ian

[2020-03-10 08:50] blurymind commented on #1419
Bbtext just wraps pixi-multistyle-text which uses the standard text styling
in pixi :)

On Tue, Mar 10, 2020, 1:23 AM Aurélien Vivet <notifications@github.com>
wrote:

[2020-03-10 08:51] 4ian commented on #1419
So this is:
- both on BBText and the normal text object right?
- different in preview and in the scene editor?

Do we know which one, the preview or the scene editor, is right?

Looks like a potential different font loading. Pixi renders the texts on a canvas before copying it into the game canvas => if the browser loads the font differently, it will be rendered differently.

[2020-03-10 13:16] Silver-Streak commented on #1419
@4ian
- both on BBText and the normal text object right?
  - Correct, both.
- different in preview and in the scene editor?
  - Correct, the editor displays text boundary box height ad positioning way different than the actual Y position or height.
- Do we know which one, the preview or the scene editor, is right?
 - Preview shows the objects at the correct Y position.

[2020-03-10 17:20] twistcharlie commented on #1510
silver-streak its basically any keypress but instead of pressed it's released also I gave the code arthuro555 gave me there so yah and yah basically ur right

[2020-03-10 17:35] utkarshshri1016 opened #1517 "Request for Export Popup to close when clicked out of its area"
## Description
It will be nice if the 'export the game' popup closed itself like any popup does i.e. when we click outside of its area.
The list of instances and layers editor do already close themselves when clicked outside of its area.

![image](https://user-images.githubusercontent.com/56174665/76340945-60113600-6322-11ea-8f2f-3aa508528e77.png)

I believe It will make the application more user

[2020-03-10 18:19] Phenomena3 commented on #1419
I think Silver-Streak's issue is similar to mine and the other report on the forum, but I don't know that it's exactly the same. In the first screenshot below, the boundary box for left click overlapping right click can be ignored. It's expected in my case due to the longer sentences on the left and side-by-side layout.

The main issue on my end is that multiple lines of text are overlapping withi

[2020-03-10 22:05] 4ian commented on #1419
Interesting, not sure if this is the same issue. Yours seems like a regression as it was working in beta 88.
While @Silver-Streak reported issue on version 88 and indicates that the preview is the right one.

Might be worth opening a new issue with a simple game showing the text with your font and showing immediately the issue. This way we can verify that v88 worked, v89 not, and find the differen

[2020-03-10 22:21] #1484 closed

[2020-03-11 06:06] Phenomena3 commented on #1419
I'll reopen a new issue with simple projects attached within the next few days.
They won't be games, just text examples.

[2020-03-11 06:20] Phenomena3 opened #1518 "Disabling auto-update in preferences didn't work"
## Describe the bug
After reinstalling version 88 in connection with investigating a different bug, I turned off the auto-update feature in preferences in case I needed to do anything else with 88 (which is the case now). Upon reopening GDevelop later, I noticed that the program was automatically updated to 89 anyway.

Please double check that the bug is not already reported in the issues list.

I

[2020-03-11 09:18] amanbora commented on #1517
Would like to work on this issue for gsoc 2020, I'm new to Gdevelop so I might need some guidance initially

[2020-03-11 09:53] utkarshshri1016 commented on #1517
I am also willing to work on this. But I will need some help.

[2020-03-11 10:13] geetesh-gupta commented on #1517
I was currently working on another issue involving Dialogs and I found out that this issue can be solved using some modifications in the Dialog component. So, I would like to suggest you explore the Dialog component in the UI folder.

[2020-03-11 13:44] PawBud commented on #1505
I am aware of it @4ian it is just that somehow the index.js inside the _MainFrame_ is showing errors as I try to resolve the errors in ProjectManager/Index.js

[2020-03-11 13:45] PawBud commented on #1505
any idea how to resolve it? I can share the precise errors that I am getting while trying to import the ScenePropertiesDialog if needed :).

[2020-03-11 15:17] mhk19 commented on #1218
@4ian i would like to work on this issue

[2020-03-11 15:22] PawBud commented on #1518
I presume you are already working on this issue @Phenomena3?

[2020-03-11 16:32] jimil749 commented on #1505
@4ian I was just tinkering with code and tried to implement the ScenePropertiesDialog like done in the `SceneEditor/index.js` and just found one minor issue. Inside of `ProjectManager/index.js` layout is not defined which is required by ScenePropertiesDialog.
I tried defining layout in props but of no use (Like done in `SceneEditor/index.js`). I tried to console log the layout props which yields '

[2020-03-11 17:48] 4ian commented on #1218
Feel free to try :)

[2020-03-11 18:02] PawBud commented on #1505
well, technically it is defined as

[2020-03-11 18:37] PawBud commented on #1505
Moreover, how were you able to add it in the Properties menu @jimil749?

[2020-03-11 18:49] jimil749 commented on #1505
I think its gdLayout, but even after doing that, it logs undefined on the console! The value into layout props is undefined for some reason, that I'm not able to figure out currently

Look at `ProjectManger/index.js' and check where the other menu items are rendered! :)

[2020-03-11 19:06] gautamv95 commented on #1517
Hey, I would like to work on this issue

[2020-03-11 19:25] 4ian commented on #1517
You can start working on anything that you like without asking permission - but be sure to look at other issues that might be more strategic :)

[2020-03-11 19:30] Phenomena3 commented on #1518
@PawBud I just reported it; don't have the knowledge to fix it.

[2020-03-11 21:39] PascalLadalle opened #1520 "OR operator not working although one condition is valid"
## Describe the bug
I'm having another logic issue...
Here I want to delete the target icon if it is invisible or if another type of unit has been selected.
When I use that opacity condition though, it won't delete Target anymore, even though the other condition is valid and I'm using an OR. There's only one instance of Target...

Is my logic flawed? 🤔 Why isn't the OR working as expected?

![imag

[2020-03-12 02:04] Bouh commented on #1520
Not sure about what i'am saying, The selection of instances seem empty at step 2, but the conditions at step 1 are correct, one of them is true, opacity is false and scene variable is true.

step1 is the conditions, step 2 the actions, and before each action if i'am right, the engine select the instances tested just before. This selection seem the problem, no?

Error for me is on blue line, in red

[2020-03-12 03:58] Phenomena3 opened #1521 "BBText line height"
## Describe the bug

Multiple lines of text merge together on preview when using BBText objects as shown in the attached screenshots. HTML5 exports are also affected in different browsers.

_Please double check that the bug is not already reported in the issues list._

Was advised [here](https://github.com/4ian/GDevelop/issues/1419#issuecomment-597340328) to open a new issue.

## To Reproduce
Step

[2020-03-12 04:04] Phenomena3 commented on #1518
Here are some screenshots. Note the time at the bottom-right.

Here, I installed version 88 to gather info for the other report.
![gdv88](https://user-images.githubusercontent.com/45985516/76486002-7a1b4900-63f4-11ea-8f8a-22f01de51aca.png)

Disabled auto-update
![changepref](https://user-images.githubusercontent.com/45985516/76486076-ab941480-63f4-11ea-8988-6acac8496a6b.png)

Closed and reopened 7

[2020-03-12 10:12] blurymind commented on #1521
I think @Bouh added a better selector for the custom fonts in BBtext, but it could also be something else that caused a regression

[2020-03-12 13:20] PawBud commented on #1505
I definitely tried everything but I couldn't really make the Scene Properties Dialog run for some reason, although I will keep trying.

[2020-03-12 13:22] PawBud commented on #1518
Firstly Thank you so much for reporting this issue, unfortunately I can't undertake to resolve the issue although I can assure you that someone will get on it right away.

[2020-03-12 13:46] mhk19 commented on #1498
@4ian i want to work on this issue. Can you please guide me?

[2020-03-12 13:46] 4ian commented on #1521
Would be a good idea to investigate changes made in the BBText object - not sure what it could be linked to.

[2020-03-12 13:48] 4ian commented on #1419
Thanks! :)

[2020-03-12 13:53] 4ian commented on #1498
@mhk19 I don't have time to guide everyone - I need autonomy from you to search and can only have time to answer to precise technical questions.

Start here: https://github.com/4ian/GDevelop/blob/master/newIDE/app/src/MainFrame/ElectronMainMenu.js and investigate the existing buttons.

[2020-03-12 14:13] Bouh commented on #1521
My previous PR for add font on BBtext is here https://github.com/4ian/GDevelop/pull/1394

I use only the resource loader and set the fontFamily, but instead write the name manually in BBtext propertie panel, now the resource loader provide the name.

So if we have a bug, the bug is in the resource loader.
Because font is loaded differently when we load with the resource loader?
What is used when w

[2020-03-12 14:38] NilayMajorwar commented on #1498
Really sorry @mhk19, I was trying this one without mentioning on the thread, and saw your message a bit too late - my bad :sweat_smile:

[2020-03-12 17:38] Phenomena3 commented on #1518
No problem, you weren't expected to fix it.

I'm sure 4ian or another contributor will look and respond when they have time.

[2020-03-12 18:50] PascalLadalle commented on #1520
I'm not using hide/show, I'm changing the opacity or tweening it.
Either way, I'm using an OR, so it shouldn't matter as long as the other condition is valid, right?

So, do you think it's a bug or not? I looked at your screenshot but it's too technical for me. 😅

[2020-03-12 22:47] wireshark10 commented on #1403
Hi @4ian  can I have a look at this issue ?

[2020-03-13 08:02] NilayMajorwar commented on #820
I want to work on this issue. Here's my understanding of the problem:

Since LShift and RShift share the same `keyCode` and differ only in `event.location`(0 for general, 1 for left-modifier, 2 for right-modifier, 3 for numpad) and `event.code` (string, like "ShiftLeft"), we can't solve the issue just with key codes, and need some other way to represent keys uniquely, right?

If yes, I see two opt

[2020-03-13 14:41] 4ian commented on #1520
The way OR works is a bit more complex than a simple logical disjunction:

GDevelop looks at the OR condition. It has two sub conditions, and will execute them:
- The first condition contains a reference to object "Target". GDevelop create a list in memory for them, getting all the objects living in the scene. It runs the condition on each of them. None are passing the condition. GDevelop filter a

[2020-03-13 15:20] NilayMajorwar commented on #1470
Hey, I tried this and I think I got it to work with the latest version of `react-scripts`.

There was an issue with NPM dependency management - `@storybook/react` required a different version of `webpack` than react-scripts, and `npm install` disregarded the `react-scripts` webpack version dependency due to some reason. Had to bump up webpack separately in `package.json` to resolve that. Yarn work

[2020-03-13 15:42] PawBud commented on #1505
any updates @jimil749 @4ian. Could anyone of you add a context menu for SceneVariables?

[2020-03-13 16:26] 4ian commented on #820
I'll let you find the clearest and fastest solution (being fast being the most important as this is a very used function). code might be a good idea, though might be good to investigate if event.location is just as good.

We can do a second hashmap or special cases for this kind of key - up to you :)

[2020-03-13 16:27] 4ian commented on #1403
Yep feel free to try something, no need to ask me ;)

[2020-03-13 21:14] Bouh commented on #1449
$70 USD on bounty source for this issue, @4ian bounty source tag can be added.
https://www.bountysource.com/issues/89023609-changing-resolution-makes-text-objects-blurry-or-distorted

[2020-03-13 21:15] blurymind opened #1528 "Failed to compile error when running in dev mode"
## Describe the bug
Start GD in dev mode,you get

[code]

im on linux btw

[2020-03-13 21:20] blurymind commented on #1528
Weird thing is that restarting the server fixes it sometimes. The server loads fine, then suddenly I get the import error 50% of the  time

[2020-03-14 10:29] 4ian commented on #1528
Surely because when we import GDJS to `GDJS-for-web-app-only` directory, we first erase the folder then copy the files. For this, we could exceptionally not erase the folder first.
Do you want to give it a try and let me know if it's better?

Remove this line:
https://github.com/4ian/GDevelop/blob/a315eabdcedb5f04b7bf287272fa46e7b43f924f/newIDE/app/scripts/import-GDJS-Runtime.js#L29

[2020-03-14 11:45] #1498 closed

[2020-03-14 14:33] blurymind commented on #1528
thank you @4ian I will give it a try

[2020-03-14 15:53] PascalLadalle commented on #1520
Thanks for the explanation, although I find your example quite puzzling:

This doesn't look right to me. If I specifically request some object deletion, I would expect the action to execute, regardless of which of the OR condition is valid. To follow your example, once the race is over, the other players don't need to keep racing so I would delete them all.
To me, the correct/logical event to dele

[2020-03-14 15:53] #1520 closed

[2020-03-14 16:22] #1470 closed

[2020-03-14 16:34] 4ian commented on #1520
I do agree that in this example you would anyway want to remove everything - and use a group.
In most cases, when you want to use an OR, you better be using:
1. A group
2. or multiple events (potentially using a function to avoid repeating the same action, or a variable)
3. or a variable (or a function to avoid repeating the same conditions) to designate this situation.

Sure, my example was just

[2020-03-14 18:51] blurymind commented on #503
@4ian @Bouh
I got to a point where I need to somehow register a new type of a pixi resource i gdevelop. That is my TileSet class that stores the tile resources that populate the pixi-tilemap resource with tiles.

Should that be done by registering a new type of resource in pixi-image-manager and/or PixiResourcesLoader?

I am sort of looking for inspiration at
https://github.com/4ian/GDevelop/pull/

[2020-03-14 18:56] PascalLadalle opened #1533 "Multitouch default expression incorrect to the syntax checker"
## Describe the bug
In a position field, I picked the _Touch X position_ from the expression button, I left the layer and camera fields empty, and it triggers an error.

![image](https://user-images.githubusercontent.com/25978830/76688447-35c6bd80-662d-11ea-9d7d-ddabbd9c8d9f.png)

Win10 64-bit
GD5b89

[2020-03-14 22:13] PascalLadalle commented on #1520
Thanks for the reply and the rule of thumb, it's _starting_ to make sense 😅
A wiki page on object selection would be useful, yes.

[2020-03-15 00:09] triptych commented on #1498
@mhk19 take a look at the commit that fixed this to help you learn about the code so that you can be that much more up to speed when the next bug comes around.

[2020-03-15 05:22] geetesh-gupta opened #1534 "Unable to open load dialog when clicked another button multiple times"
## Describe the bug
Unable to open `load audio` dialog when clicked another button (e.g. in my case `No` button) multiple times until the event action dialog reopened.

## To Reproduce
Steps to reproduce the behavior:
1. Create new `Platformer` project
2. Click on `New Scene (Events)` tab
3. Scroll down to 'Change the animation according to what the player do.' section
4. Click on the audio as giv

[2020-03-15 08:46] PawBud commented on #1534
I can verify that the same is happening in ubuntu too.
OS Details: Ubuntu 18.04.4 LTS.

[2020-03-15 10:56] 4ian commented on #1534
This might be solved with the new autocomplete: https://github.com/4ian/GDevelop/pull/1453 that @HarsimranVirk is working on. Could you verify on editor-beta.gdevelop-app.com?

[2020-03-15 11:11] geetesh-gupta commented on #1534
It's working correctly on editor-beta.gdevelop-app.com

[2020-03-15 11:27] HarsimranVirk commented on #1534
@4ian I suppose this is the old autocomplete (old in the sense that it is before I used hooks, and even before HOC withStyles). Editor-beta needs to be updated I believe.

We might have to check it again afterwards :)

[2020-03-15 11:49] HarsimranVirk commented on #1534
I've checked on my local machine and it works fine. We still have to check it on the editor-beta just to be sure. It might have a lot of bugs other than this too :)

[2020-03-15 12:38] 4ian commented on #1533
Yes, we should probably not add these empty parameters when they are:
- optional
- at the end of the expression
- and empty :)

[2020-03-15 12:39] 4ian commented on #1533
If anyone is interested to look at this => `FormatExpressionCall.js` is surely a good starting point.

[2020-03-15 15:04] blurymind commented on #503
I dont think gdevelop currently has a way of parsing a json resource from an extension for rendering in the newIde. I guess I kind of need to get the data out of the json resource in order to render the tilemap in the  ide

[2020-03-15 15:17] Silver-Streak commented on #503
This is probably super not helpful, but I don't suppose the convert from json expressions/events (normally used with storage) could be looked at as an example?

[2020-03-15 15:57] blurymind commented on #503
@Silver-Streak I dont want to burden the user with the need to convert from json before  passing it to the extension. I want them to just select the exported json file from tiled, select the image and done. Tilemap is there.

I guess I could use  readProjectJSONFile
from
https://github.com/4ian/GDevelop/blob/2ddc451691d0549feb0fc79564f78362668fbe22/newIDE/app/scripts/lib/LocalProjectOpener.js ?

[2020-03-15 18:01] 4ian commented on #503
Your object needs a resource. See my answer on https://github.com/4ian/GDevelop/pull/1134#issuecomment-599243429

[2020-03-15 18:19] probonopd commented on #1234
Hello, someone from the AppImage team here. Can you please provide an AppImage for download so that we can analyze this?

[2020-03-15 19:03] blurymind commented on #503
thank you @4ian :)
For the tileset I can write one in PixiResourcesLoader, for the json resource, I will do it in ResourcesLoader/index.js

Every time a json or an image resource is changed, I need to update both the tileset and the tilemap resource

[2020-03-15 19:56] 4ian commented on #1234
@probonopd Attached is one I just made from the "Platformer" template:
https://www.dropbox.com/s/a89xr9pz80j9w9c/game-linux.AppImage?dl=0

[2020-03-15 19:58] 4ian commented on #503
Sounds like the good approach :)

What do you encompass in "update" exactly?

[2020-03-15 21:17] probonopd commented on #1234
Thanks. From a first glance this seems to run rather well for me:

![](https://user-images.githubusercontent.com/2480569/76710812-64fb2e80-6702-11ea-9049-fdb76157da7f.png)

What is the issue?

[2020-03-15 21:21] probonopd commented on #1234
Minor nitpick, it would be nice if it would show the game icon.

Currently it is in `<AppDir>/usr/share/icons/hicolor/0x0/apps/platformer.png` which is wrong. It should be in, e.g.,  `<AppDir>/usr/share/icons/hicolor/512x512/apps/platformer.png`. Also, a copy of it should be in `<AppDir>/platformer.png` and in `<AppDir>/.DirIcon`.

[2020-03-15 22:25] rishabhabhani commented on #1533
Could you describe a way to replicate this error?

[2020-03-15 22:45] PascalLadalle commented on #1533
Click on Add action
Choose the Create an object action
Click on the blue button on the right of the X position field.
Choose Multitouch.
Choose Touch X position.
Don't fill the layer and camera fields.
Confirm.

[2020-03-15 23:21] blurymind commented on #503
Every time the user changes the tiled json file or the image, I need to
update the tilemap with the new data. So the json data will be parsed
again, from it and the image a tileset will be regenerated and the tilemap
repopulated. In terms of lifecycle the tilemap pixi object has an animation
value that has to be updated much like the filters are updated. I think of
making that something the user c

[2020-03-16 11:03] GarrySan commented on #1533
I wanted to take up this issue.
I cloned, installed the node modules inside the newIDE and did `npm start`, this launches the browser but I get `dyld: lazy symbol binding failed: Symbol not found: _FSEventStreamCreate`.

Please help.

[2020-03-16 11:52] pranavmodx opened #1537 "Search filter for online editor not functioning as desired"
## Describe the bug
The search filter for online editor is not functioning as desired.

## To Reproduce
Steps to reproduce the behavior:
1. Go to [link](https://editor.gdevelop-app.com/)
2. Click 'Create a new project'
3. Click 'Examples'
4. Try filtering examples

## Screenshots

![Screenshot 2020-03-16 at 5 10 55 PM](https://user-images.githubusercontent.com/42793024/76755457-e78af900-67a9-11ea-

[2020-03-16 11:53] pranavmodx commented on #1537
@4ian If this issue sounds valid to you, I shall take this up.

[2020-03-16 12:16] 4ian commented on #1537
Feel free to take a look yes!

[2020-03-16 14:24] PawBud commented on #1505
@4ian I tried my best to solve this bug but unfortunately I couldn't come up with a solution. Can you further guide me?

[2020-03-16 18:03] 4ian commented on #1505
I have lots of other things to review and to do myself in a limited time every day so I would prefer a suggestion from you that I can then advise.
Here, you need to identify which React components must be opened, identify where to open them, what are the props they need and how to pass them. It's a good exercice that is fairly common in React: finding components and props, understanding what they

[2020-03-16 18:09] 4ian commented on #1234
Indeed, we're using a rather old version of electron-builder that might have this fixed for us already. I'll mark this bug as not able to reproduce but still a good first issue if someone wants to try getting this icon to work.

Thanks @probonopd for your investigation :)

[2020-03-16 21:36] 4ian commented on #503
again, from it and the image a tileset will be regenerated and the tilemap
repopulated

Right! This is only for the IDE right? At runtime, the object will only do this once I guess.

value that has to be updated much like the filters are updated

Objects do already have an `update` method, that should work no?

[2020-03-16 21:42] twistcharlie opened #1539 "a bug with plat-former character behaviour"
## Describe the bug
the bug is with jumping

## To Reproduce
Steps to reproduce the behaviour:
1. first u would want an object with platformer character behaviour
2.  play the project then go underneath a platformer object
3. also make sure the player object is as big and the gap of Y-axis
4. then jump
5. then walk out and try and jump

* Please include a link to a game if possible!

ill give a pr

[2020-03-16 21:59] RodolfoJF767 opened #1540 "AdMob"
Hi!

  I'd like to submit a new example to be added to GDevelop.
  Here is the link to download it: **INSERT the link to your game here, or add it as an attachment**.

  I confirm that any assets can be used freely by anybody, including for commercial usage.

[2020-03-17 06:25] PawBud commented on #1505
Oh ok sure, yea .. is it ok if I post some screenshots explaining what I am trying to do & what its output is?

[2020-03-17 07:07] gautamv95 commented on #1351
I would like to work on this, @4ian thanks for the info, will take a look at this

[2020-03-17 08:23] pranavmodx opened #1541 "Spinner under "All your builds" dialog spins forever in case of no builds"
## Describe the bug
The spinner under "All your builds" dialog spins forever in case of no previous builds.

Expected behaviour :
It should spin for few seconds and alert the user that there are no builds.

## To Reproduce
Steps to reproduce the behavior:
1. Create a new project
2. Export project
3. Click "See all my builds" in the export dialog
4. See bug

* Please include a link to a game if pos

[2020-03-17 08:29] pranavmodx commented on #1541
I checked ExportDialog.js but I failed to see any spinner component. The ExportDialog component is rendered in both LocalApp.js and BrowserApp.js but there too I don't see anything meaningful passed as props.
What am I missing here? @4ian Can you help me out?

[2020-03-17 08:36] #1492 closed

[2020-03-17 08:38] 4ian commented on #1541
Are you sure you're looking at the proper dialog? Search "This is the list of builds" in the codebase.

[2020-03-17 08:39] 4ian commented on #1541
Also check how `userProfile` is used in the codebase :) This only happens if the user is no connected

[2020-03-17 08:50] 4ian commented on #1505
You can ask questions but do this in a PR so that I can see your code and ask questions as focused as possible :)

[2020-03-17 11:45] pranavmodx commented on #1541
Thanks for the prompt reply. The issue seems to be fixed now. Please review it.

[2020-03-17 11:51] PawBud commented on #1505
Thanks a lot. I will post the screenshots in a new PR as you advised.

[2020-03-17 12:06] PawBud opened #1543 "Could Not Launch Preview error"
## Describe the bug

It has been around 3 days since this error keeps popping up whenever I try to click the preview button. The error says it all hence I don't really see the need to describe it any further.

## To Reproduce
Steps to reproduce the behavior:
1. Go to _Scene_ _Editor_
2. Click on _launch_ _a_ _preview_ _of_ _the_ _scene_ at the top right
3. See the error

**Screenshot of the error*

[2020-03-17 12:48] blurymind commented on #503
Unless we want to have actions that change these resources at runtime :)

Yes I intend to use the update method

Yes it will be :)

[2020-03-17 13:42] 4ian commented on #1543
Is this happening on editor.gdevelop-app.com?

[2020-03-17 13:54] #1541 closed

[2020-03-17 15:07] PawBud commented on #1543
no its the local build @4ian

[2020-03-17 15:12] PawBud commented on #1540
I am sorry but it seems that you did not add any link whatsoever. It might have been mistyped.

[2020-03-17 15:15] PawBud commented on #1539
While we appreciate that u added the dropbox link; if possible can you add a gif or a screenshot(Gif will be better). If you don't know how to upload a GIF in a PR; google it :).

[2020-03-17 15:16] PawBud commented on #1533
did you do it inside the `newIDE\app` directory?

[2020-03-17 15:17] #1506 closed

[2020-03-17 15:20] #1540 closed

[2020-03-17 15:23] PawBud commented on #1543
Any suggestions as to how I can fix this bug ?

[2020-03-17 15:39] twistcharlie commented on #1539
of the bug?
k

[2020-03-17 15:40] twistcharlie commented on #1539
but idk how to proove im pressing space

[2020-03-17 15:50] twistcharlie commented on #1539
done

[2020-03-17 15:52] PawBud commented on #1539
Thanks a lot @twistcharlie now it becomes easier to see what is actually happening.

[2020-03-17 16:26] jimil749 commented on #1472
@4ian Sorry for taking a lot of time, but had my college midsems and a hackathon, so had to take some time. I have a solution ready (using refs :)) and will send a PR in some time!

[2020-03-17 17:30] pranavmodx commented on #1537
It seems that it's not a bug but a missing feature. If not, what is the filtering based on? Like, is the filtering based on example game's title, description or sth else?

[2020-03-17 17:35] pranavmodx commented on #1537
On a side note, the same filter issue can be seen for Objects search also.

[2020-03-17 17:37] xAtishayx commented on #1543
I'm having same issue.

[2020-03-17 19:46] aniket15b commented on #964
@4ian I would like to work on this issue. I am able to recreate it on Ubuntu 18.04 as well.

[2020-03-17 20:21] 4ian commented on #964
Feel free to work without asking for permission :)

[2020-03-18 05:24] pranavmodx opened #1547 "Missing keyboard shortcut for exporting project"
## Describe the bug
Not exactly a bug but a possible enhancement. There is currently no keyboard shortcut for exporting a project. It would be nice if there was one.

## To Reproduce
Steps to reproduce the behavior:
1. Go to File Menu
2. Observe there's no shortcut for Export

## Screenshot
![Screenshot 2020-03-18 at 10 52 48 AM](https://user-images.githubusercontent.com/42793024/76928143-a3613b00

[2020-03-18 07:25] PawBud commented on #740
We can close this issue then @KinkGD @4ian

[2020-03-18 08:27] 4ian commented on #1547
What should be the shortcut, if any?

[2020-03-18 08:34] pranavmodx commented on #1547
How about Command/Control + E?

[2020-03-18 08:58] aniket15b commented on #964
The app doesn't compile when I try to install 'electron-store'.
The following error message appears.

Failed to compile.

./node_modules/electron-store/index.js
Module not found: Can't resolve 'electron' in '/home/aniket/Study/GDevelop/newIDE/app/node_modules/electron-store'

I tried resolving this issue by deleting node_modules and package-lock.json as suggested [here](https://stackoverflow.com/q

[2020-03-18 11:53] Minisonny opened #1549 "Highlight selected object not disappear"
## Describe the bug
I'm not sure if this is a misbehavior or a feature :), but it's kinda annoying. Basically, the selected object (to be dragable) will be highlighted, but the only way to remove that highlight is to select another object or left-click onto the scene editor. If I select an object, and either right click to edit another object, close the object editor, or even go around a bit and r

[2020-03-18 11:56] #1549 closed

[2020-03-18 13:18] pranavmodx commented on #1537
@4ian Can you fill me in here?

[2020-03-18 13:46] 4ian commented on #1537
Take a look at https://github.com/4ian/GDevelop/blob/master/newIDE/app/src/ProjectCreation/ExamplesList.js

It's a fuzzy filter. I'll close this because it's a feature, not a bug. All search should be, where possible, fuzzy filter.

[2020-03-18 13:46] #1537 closed

[2020-03-18 13:47] 4ian commented on #964
You're not installing it the proper directory - make more research about the architecture and where is electron used.

[2020-03-18 13:57] pranavmodx commented on #1537
Thanks for clarifying on a short notice. :)

[2020-03-18 14:23] #1547 closed

[2020-03-18 15:32] HarsimranVirk commented on #1449
Heyy @Silver-Streak, I've been digging into pixi-renderers for entirely other reasons (GSoC), but I guess this issue could help me understand the codebase :)

I believe there is nothing like that in the codebase, GDevelop handles TextObjects as normal RuntimeObject (I'm not sure, can you confirm this @4ian @Bouh?). This is pure speculation and I'm not sure, but this might have nothing related to T

[2020-03-18 15:48] Silver-Streak commented on #1449
I got a e-mail about a mention that isn't here, so I'm assuming it was deleted, however it appears someone was asking about where the text runtime objects I mentioned are located.

They can be found here: https://github.com/4ian/GDevelop/tree/master/Extensions/TextObject

Hope this helps anyone looking into this.

[2020-03-18 16:24] HarsimranVirk commented on #1449
Okay, @Silver-Streak I didn't look into Extensions (and checked only GDJS/Runtime), so I thought TextObjects are treated as normal RuntimeObjects, sorry about that, my bad :) Anyway, I want to ask why do we scale TextObjects? I mean we could've changed their font size instead of scaling? Is there any special purpose for scaling the fonts?

https://github.com/4ian/GDevelop/blob/4edbd9d37743eda30335

[2020-03-18 16:29] aniket15b commented on #964
I see that electron is used in the 'newIDE/electron-app' directory. But the logic to load the preferences is written in the 'newIDE/app' directory (in the 'newIDE/app/src/MainFrame/Preferences/PreferencesProvider.js' file) which is where i have imported 'electron-store'. Maybe I could try using another module instead of 'electron-store' like an in-memory embedded database? (as suggested [here](htt

[2020-03-18 16:43] pranavmodx opened #1550 "Disable menu items when action is not possible"
## Describe the bug
Not exactly a bug but a possible enhancement/prevention of future bugs. The corresponding menu item should be disabled when an action is not possible in a given setting. Else, it could become a reason for a bug at some other time when user clicks the menu item when it isn't allowed/possible to.

## To Reproduce
Steps to reproduce the behavior:
1. Open desktop app
2. Click on Ed

[2020-03-18 17:13] Silver-Streak commented on #1449
@HarsimranVirk I'm not a contributor, and I think 4ian and Bouh/all of the contributors goal is for a careful solution to be put in place for this.

However, if you look at "Potential Solution 1" in the 2nd or third post above, it provides a method to do exactly what you're mentioning. It looks at the "default" resolution for the game, your selected font, then scales the font size up and down rath

[2020-03-18 17:34] PascalLadalle opened #1551 "Special characters in filenames trigger wrong collisions"
## Describe the bug
[A user on the forum](https://forum.gdevelop-app.com/t/a-bug-with-collision/23371/23) complained of erroneous collisions. It acted as if there was an offset between the custom hitbox and the actual sprite. After investigation, it turns out that the **@** character in the filename of one of the involved sprites was the culprit.

sample project provided by the user: https://mega.

[2020-03-18 17:49] 4ian commented on #1550
For this kind of issues to be useful, it would be a good idea to list what to do, so that the issue is actionable - otherwise this issue will surely stay there forever.
Opening an issue is good, but making the work of finding what is really missing in details is even better :)

[2020-03-18 17:57] pranavmodx commented on #1550
Thanks for mentioning this. Will keep this in mind in the future. :)

Is there an easy workaround for this? Or does this require a lot of changes with conditionals for different scenarios?

[2020-03-18 18:10] 4ian commented on #1550
Probably the work is quite different for each menu item, might not be totally obvious how to get the info to know if we can disable the item or not. Look at ElectronMainMenu.js to get an idea :)

[2020-03-18 18:15] 4ian commented on #1543
This is fixed! This was an oversight on my side. Thanks for your patience :)

[2020-03-18 18:15] #1543 closed

[2020-03-18 18:26] 4ian commented on #964
Are you sure you need electron-store? We're already storing the preferences in local storage, as you can see in newIDE/app/src/MainFrame/Preferences/PreferencesProvider.js.
Is that enough to get other instances to synchronize when the theme is changed? If not, what should be the solution? An event, an inte-process communication? (I'm not sure :))

[2020-03-18 18:59] HarsimranVirk commented on #1449
@Silver-Streak I've been checking on some functions related to resizing, and I strongly believe that the TextObject, or really any other object is not directly scaled at all. I have 2 reasons for that,

1. I'm not really familiar with the codebase, but if I had to implement the resizing, I wouldn't access each and every object present in the scene (or layer) and scale them up/down individually. Th

[2020-03-18 19:56] Silver-Streak commented on #1449
@HarsimranVirk I believe you are correct. TextObject inherits the behavior from (_I think_) GDJS.js around a "onGameResolutionResized" function.

To implement this method I think there would likely need to be a change so it no longer inherits that scaling 1:1 and instead when onGameResolutionResized is called, TextObjects (and BBtextobjects) use this other font size scaling method, instead of just

[2020-03-18 20:09] 4ian commented on #1449
There is no special scaling applied to objects.
All game objects are rendered to a canvas, using the game resolution. The canvas is then stretched to fill the window/page, but not object individually.

This does not seem related to GDevelop. It would be interesting to reproduce the issue of a Pixi sample. Basically, render a text with a font, and put a sprite with some text using the same font and

[2020-03-18 21:07] Minisonny commented on #1550
Is it only me or anyone else also observe that the _Edit_ dropdown doesn't work even in the main editor 😕

[2020-03-18 21:13] Silver-Streak commented on #1449
@4ian

Looking at https://codepen.io/Tazy/pen/wJVExB, it seems like they're applying this alternative scaling logic (or lackthereof) to Text objects using Pixi. If I understand correctly, they're basically creating a separate function that handles text scaling for the canvas, basically creating a separate instance of the GDJS "onGameResolutionResize" (or equivalent) that instead of scaling it just

[2020-03-18 21:13] 4ian commented on #1550
It's only for text fields.

[2020-03-18 21:21] 4ian commented on #1550
But to be fair yeah it's confusing because it's always enabled even when not useful!

[2020-03-19 01:58] pranavmodx commented on #1550
The File Menu and the Edit Menu are the most confusing ones I think. So maybe fixing just those at this time would help?

I'm not sure regarding the solution but here is what I worked out :

- When to disable to each menu?
1. File Menu [items such as save, save as, export, close]  - At the start page and/or when no project is open.
2. Edit Menu [probably all items] - At the start page and in the m

[2020-03-19 08:34] Minisonny commented on #1550
Yeah, the `enabled` is used various places with the `label` and self-defined click function. But in `ElectronMainMenu` it is predefined with `role`. I'm not sure but maybe we can try to check the `Clipboard` to see if we should enable or not

[2020-03-19 08:52] 4ian commented on #1550
**Here is how it works right now:**

* The app is controlling the menu with ElectronMainMenu.js
* It's sending the menu to electron with an event, and then electron (see MainMenu.js) renders the menu (this allows to separate the electron only code in `electron-app`).
* When there is a click, an event is sent back from MainMenu.js to ElectronMainMenu.js, which calls editor methods.

It works ok, bu

[2020-03-19 08:56] 4ian commented on #1550
What I described works well for, I think, disabling menu items in File/Edit/etc... menus.
It might require more work to get the Edit menu to be dynamically updated according to the selection. I would say not to worry about this - starting by disabling the menu options when there is no project opened would be a good start :)