[2017-08-11 08:47] nerdite commented on #360
Any updates on this?

[2017-08-21 09:58] VR51 commented on #350
Looks like the last Ubuntu release of GDevelop was for Xenial.

You can build it from the source files. Took an hour for the build to complete. The general path is:

1) Install CMake, its dependencies and QT. Both are in the K/Ubuntu software repositories
2) Install the latest version of WxWidgets. The official Ubuntu repo release of WxWidgets might not be good enough for GDevelop to build success

[2017-08-21 19:46] 4ian commented on #350
Awesome! I don't now if there is any way you could build a PPA from this?
I made a script for this a while ago that I used to build my PPA: https://github.com/4ian/GD/blob/master/Binaries/Packaging/PackageForUbuntu.sh

The GPG public key must be changed and the version number too, otherwise it should work.

[2017-08-23 10:02] Halamix2 commented on #350
I was able to build GD (`cmake . ; make`) , and I'll try to fork GD and set Travis to output .deb packages (maybe even push them to PPA)? http://travis.debian.net/

[2017-08-23 12:41] VR51 commented on #350
@Halamix2 I've seen Travis mentioned several times over the years but never bothered to find out what it is. Now I know what it is I think I quite like it.

@4ian looks like Halamix2 has this covered.

[2017-08-23 13:41] Halamix2 commented on #350
Or we can use somehow https://docs.travis-ci.com/user/deployment/launchpad/ , previous travis method probably require having separate /debian/ branch (and some edits in travis.yml that I'm too scared to make)

[2017-08-24 08:54] nerdite commented on #360
Alright I'm still having issues with this, I have actually tried manually adding adverts and I'm still having issues. Do you have any solutions? I know you are trying to put the work into the new interface but do you have a way of adding admob without using Gdevelop.

[2017-08-24 21:41] 4ian commented on #350
Yep, OpenSUSE Build Service looks nice and there is a build script here: https://github.com/4ian/GD/blob/master/Binaries/Packaging/PackageForOBS.sh made by @victorlevasseur 😃
Give it a try to see if you can get it working :)

[2017-08-24 22:57] 4ian commented on #360
Can you try to:

- open the file called `admobruntimeobject.js` in this folder: <GD directory>/JsPlatform/Runtime/Extensions/AdMobObject
- Paste this at the end:

[code]

- Save the file
- Start again GD, open your project and launch a preview.

The game should run properly. Otherwise, please copy-paste here the content of the developer console as you did before :)

[2017-08-25 07:39] nerdite commented on #360
Still Nothing.

pre-main prep time: 0 ms
pixi.js:sourcemap:7
    Pixi.js 3.0.8 - ✰ WebGL ✰      http://www.pixijs.com/    ♥♥♥

bunny.png Failed to load resource: the server responded with a status of 404 (Not Found)
layer-pixi-renderer.js:73 Uncaught TypeError: Cannot set property 'zOrder' of undefined
    at gdjs.LayerPixiRenderer.addRendererObject (layer-pixi-renderer.js:73)
    at gdjs.LayerPix

[2017-08-25 10:22] Lizard-13 commented on #360
I can confirm the error and 4ian's code fixes the problem, did you try a preview and then a hard refresh in the browser (Ctrl+F5 / Shift+F5) ?

[2017-08-25 13:36] nerdite commented on #360
Aha! yes sorry about that!.

[2017-08-25 14:09] nerdite commented on #360
It stoped it from crashing now all we need is for adverts to work.

[2017-08-27 13:50] kholyphoenix1 opened #374 "libwx_gtk2u_html erro?"
Hello,

OpenSuse 42.3 erro with Gdevelop...

`Unable to launch GDevelop, a unknown error happened! Here is the full error message:
 ./GDIDE: relocation error: ./libGDCore.so: symbol _ZThn664_N13wxHtmlListBox10RefreshAllEv, version WXU_3.0 not defined in file libwx_gtk2u_html-suse.so.3 with link time reference
`

Gnome-Terminal:

`linux@linux-a02n:~> gdevelop
./GDIDE: relocation error: ./libGDCore.

[2017-08-29 12:13] agameraaron opened #377 "Making an active preview inaccessible."
I somehow made the preview inaccessible. The scene (and all other) tabs become unresponsive and the user is left unable to save their project! File simply says "Please stop the preview before continuing".

Conditions to replicate:
I started editing the event sheet and it must have changed the tabs at the top. This was while a preview was still active.

![cannot access scene tab](https://user-image

[2017-08-29 12:38] 4ian commented on #377
Click on Scene tab in the ribbon then on "Stop The Preview" button? :)

[2017-08-30 01:22] agameraaron commented on #377
The scene tab was unresponsive. It did nothing when clicked on.

[2017-08-30 14:56] 4ian commented on #377
Strange. Can you reproduce the same bug again now?

[2017-08-30 19:09] agameraaron commented on #377
It would appear I was clicking on the wrong 'scene' tab this whole time. There is one above (File, Projects, Images bank, **Scene**) and one below (**Scene**, Events). I was trying to click the one above. That's a bit confusing. When people told me to click the 'scene' tab, I was technically doing that, just the wrong one.

[2017-08-31 00:10] Lizard-13 commented on #377
I think the magic word in 4ian's first comment is "ribbon", but it can be a bit confusing indeed :)

[2017-08-31 03:21] agameraaron commented on #377
Ooh, okay, gotcha. I was clicking on the ribbon's Scene button. I will close this as it was a user error on my part. If I think of a good design that might infer what to do when in the same situation, I will put it under feature request.

[2017-08-31 03:21] #377 closed

[2017-08-31 08:44] SolarLune commented on #272
Yo! Has anything changed since February regarding this?

[2017-08-31 09:29] Lizard-13 commented on #377
@4ian, could it be possible to change the name of "Scene" in the ribbon into "Preview" while you are doing a preview?, this way the users will se this big "Preview" tab on the top and then the "Stop preview" button 🤔

[2017-08-31 11:09] AlihassanProgrammer opened #379 "VersionPriv.h"
VersionPriv file miss from the project. Without this file GD terminate and throws 50 + errors.
![image](https://user-images.githubusercontent.com/11745671/29920389-c12a72be-8e66-11e7-9bdd-b8ebb82954ec.png)
![image](https://user-images.githubusercontent.com/11745671/29920363-a1ab4300-8e66-11e7-9b33-71b9e88023a4.png)

[2017-08-31 12:29] 4ian commented on #377
@agameraaron In the upcoming GDevelop 5, I've split scene and events in two separate tabs.
And the preview runs in a separate window so it's not blocking the whole editor so this problem should not appear. See this screenshot:
![image](https://user-images.githubusercontent.com/1280130/29923068-6fd855ec-8e58-11e7-9189-70b9d766a819.png)

Do you think it's better?

@Lizard-13 I think it would add eve

[2017-08-31 12:33] 4ian commented on #379
Code::Blocks projects are outdated and should be removed (I keep them in case I have to tweak an existing dialogs made with wxSmith, the RAD tool integrated in Code::Blocks).
Don't use them: instead, compile with CMake as explained here: http://4ian.github.io/GD-Documentation/GDCore%20Documentation/setup_dev_env.html 😃

[2017-08-31 12:35] 4ian commented on #379
(VersionPriv.h is generated by Cmake during the build). Note that CMake is maybe able to generate Code::Blocks projects. But I would recommend starting simple and compile using CMake + makefiles as explained in the doc ;)

[2017-08-31 12:39] 4ian commented on #272
It's unlikely that I change this soon, maybe someone could update the build (CMake files and such) to rely on the system provided SFML.
I'm currently working on a brand-new editor that is based on different technologies (JS with Electron, Emscripten, React, Pixi.js) so it's my main focus: http://forum.compilgames.net/viewtopic.php?f=18&t=9122&sid=2b812410fb1b2eb42acdfa0f187a1b56

My main goal is t

[2017-08-31 13:37] briguyjm opened #380 "Can't install GDevelop from Fedora Repo"
I am trying to install GDevelop using the Fedora repo. I add the repo, run `sudo dnf install gdevelop` and then get the following error:

    Error:
     Problem: conflicting requests
      - nothing provides libGLEW.so.1.13 needed by gdevelop-4.0.94-2.1.i686
      - nothing provides libGLEW.so.1.13()(64bit) needed by gdevelop-4.0.94-2.1.x86_64

I have installed `libGLEW`, `glew-devel`, and `glew`

[2017-09-01 03:40] HeadClot commented on #268
Hey just thought I would chime in on this.

My advice would be to look at these articles on [phaser quest](http://www.dynetisgames.com/tag/phaser-quest/) It was a small scale MMO made with Phaser and I want to say Node.js

[2017-09-01 03:58] HeadClot opened #381 "Chunk Map Support for larger game worlds."
Hey got a request for the new GDevelop IDE

What is it: Chunk Map Support

You can read more info on the subject below:
http://www.dynetisgames.com/2017/07/24/westward-dev-log-1-chunk-maps/

There is also some sample code below -
https://github.com/marcus-robinson/chunk-map/tree/master/www/js/game

So what am I asking?
1. The ability to import multiple maps to make a much larger map but stream chu

[2017-09-01 06:56] agameraaron commented on #377
Looks great; looking forward to the next version! The new interface looks to be very user friendly.

[2017-09-01 07:47] blurymind commented on #377
I feel that the new interface is built more for a mobile device and would not look as good on a bigger screen desktop machine screen as the old one with these giant buttons and tabs . They take away space from the level editor and event sheet frame. There is also a lot of wasted empty space above the tabs in the screenshot, but I am assuming that is because it is a WIP and it might get populated a

[2017-09-02 04:22] wild-master commented on #381
@4ian: Will your commit related to culling have a strong impact on his desire to create huge maps?

I'm talking about this commit:
[https://github.com/4ian/GD/commit/8619f18b936adecf2c10c2c5c26b4665bf03ba64](https://github.com/4ian/GD/commit/8619f18b936adecf2c10c2c5c26b4665bf03ba64)

How noticeable will the performance boost from your culling method be? Is it almost as effective as the idea about

[2017-09-02 13:31] Lizard-13 commented on #381
@HeadClot: That would be nice, keep in mind that you could mimic it in a more fixed way through External layouts and placeholders.
@wild-master: I think it's an IDE-only feature, but of course the code could be copied into the engine as an object/scene option or an event condition.

[2017-09-03 12:20] Halamix2 commented on #350
I am unable to create package named GDevelop, perhaps because [one is already there](https://build.opensuse.org/package/show/home:victorlevasseur/gdevelop), I'll email him if he can add Ubuntu .deb builds to his project.

[2017-09-07 08:35] nerdite opened #382 "Admob adverts not working"
Hi there,

Thank you so much for fixing the crash issue when adding the admob banner.
Now we have an entirely different issue. I followed the tutorial on the website installing the cordova admob plugin. I then export and test the game in my emulator and on my phone... but no adverts show.

My banner advert is set to show on startup on my second scene... but nothing shows up.
Any ideas?

[2017-09-08 08:07] nerdite commented on #382
Still thinking?

[2017-09-14 08:11] Kaytchup opened #384 "Physics extension stops exported android app running!"
I spent a long time making this physics game, and after exporting it and then converting with phonegap, It failed to load on the app! After lots of trying I discovered that it was the physics extension which stops it from running!

If there is a way of solving this I'd love to know!

Thanks

[2017-09-14 09:34] Kaytchup commented on #382
Copy and paste this code into the Javas Script file (obviously editing it by putting in your app ID/ publisher ID). This will make the banner appear on the bottom of the screen. You can go to other help sites on how to edit it and place it on other locations. But for now I used this.

document.removeEventListener('deviceready', onDeviceReady, false);

    // Set AdMobAds options:
    admob.setOpti

[2017-09-14 11:00] Benji64 commented on #382
Hi,
can you tell me where the file is and as it is called?
Can you also explain or place this part of the code in the file?

[2017-09-14 11:56] Kaytchup commented on #382
I'm guessing that you export to Apache Cordova right?
So where it converts to (the project folder) go in there, and then to another folder called www, in there there should be a file called 'code' open it with notepad or whatever and put the code at the end. Then save it, and  it should be all ready to go!

[2017-09-14 12:05] Benji64 commented on #382
I use intel XDK with cordova.
the first correction of 4ian was to do:

open the file called admobruntimeobject.js in this folder: / JsPlatform / Runtime / Extensions / AdMobObject
Paste this at the end:
gdjs.AdMobRuntimeObject.prototype.setLayer = function (layer) {
      // No renderable object
};

gdjs.AdMobRuntimeObject.prototype.setZOrder = function (z) {
      // No renderable object
};
Save

[2017-09-14 12:19] Kaytchup commented on #382
Have you put the admob plugin tag in the .xml file?

Plus does XDK still work? I thought they stopped supporting it?

[2017-09-15 08:32] AwesomePaper opened #385 "I wanna create Pause function without changing scene."
I want to create Pause function without changing scene.
Can I create Pause function only to changing scene?

Or can I overlap two scenes?

[2017-09-18 11:47] Benji64 commented on #382
the soft XDK still work but not the cloud service to build mobile app.
To build mobile app I use cordava cli.

[2017-09-18 11:49] AlihassanProgrammer commented on #379
Thanks sir

[2017-09-18 18:30] pavi2410 opened #386 "Blockly for events system"
Hello @4ian, would you please consider using Blockly as the event system. It is very similar to Scratch and App Inventor and is very easy to learn and use.

[2017-09-18 19:40] 4ian commented on #385
It's possible by setting the time scale of the scene to 0 (or at least of the layer containing the game objects, so that animations on other layers can keep playing!).
In this case, you should also avoid running events related to the gameplay (with a variable called "pause" that you set to 1 when the pause is activated for example). When the user press a key or click a button to unpause the game,

[2017-09-18 19:40] #385 closed

[2017-09-18 19:54] 4ian commented on #386
It's a nice system too indeed. I still think that events are a bit more efficient when working on large games (but I've not used blockly a lot so I may be mistaken). For example, events support copy-paste, moving actions or conditions, copying/replacing parameters and I'm not sure if you can do this efficiently with Blockly.
Also it seems that events takes less space on the screen so you can see m

[2017-09-18 20:56] blurymind commented on #386
please keep the current event sheet system. It has better layout and
organisation.
The blockly approach with the puzzle pieces is slower to learn and use. I
tried it

On Mon, Sep 18, 2017 at 8:54 PM, Florian Rival <notifications@github.com>
wrote:

[2017-09-30 16:18] timloo0710 opened #392 "GD can not new project in ubuntu 17.10"
My desktop is Ubuntu 17.10,
----------------------
$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu Artful Aardvark (development branch)
Release:	17.10
Codename:	artful
--------------------
I was following the guide to complie source with CMake .
 I run GD as following:
 /GD/Binaries/Output/Release_Linux$ ./StartGDevelop.sh

When I new a project,
It shows:

[2017-09-30 16:25] Lizard-13 commented on #392
I'm getting the same problem after compiling GD in Ubuntu 16.04 (officially supported version), I was thinking about deleting the entire directory and clone again, but it seems is not my fault :/

[2017-10-06 21:07] pavi2410 commented on #386
@blurymind, I find the current event system to be inefficient as you to type everything to do simple things and it has some limited drag and drop functionality. Writing code is much easier than to search and select every commands that you can use. Although, it won't be a problem for an experienced user like you. But as I'm new to GDevelop, I'm not that comfortable with it as I'm with Blockly.

Wit

[2017-10-06 21:21] pavi2410 commented on #386
@4ian,

These all are supported by Blockly.

Blockly also has in-built zoom controls as the blocks are basically rendered with SVG.

But that's a benefit for a beginner, who can create games without reading a lot of docs to know what commands are supported by events system.

Google has a [Codelab tutorial](https://codelabs.developers.google.com/codelabs/blockly-web/#0) on Blockly which would be be

[2017-10-06 21:46] blurymind commented on #386
with blockly you assemble puzzle pieces. It gets as convoluted as real
code- as you need  to know what pieces fit where.

Gdevelop's event sheet is better because it has only two categories- left
and right - condition and action

On Fri, Oct 6, 2017 at 10:21 PM, Pavitra Golchha <notifications@github.com>
wrote:

[2017-10-07 19:11] ale26reg opened #393 "Impossibility of correct translation GD"
In english translation are used currently the same lines for condition for sound object and 3D Box object:

#: ../Extensions//Box3DObject/Extension.cpp:213
#: ../Extensions//SoundObject/Extension.cpp:186
msgid "Pitch of _PARAM0_ is _PARAM1__PARAM2_"

In Russian you just can't translate "Pitch" equally in both cases. You must use **Тон** or **Высота тона** for sound and **Тангаж** or **Угол вращени

[2017-10-08 17:00] Lizard-13 commented on #393
Fixed in #394 (if get merged) :)

[2017-10-09 02:48] ale26reg commented on #393
Thanks alot!

[2017-10-09 02:48] #393 closed

[2017-10-10 19:19] blurymind opened #395 "storybook fails to load due to dependencies.."
I get this  error message in nodejs console

[code]

[2017-10-10 20:56] 4ian commented on #395
Can you post the full stacktrace and the command you've launched? :)
Have you launched a `npm install` before?

[2017-10-10 23:08] blurymind commented on #386
@4ian please don't scrap the events sheet system - it is gdevelop's strongest feature and now that the editor is becoming much more responsive - the event sheet is a pleasure to use.
@pavi2410 please try to the newIDE - the event sheet works better in it. Try to get used to it before dismissing it for what you have already become accustomed to by putting in the time.
Give it as much time as blockl

[2017-10-10 23:30] blurymind commented on #395
sorry, let me come back to you on this one :)
Will play with it tomorrow again

[2017-10-13 02:25] JeremyShafer commented on #343
Same problem too - it's a pity - I had wanted to share Gdevelop with a bunch of my students at Temple University.  But this makes it a hard sell as a cross-platform solution.  Any resolution?

[2017-10-13 02:27] JeremyShafer commented on #343
Process:               GDIDE [680]
Path:                  /Applications/GDevelop.app/Contents/Resources/./GDIDE
Identifier:            com.gdevelop
Version:               1.0 (11)
Code Type:             X86-64 (Native)
Parent Process:        ??? [679]
Responsible:           GDIDE [680]
User ID:               501

Date/Time:             2017-10-12 22:27:26.650 -0400
OS Version:            Mac OS X

[2017-10-13 16:21] ale26reg opened #400 "Something wrong with error message"
In English all works prefectly, but in other languages the "errror message" shown incorrectly: instead of a part of the sentence, an abracadabra is displayed.

[Screenshot in English](https://prntscr.com/gx06sd)
[Screenshot in German](http://prntscr.com/gx0jft)
[Screenshot in Spanish](http://prntscr.com/gx0i6l)
[Screenshot in Russian](http://prntscr.com/gx0kwo)

[2017-10-14 00:39] blurymind commented on #395
Ok I got back to this..
and actually discovered the bug myself and fixed it :p

The reason storybook was failing to load was this line in src/stories/index.js :
`import LocalCreateDialog from '../ProjectCreation/LocalCreateDialog';`
points to a non existent file. You must have renamed it and forgot to change the path

I am going to submit a patch shortly

[2017-10-14 00:55] blurymind commented on #395
Changing the path fixed it for me. Hope my pull request is ok

[2017-10-14 01:05] blurymind opened #402 "newIDE - unable to launch preview"
Previewing seems to have stopped working for me. I get this in console btw

[code]
I am on the latest version of nodejs 8.7.0

seems to be a security thing

[2017-10-14 16:49] 4ian commented on #402
This is because you're running GDevelop in the browser, which does not have any file system access, so preview are generated and temporarily stored on a Amazon S3 bucket.
There is an environment file called `.env.dist` that you can rename in `.env.local` to set the credentials of the Amazon S3 bucket to use (but the address of the S3 bucket is hardcoded for now in [BrowserS3PreviewLauncher.js](htt

[2017-10-14 16:50] 4ian commented on #395
Fixed in your PR, closing this :)

[2017-10-14 16:50] #395 closed

[2017-10-15 12:36] #379 closed

[2017-10-18 12:43] blurymind commented on #402
Thank you for explaining this

I will look into it when I get home :)

[2017-10-20 08:30] 4ian commented on #402
Ok let me know if you have any problem launching GD with Electron

[2017-10-21 12:23] Lizard-13 commented on #357
4iaaaaaan, another victim: http://forum.compilgames.net/viewtopic.php?f=19&t=9416&p=63678#p63670
Ok, now we have the new IDE, so I could check it out :D

[2017-10-23 12:10] Lizard-13 opened #409 "Dynamic point names and sound filenames"
Not an issue at all, but what do you think if we add an option to refer to a point trough a dynamic string?
If you modify the "Object.PointX(pointname)" to accept a dynamic string it would be a compatibility breaker. But you could modify the "Object.X(pointname)", which is not soooo used, to add the option. Or add two extra expressions :)

About dynamic sounds, I know the problem is that you can't

[2017-11-07 23:03] dfgkln opened #414 "I cant open Gdevelop on MacOS X Serria"
It just quits is it because I'm using OS X Serria

[2017-11-28 00:06] 4ian commented on #414
I suggest you try the GDevelop 5 which is being developed but can still be largely used to create  a lot of games :) You can download it from the website: compilgames.net/#download

[2017-12-02 00:09] #386 closed

[2017-12-02 13:42] 4ian commented on #409
Answering just now, I think having dynamic points could indeed be interesting but for now I've no real plan to integrate this.
For dynamic sounds, this would need to have the resource manager able to handle sounds indeed, so that we know which sounds can be loaded. No real plan for now but this is something I'd like to improve! 😃

[2017-12-03 12:56] Lizard-13 commented on #409
Just out of curiosity, it's working modifying the parameter type in the lines [SpriteExtension.cpp#X](https://github.com/4ian/GD/blob/8593249bc6e7b530f3f9686f0832a920162824e2/Core/GDCore/Extensions/Builtin/SpriteExtension/SpriteExtension.cpp#L440) and [SpriteExtension.cpp#Y](https://github.com/4ian/GD/blob/8593249bc6e7b530f3f9686f0832a920162824e2/Core/GDCore/Extensions/Builtin/SpriteExtension/Spri

[2017-12-04 09:40] sagarkodte opened #419 "showing different pop up when player will be touch on single blocks"
I want to show some tips when player will be touch brown block. Is it possible?

[2017-12-06 14:40] bil-ash opened #420 "Using cordova plugins"
After exporting to cordova,in which file and at what place should I place the js code for using the cordova plugins?
In normal cordova apps its in the app.js

[2017-12-06 19:45] 4ian commented on #419
You should ask this on the forum : http://forum.compilgames.net :)
This GitHub issues page is for discussing about GDevelop development itself. I'm closing the issue then ;)

[2017-12-06 19:45] #419 closed

[2017-12-07 11:38] #420 closed

[2017-12-08 05:12] sagarkodte commented on #419
forum is not working. It's automatically logout randomly when clicking on any link.

[2017-12-20 07:57] Aboideau opened #425 "Setting text smooth option gives 'is not a function' error in the HTML5 preview"
I'm using GDevelop4. No matter in what event I place the 'Smooth [text object]: [yes/no]', the preview of the game breaks giving this error message:

    Uncaught TypeError: gdjs.game_95sceneCode.GDscoreObjects1[i].SetSmooth is not a function
    at gdjs.RuntimeScene.gdjs.game_95sceneCode.func [as _eventsFunction] (code0.js:238)
    at gdjs.RuntimeScene.renderAndStep (runtimescene.js:205)
    at g

[2017-12-22 01:47] dos1 commented on #392
Check out #340

[2017-12-22 01:49] dos1 commented on #338
Merging in #340 fixes the issue for me.

[2018-01-24 10:45] noz1ng opened #434 "Physics behaviour hangs the game"
Created the project at version 5 b13 , then updated GDevelop to current 5 b22, and just wanted to add physics to one of my existings objects - but app hangs at scene preview after that. Same if i create a new one and add physics to him. So, i opened project json and manually add string with physic behaviour into the project extensions list. Then restarted GDevelop, load project... and nothing chan

[2018-01-24 11:04] zatsme commented on #434
I started to use v5 last night after waiting for the physics to be added, thanks 4ian!

I had same issue when playing with it.  Looking at the code in browser debug it reported null values in the size of my objects.

I didn't go any further as I needed sleep ☺️

[2018-01-24 11:56] noz1ng opened #435 "Please add to Random() some new features"
Such as possibility to set min value, or negtive value, like that:

Random(min, max)
Random(-42, 42)
Or something, please
It gonna be a very sugar

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/54163449-please-add-to-random-some-new-features?utm_campaign=plugin&utm_content=tracker%2F3677421&utm_medium=issues&utm_source=github)** We

[2018-01-24 12:44] 4ian commented on #434
Can you send me (by email: florian.rival@gmail.com) your game folder
(project file + images)?

I can then debug and issue a new beta version :)

On Wed, Jan 24, 2018 at 12:04 PM Zat <notifications@github.com> wrote:

[2018-01-25 13:25] noz1ng commented on #434
Looks like i digged out, why. Just look at project .json, and scroll down to "layers" section. Compare to physics tutorial, user created projects are deprived of this code:

[code]
So, i just copy-pasted this section from physics tutorial, and its worked for me

[2018-01-25 13:32] zatsme commented on #434
Yes so scalex and scaley is null and therefore exception....

Last night i created a new project with b22 and it worked fine, so must be old projects causing issue.  When adding physics behaviour it's not creating the section for some reason?

[2018-01-25 14:33] noz1ng commented on #434
Nope, it crashing with new as well. Until i manually added these strings in json

[2018-01-25 19:00] noz1ng opened #436 "Persistent of deleted objects"
After deleting some of my added objects, they still exists in project json. A sort of garbage. Yes, i deleted them completely, using IDE. Project json just grows bigger, with every added or removed object, storing EVERY ever added resource. It is normal?

[2018-01-26 04:51] Lizard-13 commented on #436
If you reopen the project, the deleted objects are loaded?

[2018-01-26 08:48] 4ian commented on #436
Resources are not properly loaded. I'm going to fix this for the next beta!

[2018-01-26 10:21] noz1ng opened #437 "Pixel perfect collision"
I know, im totally newbie to things like that, but...

Let assume, that we have created sprite object, and attached to him ACCURATELY cut out image. So, in this case, the image borders should EXACTLY match the sprite object borders. Am i right? If so, pixel perfect collision event SHOULD trigger only that way, as it says. But now, it triggers by colliding outer image borders, according to the rast

[2018-01-26 15:48] Lizard-13 commented on #437
In HTML5 there is no difference at all, pixel-perfect collision is in the TODO list: [#L63](https://github.com/4ian/GD/blob/648bd1ff2eefd0f4b05b127688df298c33cb3b27/GDJS/GDJS/Extensions/Builtin/SpriteExtension.cpp#L63)

[2018-01-27 18:39] 4ian commented on #434
This should be fixed in GD 5 beta 23!
You are also able to edit the gravity and internal options of the physics engine (when at least one object on the scene have the Physics behavior):

<img width="375" alt="screenshot 2018-01-27 19 39 22" src="https://user-images.githubusercontent.com/1280130/35475168-cb06a0b6-0399-11e8-8dbd-db6f3f693548.png">

[2018-01-27 19:08] zatsme commented on #434
Yes, works as far as I can see :)

But I think the Gravity should default to Y=9 rather than 0 which it does now!

Also, there are some small things which would help the GUI...and I know this needs to go somewhere else?!

There should be a List of last opened projects at startup
The tabs.... ( Start Page / Scene / Events )  should shift right when you open project manager
Project Manager, layers,

[2018-01-27 20:04] 4ian commented on #434
Better indeed, I've changed this for next beta!

For now, you can discuss about this in the forum on this thread: http://forum.compilgames.net/viewtopic.php?f=18&p=64849#p64849

I've noted your ideas anyway :) For project manager I'd like to see if I can add a button/preference to have it pinned on the left.

[2018-01-27 21:05] noz1ng commented on #434
Cool! But what about to allow input floating values here? For now, if i wish 0.x gravity, i can't do this using GUI

[2018-01-27 21:26] 4ian commented on #434
If think you can but the "." is removed directly while you're typing. I'll change this, for now you can try to copy paste a floating point value in it.

[2018-01-31 06:46] noz1ng opened #438 "Implement Quit Game on HTML5"
Afaic understand, there is no "out of box" solution at here, as of current b 23. And i've been a little confused last night, when exported Cordova project just freezes, instead of terminating properly. Any workarounds awhile?

[2018-01-31 07:42] noz1ng commented on #438
Not such a problem, as it turned out. Just inserted Cordova code right into project js, so touching a button eventually closes my app. Imo, those things needs to be explained and implemented in the newbie-friendly way, as of GDevelop fundamentals

[2018-01-31 09:25] 4ian commented on #438
This would need a page dedicated to Cordova/mobile specificities on the wiki. You can start such a page if you wish, just create an account on wiki.compilgames.net/doku.php/gdevelop5/start :)

Can you close the issue if there is nothing wrong? So that it's clearer for me when looking at the list of issues.

[2018-01-31 09:55] noz1ng commented on #438
Sure, i would create such page later, this will be really helpful for others like me!

[2018-01-31 09:56] #438 closed

[2018-01-31 09:56] #434 closed

[2018-01-31 09:57] #437 closed

[2018-02-03 18:39] luigi1610 opened #440 "Crash while using an editor"
=> Please write here a short description of when the error occured and how to reproduce it.
You also may have to create an account on GitHub before posting.

When you're ready, click on "Submit new issue". Don't change the rest of the message. Thanks!

## Error stack (don't write anything here)
[code]

## Component stack (don't write anything here)
[code]

[2018-02-03 18:43] 4ian commented on #440
Have you cloned and compiled GD by yourself or used a version downloaded from the website/Github?

[2018-02-03 18:53] 4ian commented on #440
If you're launching GDevelop by yourself, please remove newIDE/app/public/libGD.js and launch again `yarn start` or `npm run start` :)

[2018-02-03 19:29] 4ian commented on #436
I've released beta 24 where you can open the resources editor and remove useless images if you don't need them anymore.
I'll implement an automatic unused resource detection and removal later! :)

I'm closing this issue as I consider that this is fixed 😃

[2018-02-03 19:29] #436 closed

[2018-02-07 08:14] Wend1go opened #442 "Feature Request: GD5 - Middle mouse button drag scroll camera view"
Currently you are able to move objects in the scene either by using the left or middle mouse button.
It would be nice if the middle button would be used to drag the camera around instead of selecting / moving objects in the scene.
Using the scroll bars to move the camera view is a little inconvenient.

[2018-02-07 09:46] 4ian commented on #442
It's hidden but you can also keep pressing the Space bar and drag'n'drop to move on the scene :)

[2018-02-17 06:28] c73k commented on #435
When i need to use some Min-Max Values always use Random() like this: "Random(10)-5" where the min is -5 and the max is 5 :)

[2018-02-21 21:23] gnacca commented on #365
Hi, I solved using `cmake ..` instead `cmake ../..`

[2018-02-22 20:09] AGiralli opened #446 "Pixelart Game"
Hi,
I'm trying to make a pixel-art game with GDevelop and I'm using pretty small images.
But whenever I try to import those sprites onto the screen the images get blurred...

Sombody told me, that I should turn of some option in the Image menu, but I only have a Resources menu.

I mean, I could scale the images up, but it would be a hell of a lot of work and it also would make the game much slower

[2018-02-22 20:28] 4ian commented on #446
Are you using GD4 or GD5?
There is an options in GD4 but I've not yet added it to the Resources menu in GD5. Will do that really soon! It's added to my roadmap

[2018-02-22 23:18] Lizard-13 commented on #446
Please make the option a checkbox instead a "Yes"/"No" random-string box ;)

[2018-02-23 19:31] AGiralli commented on #446
I'm currently using GD5.
And I would be very happy to see such a feature sooner or later ^^.
Thx for your fast answer.

[2018-02-24 16:09] gnacca opened #447 "build standalone Mac app from source code"
Hello, I wanted to try building the Mac app standalone of the version 4.0.96 because it's not available for download.
I followed all the step included on the documentation page http://4ian.github.io/GD-Documentation/GDCore%20Documentation/install_mac_o_s_tools.html.
I successfully created the app but something wrong about missing dylibbundler library and no pkg was created because Florian develope

[2018-02-24 16:38] 4ian commented on #447
If you want to sign the app with your identity (you need a Apple Developer Account), you can get a certificate from Apple and then replace `Developer ID Application: Florian Rival` in `PackageForMacOS.sh` by the Developer ID that is in your keychain.

You could also tweak the script so that it accepts the Developer ID as an argument :)
I would still recommend to use GDevelop 5 instead of GDevelop

[2018-02-24 18:32] gnacca commented on #447
Thank your for your quick reply Florian,
I have an account (free) for ios and mac developer. I just tried to replace your ID with mine but it still states the same alerts. I presume I tweaked it wrong or my account its not valid =/
I still can't use GD5 constantly because the problem I have about its preview and output performance/speed.

[2018-02-24 21:17] HeadClot opened #449 "Check for Updates feature"
It would be nice to be able to have the GD5 editor check for updates automatically. :)

[2018-02-25 10:08] 4ian commented on #449
In fact, it's already the case! :)
GDevelop 5 has an auto-updater mechanism since a few versions. I've created a page in the wiki so that it's documented: http://wiki.compilgames.net/doku.php/gdevelop5/interface/updates

I've not tested it on Linux though.
Also maybe the start page could display a message when a newer version is available so that even if automatic update don't work, users are noti

[2018-02-25 22:47] 4ian commented on #446
You can now select a resource in the Resources editor, and see a checkbox "Smooth the image" that you can uncheck :)

For now it's a bit tedious as you have to do this for every single image in your game :/ But I tried to add this as soon as possible so I'll add multiple selection later!

<img width="800" alt="screenshot 2018-02-25 23 44 59" src="https://user-images.githubusercontent.com/1280130/3

[2018-02-25 23:09] 4ian commented on #449
I'm closing the issue as I've released GD5 beta 26 and you should be able to see this automatic update ;)
Let me know if there is any issue with it.

[2018-02-25 23:09] #449 closed

[2018-02-27 17:49] AGiralli commented on #446
Thank you very much!

It made making my game difficult and I'm very glad, that you could fix this so fast.
This good communication is yet another thing I really like about this game creator :)

[2018-03-05 14:40] Lizard-13 opened #453 "Native compiling error"
There is a major graphics and minor libraries bugs in GD 4.0.96 that forces everybody working in a native project to keep with older versions, everything looks fine in the preview:
![nobug](https://user-images.githubusercontent.com/9782647/36979534-9c1ef322-2066-11e8-81d0-e736361dd525.png)
But the compiled version is totally messed up:
![bug](https://user-images.githubusercontent.com/9782647/36979

[2018-03-05 17:17] Kinkmobile commented on #453
+1

Everything seems to be find to work with scene editor, events, etc. But Compilation is totally broken.

Report on the forum : [http://forum.compilgames.net/viewtopic.php?f=20&t=9530](url)

[2018-03-05 20:54] 4ian commented on #453
@Lizard-13 Thanks for the investigation :) Can you check if you have:
* SFML dll files in the exported game folder? If not, can you copy them in the folder?
* Can you launch the game from the command prompt, in this way:

[code]

Then play to the game, close it and paste the content of output.txt here?

Thanks!

[2018-03-05 22:03] KinkGD commented on #453
I did what you ask on my project (same source of my project than when you made this version 4.0.96) :

sfml files seems to be there :
- sfml-audio-2.dll
- sfml-graphics-2.dll
- sfml-network-2.dll
- sfml-system-2.dll
- sfml-window-2.dll

**Launching the game with the command "GameWin.exe > output.txt" make it work perfectly** !
output.txt file content :
`GDevelop - 4.0.96 Release
Built  8/Oct/2017

[2018-03-05 22:15] 4ian commented on #453
Really oO? Can you search for all SFML dlls files on your computer?
I'm not sure but this could be that launching the GameWin.exe outside the command line would trigger outdated dlls to be used. (Or maybe the ones that are included with GameWin.exe are outdated and thanks to the command line you're using other one from the PATH).

[2018-03-05 23:24] KinkGD commented on #453
I'm not sure about what i should search ? I have lot of other SFML dll files in other folders (others compiled projects (older version of this project made with 4.0.92, 4.0.94, and older projects from GD3.X), All folders are at the same level of arborescence.

All SFML dll are named with "*-2.dll", but many different sizes observed for each dll.

What should i look exactly ?

[2018-03-06 10:18] Lizard-13 commented on #453
Ok, I'm in the same situation, GameWin.exe is buggy but launching it with "> output.txt" makes it to work, the file doesn't contain usefult information:
[code]

I have other sfml libraries out there too, but I can confirm (I'm almost sure) the game is not loading the libraries from other locations, because removing any sfml library from the game directory makes it to crash, with and without the ou

[2018-03-06 11:55] 4ian commented on #453
Look for any file named like `sfml-*-2.dll` (where asterisk means "anything") in particular in system folders: C:\Windows, C:\Windows\System32, appdata...

[2018-03-06 12:14] KinkGD commented on #453
Nothing in c:\Windows\ and sub-folders ; nothing in AppData.
I only find "sfml-*-2.dll" in the project folder in each folders, and in Gdevelop folders (i have both 0.96 and 0.92 installed).

[2018-03-10 07:25] Translator5 commented on #338
For me using git-version 20180125-1 causes same freeze on opening of a szene :disappointed:

[2018-03-11 18:23] 4ian commented on #453
Can you send me your game @KinkGD?
I've tried on an example (Particles - Various effects) and it works for me after compilation

[2018-03-11 18:26] 4ian commented on #453
Can I also have the game that is in your first post @Lizard-13?

[2018-03-11 19:36] Wend1go opened #454 "Feature Request: Include Ace Editor into GD5"
Ace editor is a code editor written in JavaScript which is designed for being embedded into websites. It has syntax highlighting and code completion for several languages including JavaScript and C++. There is also a react module.
More infos in my forum thread:
http://compilgames.net/forum/viewtopic.php?f=22&t=9719#p65314

EDIT:
Link to forum should work now

<bountysource-plugin>

---
Want to bac

[2018-03-11 20:42] 4ian commented on #454
That is indeed an idea that I want to implement at some point.  😃 There are a few differents editor that can be used to do this:

* https://github.com/superRaytin/react-monaco-editor (which is the editor powering Visual Studio Code - so quite powerful and working very well)
* https://github.com/securingsincity/react-ace (the one that you mentionned)
* https://github.com/JedWatson/react-codemirror

[2018-03-11 20:48] #446 closed

[2018-03-11 20:48] 4ian commented on #446
Closing this as it's resolved :)

[2018-03-11 20:49] 4ian commented on #402
Closing this as it should be fixed and not relevant anymore :)

[2018-03-11 20:49] #402 closed

[2018-03-11 20:49] #414 closed

[2018-03-11 21:08] Lizard-13 commented on #453
Sure, let me know if you want me to do some modifications and rebuilds :)
[CompilingBug.zip](https://github.com/4ian/GD/files/1800878/CompilingBug.zip)

[2018-03-11 22:04] 4ian commented on #453
Ok I can reproduce the problem.
Note that it's **not related** to the compilation error - you can ignore this for this problem.

In the game that you've sent, there is no more glitches when you remove "PanelSpriteObject.xgdw" (the Panel Sprite object extension) from the compiled game folder.
This would indicate that there is some kind of bug in PanelSpriteObject leading to all the glitches that yo

[2018-03-11 23:29] Lizard-13 commented on #453
I suspected that.

Yay!, that's true! :D
But the draw calls are the same for the editor instances, and panel sprites work/look fine in the editor, if it's a misuse of the API is a pretty dark one...

[2018-03-12 00:08] KinkGD commented on #453
Project sent in a Pm on the forum.

In the GD examples, you can try "Advanced 3D tower technical demo", the export is having trouble.

[2018-03-21 23:43] KinkGD commented on #453
Any news ? i removed all extensions that are useless in my project(including panelsprite, tiles), but still having the problem.

[2018-03-25 13:17] 4ian commented on #453
@KinkGD I'll give a go on your game during one hour today to see if I can see why there are these issues.

[2018-03-26 22:15] KinkGD commented on #453
Thanks :)

[2018-04-01 15:33] 4ian opened #456 "Run clang format to format all C++ files"
I attend to run clang-format to automatically reformat all C++ files, providing a cleaner codebase style. I will also enable faster coding as you can just code and call the "format document" option in an IDE like Visual Studio Code.
(It's already done using Prettier for JavaScript).

@Lizard-13 I'll do this once you're latest PR about skeleton is merged to minimize conflicts!

[2018-04-01 15:36] 4ian commented on #456
I'll probably use WebKit style guide (see https://github.com/motine/cppstylelineup) but open to other suggestions

[2018-04-01 22:34] 4ian commented on #456
Sure no problem! Take your time for checking, make sure that it's as good as you want and then let's merge this.
Do you think you'll be able to make an example? It will also be useful for me to regularly check that nothing is broken :)

Let me know! :)

[2018-04-01 23:00] Lizard-13 commented on #456
Sure, I can give that weird dragon with multiple deformable tails flames and flying polygons :D

[2018-04-02 13:19] 4ian commented on #456
Would be awesome 😄

[2018-04-02 13:28] 4ian commented on #453
@KinkGD Something that I've noticed while doing more tests:

- I have the glitches on Windows 8 (on a MacBook Pro 2015) when launching from the executable (classic way). I also can see on the top left that the HUD image is missing and other images are missing. On the same computer when I run with command line (`GameWin > out.txt`), I have less glitches (but still a few!) but the images are NOT mis

[2018-04-02 14:11] 4ian commented on #453
@KinkGD @Lizard-13 I've something new and highly interesting. Turns out I may have been wrong the last time thinking that the issue could come from PanelSpriteObject extension (which is unlikely as it's a pretty simple extension).

I've opened a again the game that @Lizard-13 provided in this issue (CompilingBug) and exported the game.
1) When I remove ParticleSystem.xgdw, there are still issues w

[2018-04-02 14:42] 4ian commented on #453
Also, as there was confusion: the compilation error message **_IS NOT_**  related to the graphical glitches.

[2018-04-02 20:03] 4ian commented on #453
Ok looks like that **part** of the problem is fixed:
Due to the Light_Manager outputting `Creating Light Manager` on stdout without calling `<< std::endl;`, this was messing with `FileStream` that is used to read the game resources oO All the extensions and game engine should be double checked to make sure that `<< std::endl;` is properly added. And `FileStream` should be updated to be not so frag

[2018-04-02 21:45] KinkGD commented on #453
I've replied on the forum (pm). I'm not expert on compiling (with new 80e7a60 commit), so i'll wait the new version. I've made some tests and reported it in my PM.

[2018-04-03 20:24] 4ian commented on #453
Can you try with this release? https://github.com/4ian/GD/releases/tag/4.0.97
Hope it works!

[2018-04-03 21:45] KinkGD commented on #453
Seems that particles and lights are fine now, but i spotted new bugs (i detailed it in french in a new Pm on the forum).

1) Lot of new things on the physic behaviour ? i experience a lot of glitch. Bugs or new settings i should tweak myself ?
2) Defaut values of variables (spotted at least on global vars) are erased in the the project/IDE by their value ingame after a preview.. Pretty serious fro

[2018-04-03 21:50] 4ian commented on #453
My bad this version is broken, I made changes on the way variables are stored but did not tested this properly, hence the issues for the variables and maybe your enemy objects.
Aliased texts are due from an upgrade of SFML i think, it was just a test locally that I forgot to revert before deploying.
Physics glitchs might be due to variables if you're using them to manipulate physics settings.

So

[2018-04-04 14:37] 4ian commented on #453
Updated version to download at the same location: https://github.com/4ian/GD/releases/tag/4.0.97

[2018-04-06 04:40] VoxelBuster opened #459 "Cancel and OK buttons do the same thing on closing."
In the GDevelop 5 beta after the "Any unsaved work will be lost" prompt upon clicking the exit button, pressing cancel will close the window anyway.

[2018-04-07 15:18] shadow4004 opened #460 "HTML5 games showing just black screen"
Not long ago I was using GDevelop 4 and created a a game for html5 with it. It works fine in the browser during preview. Then I exported it uploaded it on some hosting site and opened the link but it only showed a black screen. Now I've upgraded to GDevelop 5. I uploaded the example platformer game that comes with the app using the "Web (upload online)" feature but I'm still having the same proble

[2018-04-07 20:08] benjamindalgas opened #461 "Crash while using an editor"
=> Please write here a short description of when the error occured and how to reproduce it.
You also may have to create an account on GitHub before posting.

When you're ready, click on "Submit new issue". Don't change the rest of the message. Thanks!

## Error stack (don't write anything here)
[code]

## Component stack (don't write anything here)
[code]

[2018-04-08 10:59] Bouh opened #463 "Flickering PIXI.js"
Hello

I use my phone Huawei P8 Lite 2016 for test somes games made with GD and the game make flickering and crash, this code bellow fix the problem :

runtimegame-pixi-renderer.js

`this._pixiRenderer = PIXI.autoDetectRenderer(width=this._game.getDefaultWidth(),  height=this._game.getDefaultHeight(), {transparent: true} );`

[Demo of flickering and crash on Android ](https://streamable.com/55wsm)

[2018-04-08 20:55] KinkGD commented on #453
Hello,
Did you get my last Pm on the forum ? The compiled gamewin seems better, but lot of trouble on the IDE.

[2018-04-13 21:56] RyanNerd opened #467 "Unhandled 'error' event when running npm start in /newIDE/app"
System: Linux Mint 18.2 64 -bit
I thought it may have just been `node_modules` corruption but I destroyed that directory and did an `npm install` to rebuild; followed by `npm start`

Error vomit:
[code]

[2018-04-13 21:58] 4ian commented on #467
Looks like your system does not have enough watchers to watch the changes that can be made in the source file.
I would suggest to try these solutions: https://stackoverflow.com/questions/22475849/node-js-error-enospc

Maybe we can add a line in the README if it proves to be useful :) Let me know!

[2018-04-13 22:01] RyanNerd commented on #467
Thanks for your quick response. I just followed the directions in the link you gave me and it appears to be working now!
I'll create a PR to update the README

[2018-04-13 22:01] #467 closed

[2018-04-13 22:04] 4ian commented on #467
Great! Thanks! 😄

[2018-04-16 06:50] Think-Jumper commented on #21
WIN10 64bit, I built the project using  CodeLite which making by CMake, but it's something wrong:MESSAGE: Entering directory `F:\Github\4ian\GD\build'
C:\WINDOWS\system32\cmd.exe /C K:/my_dev_env/module_gcc/TDM-GCC-64/bin/mingw32-make.exe -j 16
----------Building project:[ GDevelop - Debug ]----------
current path=F:/Github/4ian/GD/Binaries/Output/Debug_Windows/CppPlatform
Copying GDC++ and extens

[2018-04-17 08:27] blurymind opened #469 "windows version - use zipped binaries instead of setup.exe"
It would make it much easier to test and deploy new versions of gdevelop if the releases come in zipped binaries instead of setup files. Here is why:

- Sometimes we have no administrator permissions to install software - especially on work and school machines. This immediately cuts off desktop access to gdevelop on any non personal computers.
- Installing a new bleeding edge release requires to u

[2018-04-17 09:33] blurymind opened #470 "Idea - integrate Piskel/other pixel art editor in newIDE"
The ability to create and edit sprites - right inside gdevelop would be absolutely awesome to have - especially for game jam events

There already is a number of excellent open source html5 pixel editors that gdevelop could take advantage of.
I personally like https://www.piskelapp.com/ for its simplicity and power.
Here is their github - using the apache license
https://github.com/piskelapp/piske

[2018-04-18 18:05] Translator5 opened #471 "Import GD4 Project into GD5"
Is there any way to migrate the old Project to the new GD-Version?
Maybe you would like to create this as a new feature?

For my case it is not that tragic to have it, but It would save some extra moves.

Edit: ... yeah - this is the situation that arises when you change you engine version during the development :laughing:

[2018-04-18 18:13] 4ian commented on #471
http://wiki.compilgames.net/doku.php/gdevelop5/getting_started/open-gdevelop-4-project 😉

Make sure to keep a copy of the GD4 project

[2018-04-18 19:35] #471 closed

[2018-04-18 20:11] blurymind commented on #469
That is a good idea :) I am personally not a fan of installers and have had to hack around workarounds to get software to run on computers without admin rights.
Some installers can not be simply unzipped and need more specialized tools to extract their contents, others are like gdevelop's - most people don't seem to know about this.

I doubt they will go to gdevelop's wiki when windows tells them

[2018-04-18 20:26] blurymind commented on #470
I need to learn how gdevelop stores it's animation frames first i guess

One thing that could be useful is that piskel can save the animation as a pixi.js movie file
![captfure](https://user-images.githubusercontent.com/6495061/38956334-27e09b12-434f-11e8-962d-cb085cae9fb4.PNG)

[2018-04-18 20:51] blurymind opened #473 "newIde event sheet- smarter object search - show only objects that do have the behavior"
When selecting an object to check in the event sheet, gdevelop lets you select any object- even objects that dont contain the relevant behavior check. This makes it harder to find the ones that do have it.

My suggestion is to have the search automatically filter out only relevant results,instead of showing this red warning whenever for example the object you selected in the list doesnt have the b

[2018-04-18 23:10] 4ian commented on #473
That would be the best indeed :) But what is difficult here is that the object and the behavior are two different fields of the action/condition, and in particular the object field is not aware of the existence of the other field, which make it difficult to know that filtering should happen.

To do this, there should be some kind of filtering that would re-group objects + behaviors into a single f

[2018-04-19 08:47] blurymind commented on #473
I tried digging around the code and couldn't figure out how to make it filter only relevant results in a clean way. It would make a world of difference if it does :)

[2018-04-20 08:23] andreikru opened #474 "Objects invisible in Objects Editor - OSX 10.11.6"
Hi,

Can't see the objects in the objects editor. Objects are there as I can click on them and add to scene and edit them if I figure out where are, as I cant see them.

I've installed last Java, and I don't know what els to do, but I can work with GDevelop...

Thanks a lot!!!

![captura de pantalla 2018-04-20 a les 10 25 36](https://user-images.githubusercontent.com/38554688/39038851-b9909270-448

[2018-04-20 08:49] 4ian commented on #474
That's really strange. Can you try to move/resize the window a bit? Is it working on the web app? (https://editor.gdevelop-app.com)

[2018-04-20 08:54] andreikru commented on #474
Moving/resizing not fix the problem. And yes it is working well on the web app. Yeah is really strange...

![captura de pantalla 2018-04-20 a les 10 57 12](https://user-images.githubusercontent.com/38554688/39041476-1e51f722-4489-11e8-9dd2-cee296a6728d.png)

[2018-04-20 08:59] 4ian commented on #474
Can you try with Chrome?

[2018-04-20 09:57] andreikru commented on #474
The web app is working well in Firefox and Chrome, not working in Safari, cant even start a project.

![captura de pantalla 2018-04-20 a les 12 00 24](https://user-images.githubusercontent.com/38554688/39044977-f3c44a60-4491-11e8-9b91-699805d8048b.png)

[2018-04-20 23:01] Jeje2201 opened #475 "[Beta 30 - Windows 10] Moving events"
Hi, the way to move events in Gd5 look really good.
But it has some limits, I don't know if it's because I have too many events or if it's because I have groups, but if Im trying to move an event, it mess the whole view of the events.
Here is a gif to show you I think you would surely understand:
![bug gdevelop](https://user-images.githubusercontent.com/19387127/39077060-714cfb86-44ff-11e8-8c36-e2

[2018-04-21 00:03] 4ian commented on #475
Transition should not be perfect but still not mess like this. Which system are you using GD on?

[2018-04-21 00:04] Jeje2201 commented on #475
As stated in the title of the issue, Windows 10

[2018-04-21 18:34] PabDom opened #476 "Save informations in spreadsheet"
Hi all !

I work in a french association, where an adhesion is obligatory at the entry. It's just about write first and last name, mail adresse and zipcode.
We found a computer to make those adhesions informatically, and I'd like to do some soft with GDevelop to make it aesthetically.
Is there a way to make GDevelop save data into a Excel spreadsheet instead of a txt file ? It would make this easi

[2018-04-22 00:13] blurymind commented on #475
@Jeje2201  what web browser? Or is thus the desktop app?

It might help sharing the messed up file

[2018-04-22 09:47] Jeje2201 commented on #475
@Blurymind that's from the Desktop app
I don't use the browser one since we can't open a project from here

[2018-04-22 17:51] Jeje2201 opened #477 "Idea - Automatically show default variables on each instance"
Hi, just had a simple request, from now, creating a variable in an object from the object list, and then use this object in the scene would not show it own variable in the object info panel.
This gif may show you what im talking about:
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/19387127/39098073-9dcc934e-4665-11e8-9458-47d0ba394ba7.gif)
It would be much easier to have th

[2018-04-22 22:48] 4ian commented on #476
I think it would be better suited to ask for this question in the forum.
Issues in GitHub are more like for technical issues or development related discussions.

Can you post your message on the forum and/or discord? Other members will help you there.
I'm not sure that it's really feasible for now to write in an Excel file.. Maybe you can try to write .csv file?

[2018-04-22 22:48] #476 closed

[2018-04-23 18:19] Lizard-13 opened #479 "Group name with numbers on XML"
In native, overwriting a value in a group with a name starting with a number (e.g. "root/1st") causes the value not being replaced but duplicated, check it here: http://forum.compilgames.net/viewtopic.php?f=19&t=9876
I can't get the exact source of the problem, probably something internal in TinyXML, and I don't know if you can fix it or want to add a warning in the instructions (web versions work

[2018-04-25 08:34] blurymind commented on #477
That seems like a bug

[2018-04-25 08:55] 4ian commented on #477
It's not a bug: instances can have variables that will overwrite the variables declared in the object.
It may still be useful to display existing object variables in gray or something like this so that it is clear that object variables already exists and that you're going to add new or overwrite existing ones in the instance variables.

[2018-04-25 09:05] Jeje2201 commented on #477
Yes @4ian that's what @Lizard13 told me.
That's the usefull part I'm talking about, might help and would be faster, like if for some reason we have way more default variable on some object, instead than rewrite them one per one.

[2018-04-25 10:02] blurymind commented on #470
@4ian would you be ok with the idea? I can give it a try in the weekend if there is time. This might be a little over my head, but it's definitely going to improve the workflow - especially for rapid prototyping

They have an example on how to embed piskel in a website
https://github.com/piskelapp/piskel-embed

[2018-04-25 10:03] 4ian commented on #477
To be sure that everyone understand: if you redefine one variable in instances variables, all other objects variables will still be available.

If you have Object1 with
[code]

If you an instance with
[code]
Then during the game, instance will have:
[code]

[2018-04-25 10:04] 4ian commented on #470
Let's give it a try!

[2018-04-25 10:09] Jeje2201 commented on #477
So the title of my request would more be something like "Automatically show default variables on each instance" ?

[2018-04-25 11:33] blurymind commented on #470
Awesome 😃
I am going to try to add an option to open an entire animation clip in
https://github.com/4ian/GD/tree/9884965595911bb326c0f2885c9a73ae0c78d790/newIDE/app/src/ObjectEditor/Editors/SpriteEditor
with Piskel

I am still planning on how to do it in the least intrusive way with keeping piskel sepparated in its own folder and not disturbing the current functionality in gdevelop's spriteeditor.

[2018-04-25 12:54] Lizard-13 commented on #477
I think the grayed out variables idea is pretty good, your instance custom variables shows at the top, and the grayed (which are automatically updated when you modify the base object variables) at the bottom, then you can select one of the grayed variables and edit the value to turn it custom. Is that OK?

[2018-04-25 14:38] 4ian commented on #477
I think that this would be good yes! Would be more clear that existing object variables will be there if you don't

[2018-04-25 14:38] 4ian commented on #477
(Closed this by mistake sorry!)
What was mentionned by Lizard-13 would indeed be the way to go :)

[2018-04-25 14:39] Jeje2201 commented on #477
Awesome :b

[2018-04-25 14:43] 4ian commented on #470
Yes that's a challenge indeed.

For a first version, I guess opening Piskel in a separate window/frame would be perfect and easier.

[2018-04-25 16:00] Jeje2201 opened #480 "Footer of text object go outside of the screen if too much texts."
If you're typing text in a text object but you have lots of stuff to type in, like a dialogue or something else, the footer of text object where Cancel and Apply button are, follow the size of the text edition and so go out of the screen.
For now the way to bypass this is to go to behaviors and so you can press apply
And here is a gif as always to show what im talking about:
![ezgif com-video-to-g

[2018-04-25 21:27] 4ian commented on #480
Good catch, thanks for reporting it :) Fixed for next version! 👍

[2018-04-25 21:27] #480 closed

[2018-04-25 21:28] 4ian commented on #479
So strange! Maybe something internal to TinyXML yes :/ Not sure what is going on.

[2018-04-25 22:15] Jeje2201 opened #481 "Scrolling problem"
Gdevelop updated to 31 with lots of features, but more features mean more chance for bugs ❤️
Here is one, when you scroll with the scroll mouse button but your mouse do not over the scene, it still zoom the scene too, hopefully the scrollbar work 😜
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/19387127/39275728-98581b58-48e6-11e8-9fd6-6e8a9adcddf9.gif)

[2018-04-26 06:49] 4ian commented on #481
cc @blurymind can you have a look? :)

[2018-04-26 06:51] blurymind commented on #481
I will have a look. I think I know why it does that :)

On Thu, 26 Apr 2018 07:49 Florian Rival, <notifications@github.com> wrote:

[2018-04-26 07:00] 4ian commented on #481
Great :)

[2018-04-26 10:30] Jeje2201 opened #482 "Can't toggle developer tools anymore in scene preview"
With Gd31 update, we can't toggle the developer tool anymore when we start a preview of a scene.
As stated [here](https://twitter.com/Game_Develop/status/989446607497256960) on Twitter

I found out we can still enable it from the IDE while waiting for it to be back in game preview, it update when we interact in the scene preview too, so it's not like "PLEASE FIX IT" since we can still reach the de

[2018-04-26 13:06] blurymind commented on #481
I submited a fix which resolves this and also a number of other bugs - such as the scrolling stopping working when switching to the event sheet and back to the instance editor

[2018-04-26 14:28] 4ian commented on #481
No problem ✌️Prettier is still not used on the JS game engine but for newIDE all files can be formatted with it :)

[2018-04-26 14:54] 4ian commented on #482
Menu should be back in beta 33 :)

[2018-04-26 14:54] #482 closed

[2018-04-26 18:06] blurymind commented on #475
@Jeje2201 can you share the scene that causes this? What steps could be followed to reproduce the error? Does it consistently happen

[2018-04-26 18:54] Jeje2201 commented on #475
Just letting you know it still happen with the last beta (33), this gif is from this one as you can see with the debugger icon

Sure thing, I removed all scene of my project and created a new one, here is a link for the .json project
[game.zip](https://github.com/4ian/GD/files/1952538/game.zip)

Just moving an event in a close group event, here is the example with the json I gave you. Im taking th

[2018-04-26 23:21] mdlsvensson opened #484 "update 33 object points are bugged for me (linux)"
hi I screenshot the point bug here, this is how it shows for me on linux:
http://i.imgur.com/fA42zXL.png

[2018-04-27 07:48] blurymind commented on #484
It looks like it's not finding the path to the icon for some reason

[2018-04-27 14:22] #484 closed, assigned to nobody

[2018-04-27 14:33] blurymind commented on #334
It looks like @Lizard-13 implemented this now, so I can close the request.

Will have to test it out in the weekend :)

[2018-04-27 14:33] #334 closed

[2018-04-27 21:25] 4ian commented on #484
No problem! Part of the benefits of working on GDevelop 5 is that I can release new versions very quickly compared to GDevelop 4, which is perfect to quickly iterate on new features or fix bugs like this :)
Thanks for getting a subscription! Much appreciated! 💝

[2018-04-27 22:12] blurymind commented on #470
I made some progress today - adding a button and a function to it
![wip-piskel](https://user-images.githubusercontent.com/6495061/39387222-5c7c63ec-4a70-11e8-9cb5-8e86fe0a76d6.PNG)

Also cloned and built the newest version of piskel with gradle - replacing the three year old version their embedding example is using

[2018-04-27 22:34] 4ian commented on #470
Looks like a good start :)

The brush looks even better than the pencil - which is indeed too much associated to the idea of editing.

You can put Piskel in `src/External/Piskel` (create a new folder External).
If for some reason you cannot put it here and load it, put in in `public/External/Piskel`.
The difference is that files in `src` are part of the source code that is "compiled", it works wit

[2018-04-27 22:38] blurymind commented on #470
Thank you. Hopefully src would work. :)
Tomorrow I will try to launch piskel embedded from gdevelop!

[2018-04-28 20:22] mdlsvensson opened #486 "the "use same points for all animations" switch is bugged on linux (at least)"
http://i.imgur.com/qx1Zu90.png
all of the area that is screenshotted is clickable, which makes me hit these switches by mistake all the time. Each of the switches are clickable in a horizontinal line, for the length of the screenshot.

[2018-04-28 21:11] blurymind commented on #470
Ok I am trying to call piskel into another window from spriteList.js, looking at how this seems to be done for the add a new resource window:
[code]

I am scratching my head as to how exactly it works  😖

[2018-04-29 14:50] 4ian commented on #486
It's a "feature" to be able to toggle a switch by clicking on their labels (same for checkboxes).
I think that if you're hitting them all the time, it's maybe that there is a better interface or layout to find for this window. :)

[2018-04-29 16:04] blurymind commented on #470
Here is my progress btw:
https://github.com/blurymind/GD

I added piskel to its own external folder and also made a button and function to open it. Trying to open it in a new window fails though- it just opens a new session of gdevelop editor instead.
I am kind of stuck there.

Piskel works when loaded independently though. You can try  it by dragging and dropping the index.html file into your web

[2018-04-29 18:30] 4ian commented on #470
Will check that tomorrow. Check out Electron BrowserWindow API to open
windows :) Also double check that the path to open is valid.
It should be relative to localhost:3000 in dev mode. See main.js for how
the editor is open

On Sun, 29 Apr 2018, 18:04 Todor Imreorov, <notifications@github.com> wrote:

[2018-04-29 20:47] blurymind commented on #470
@4ian I got it to open, just as you say- by moving it to public/external/Piskel
Seems to make more sense too- as its outside src that way

:D
I am just using window.open() btw- still need to pass to it a list of images to open

I learned about arrow functions and a bit more about reactjs today

[2018-04-29 22:05] blurymind commented on #470
Ok Now It also opens passes some test animation data straight to piskel, after it has opened it.

What is left now is to get the animation clip data from gdevelop in this format somehow:
`{"modelVersion":2,"piskel":{"name":"Megaman moving","description":"","fps":2,"height":28,"width":31,"layers":["{\"name\":\"Layer 1\",\"frameCount\":3,\"base64PNG\":\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA

[2018-04-30 10:41] 4ian commented on #470
Use `getResourceFullUrl` from `[ResourcesLoader](https://github.com/4ian/GD/blob/master/newIDE/app/src/ResourcesLoader/index.js)`.

Note that the images contained in the sprites are *name of resources*. (which are by default set to the filename of the file, but it could be anything). That's why you need to use ResourcesLoader, which helps you, given a `Project` and a resource name, to get the full

[2018-04-30 11:12] blurymind commented on #470
Ah thank you ! I just figured it out and then you confirmed it.
I think that we are getting very very warm to actually opening the resources now! Might be able to do the commit later today 👍

[2018-04-30 13:04] 4ian commented on #470
A bit more information in case you need to use Node.js API to write file:

You'll want to use the `fs` module. Here is an example on how it's used to write the project file:
https://github.com/4ian/GD/blob/master/newIDE/app/src/ProjectsStorage/LocalProjectWriter.js

Note the use of `const fs = optionalRequire('fs');` to import fs. `optionalRequire` is used to get module from Node.js or npm but onl

[2018-04-30 21:47] blurymind commented on #470
Ah thank @4ian , I will need more time to get this loading the images.
One thing I forgot to consider is that the web app is getting the images from other domains, which would lead to piskel crying out about cross domain security when trying to load them from there

[2018-04-30 22:34] blurymind commented on #470
to add to the frustration, this code breaks in electron version
[code]
but works in web version

[2018-04-30 22:44] 4ian commented on #470
To debug, you have to be more precise about "this code breaks":
* What is the error message, if any?
* What are you expecting?
* What differs?
* Is there something working?

For now you should concentrate on the electron version, because for the webapp adding external resources is not yet supported, so I doubt we'll be able to do this with Piskel.

I know it's frustrating but don't be discouraged:

[2018-04-30 22:49] blurymind commented on #470
I get
`TypeError: piskelWindow.addEventListener is not a function`

I think the browserwindow api is the way to go. Will investigate tomorrow :)
Today at least I got my image array ready and figured out the loading function in piskel

[2018-04-30 22:57] Jeje2201 opened #488 "Position of the Object selection"
Hey, when the last event of the event list have condition requesting to tag an object, the list go outside of the windows, here is an exemple with 2 objects, first time you can see the 2 objects because it's not the last event, second time you can't because it's the last one.
As always, here is a gif:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/19387127/39454090-98fde6fe-4

[2018-04-30 22:58] 4ian commented on #470
Have you try logging the value of `piskelWindow`? It is probably null or undefined - a null value can be returned by window.open, see https://developer.mozilla.org/en-US/docs/Web/API/Window/open

But yeah, for now let's forget about window.open and go with BrowserWindow.
It's used for launching previews, see an example here: https://github.com/4ian/GD/blob/master/newIDE/app/src/Export/LocalExporte

[2018-04-30 22:59] blurymind commented on #470
Ah sweet! I will try this tomorrow. I was importing it wrong before, thats why it didnt work

[2018-04-30 23:02] 4ian commented on #488
Yeah indeed, the autocomplete popover placement is a pain.
I'll see if I can improve the positionning according to the screen.

[2018-05-01 12:11] blurymind commented on #470
@4ian how would you resolve to piskel's app if it was in src/External/Piskel ?
piskelWindow.loadURL('/External/Piskel/index.html') no longet works

[2018-05-01 12:30] 4ian commented on #470
If you look at main.js, here is how it's done for index.html:
https://github.com/4ian/GD/blob/master/newIDE/electron-app/app/main.js#L84

In particular, look at the options of BrowserWindow:

[code]

Can you try something like `http://localhost:3000/External/src/Piskel` AND change the options passed to BrowserWindow to set `webPreferences`:
[code]

In all case, root folder is `public`. During deve

[2018-05-01 13:02] blurymind commented on #470
Ah thanks. This is all very new to me.
I will try this

[2018-05-01 13:05] 4ian commented on #470
Did you delete a message? I can't see your previous one.
Anyway, yes give it a try and if does not work let me know the error messages and what you were trying.

[2018-05-01 13:21] #486 closed, assigned to nobody

[2018-05-01 13:40] blurymind commented on #470
@4ian yeah, I thought that it wasnt right and wanted to avoid misleading the cause of the issue.
even with
`webSecurity: false,`
I still get
`index.js:2428 Fetch API cannot load file:///D:/stuff/GD/newIDE/electron-app/node_modules/electron/dist/resources/electron.asar/renderer/api/remote.js. URL scheme must be "http" or "https" for CORS request.`

[2018-05-01 13:55] 4ian commented on #470
Why is it trying to load `remote.js`?? 😕Looking at your code now.

[2018-05-01 14:02] blurymind commented on #470
I have no idea :o

[2018-05-01 14:31] blurymind commented on #470
Thats it!
The syntax is different when interacting with dom in electron.

Ok, I am moving forward, now we can open Piskel in the electron app and interact with its dom. Whats left is to try to load the image array, which I already have prepared

[2018-05-01 19:52] blurymind commented on #470
Progress report:
I rewrote it so now it gets properly loaded via the main.js electron function, following the overall design of gdevelop.
Its nicely preloaded. Closing its window hides it. All of that works cleanly.
I can also send the images to main.js, but doing any dom on it remotely would be trickly.
I think I need to properly send the images through ipcrenderer signal, straight to  Piskel's i

[2018-05-02 10:14] 4ian commented on #470
You should be able to use require('electron') in public/* BUT no files is transpiled so you don't have things like `import ...`.

Have you add a console.log to double check that the require is working?
Are you sure you properly send the event from main.js?

[2018-05-02 11:01] blurymind commented on #470
I got it to send the signal now! The error was initially that I should have been sending it via webcontents.
Getting closer now :)

[2018-05-02 13:05] 4ian commented on #470
Ok great! Indeed it should be sent using `webContents` :)
So now you can think about a nice interface to send images and see what is the best way with Piskel to get them in and out.
You'll want to save them at some point I guess too, in this case look for my comments above concerning `fs` and such (https://github.com/4ian/GD/issues/470#issuecomment-385392169).

[2018-05-02 21:32] KinkGD opened #489 "Time scale layer feature"
Gdevelop 4.0.97
Native platform
Time scale per layer feature in compiled executable trouble.

![image](https://user-images.githubusercontent.com/8144048/39550073-57bad2d2-4e60-11e8-998e-43101e5bdc44.png)

In preview, the default option to use base layer instead of specific one in this action works great. As illustrated on my picture, missing "" in the action. if i compile executable : the action (

[2018-05-02 21:46] KinkGD commented on #453
Finally i think this issue can be closed... Since i use 4.0.97, i experienced really few issues, but these are gone ! i'll report all problems i find in the 4.0.97.

[2018-05-02 21:50] 4ian commented on #453
Let's close this as it seems to be fixed indeed in 4.0.97 :)

[2018-05-02 21:50] #453 closed

[2018-05-02 21:55] KinkGD opened #490 "Native compilation open a 2nd explorer.exe process when opening the export folder at the end of compilation"
As the title said !

Gdevelop 4.0.97
Native platform
related with end of a compilation.
OS : Windows 10

[(http://oi65.tinypic.com/vi0huo.jpg)]

When the compilation is ended, user is invited to open the export folder : if you click yes, it opens a second explorer.exe. The issue is that until this process isn't killed, you can't access Gdevelop IDE anymore.

Minor problem, but not really confortab

[2018-05-02 22:02] 4ian commented on #489
Strange, as it's working the same way as for example the action to change the zoom of the camera.
Could you try in a test game the same thing but with the camera zoom action?

[2018-05-03 09:28] blurymind commented on #470
Progress report: The original Piskel author started helping me out with the file format for piskel.
I am now coverting the images to base64 strings, but piskel is still refusing to load them becauseof some missing argument.

My guess is that I need to append something to the base64 string that I give to piskel
Its getting warmer now, as piskel is at least accepting the image format.

After we mana

[2018-05-03 10:05] 4ian commented on #470
Yes you iterating on the images and creating `Image` with onload but it's asynchronous so you should use something like `async` (`require('async')` should work) to iterate.

[2018-05-03 16:15] KinkGD commented on #489
well.. don't know why... i can't reproduce it on a new project. With camera zoom,it's working too.. No problem !

This should be linked to my game... Something else might pertub it.

i suppose you can close the issue, but both timescale per layer and camera zoom are not working in my game withtout "" for base layer.. really strange.

[2018-05-03 16:15] #489 closed

[2018-05-03 16:28] 4ian commented on #490
Ok... let's close this then! Maybe something on your project is triggering this behavior but I can't see how the content of a game would change the way explorer is opened.

[2018-05-03 20:38] #490 closed

[2018-05-04 19:25] 4ian commented on #459
@VoxelBuster Sorry for answering so long after your initial message. Are you on Windows? I've just tried on macOS and it's working as expected.

[2018-05-04 19:54] VoxelBuster commented on #459
Yes this issue is on Windows. If you click the exit button and cancel, the
next time you click it, it will quit the app regardless of if you press Ok
or Cancel.

On Fri, May 4, 2018, 3:25 PM Florian Rival <notifications@github.com> wrote:

[2018-05-07 14:07] blurymind commented on #470
Thank you @4ian

Progress report, Piskel is now loading gdevelop animation clips:
![gd-piskel-working](https://user-images.githubusercontent.com/6495061/39706156-6972dc1c-5208-11e8-80a4-71fe8ce4c809.gif)

[2018-05-07 14:12] 4ian commented on #470
Looks super great! 🤩 🤩 🤩

[2018-05-07 17:40] blurymind commented on #470
Ah Thank you =)
I am now looking into how to programmatically get the animation's unique Id  from gdevelop and also be able to add new resources to an animation via the same ID. I noticed that there is an 'id' in the spriteEditor/index.js

[2018-05-07 17:46] 4ian commented on #470
`id` for an animation is just the index of the animation in the list of animations of the sprite :)

[2018-05-07 17:56] blurymind commented on #470
I wonder what the best way to do this is.
What if the user reorders the list then saves changes- the sprites will not get loaded into the animation clip that was originally opened in piskel

[2018-05-09 14:13] blurymind commented on #470
New update:
Piskel is now writing and overwriting files back to gdevelop
![piskel-gdevelop-writingfiles](https://user-images.githubusercontent.com/6495061/39819480-766bdee8-539b-11e8-83c2-1e186a5f2579.gif)
Will commit later today.
All thats left now is have gdevelop reload the animation frames- so any frame reorder or new frames get loaded

[2018-05-09 15:16] 4ian commented on #470
Awesome! Great job again :)

For reloading the animation frame, you may want to call `this.forceUpdate` on the `SpritesList` that was used to open Piskel, like done here:
https://github.com/4ian/GD/blob/master/newIDE/app/src/ObjectEditor/Editors/SpriteEditor/SpritesList.js#L130

[2018-05-09 15:34] blurymind commented on #470
@4ian  thank you :)
I learned quite a few new things while doing this.

Btw I think this will need clearing the frame list and load the new file paths into it - to accomodate for any new frames created in piskel - or frame reorders in piskel.

I have the ipcrenderer signal ready with updated filepaths array for that :}

[2018-05-10 13:26] blurymind commented on #470
Small Update today:
- Fixed piskel initiation on animation clips that have no sprites
- hid the 'create new piskel' button from piskel editor's header, in its place there is now a save to gdevelop and cancel buttons
- Cleaned up code that was messy, so the piskel side of the code is ready

Will do commit later

Plan now:
Piskel is sending a signal with an array of file paths of the frames it creat

[2018-05-10 20:18] blurymind commented on #470
Ok I am ready for review. Here is the commit-
https://github.com/blurymind/GD/commit/1283f5cfc0adff21f4dc2d34040e5ff655430a9e

I used this as example how to load resources btw
https://github.com/4ian/GD/blob/f6fe1a320549d1445a372699160b45245265dfb9/newIDE/app/src/fixtures/TestProject.js
and
https://github.com/4ian/GD/blob/9884965595911bb326c0f2885c9a73ae0c78d790/newIDE/app/src/PlatformSpecificAsse

[2018-05-10 20:27] 4ian commented on #470
Also try to run prettier on the files that you've done so that they are automatically formated (huge time saver and this unify the code style).
See https://github.com/4ian/GD/blob/master/newIDE/README.md#recommended-tools-for-development for Visual Studio Code. If you're using another text editor, you should be able to find a plugin.

In any case, thanks for your huge work on this and the time pas

[2018-05-10 20:32] blurymind commented on #470
did some more cleanups
https://github.com/blurymind/GD/commit/bfaf54b20c3a5bb050aeee6fa55730a57462b4b4

Will also do prettier
I am now trying to see if I can crash it or get it to do something unwanted (bug hunting)

[2018-05-10 20:46] 4ian commented on #470
No, no need to merge the changes before creating your PR :)

Great! Bug hunting is always a good idea, because I think we can find edge cases.

[2018-05-10 23:18] blurymind commented on #470
Will do some testing tomorrow and some more cleanups. Then do the commit in the weekend - just in case.
:)
Now that functionality is there, we have to make sure it is always predictable

[2018-05-11 10:43] blurymind commented on #470
I made a pull request here:
https://github.com/4ian/GD/pull/493
Please wait up a little before merging, i need to fix a small bug and do some other cosmetic things

[2018-05-11 16:13] 4ian commented on #470
Sure thanks for the PR! 👍

[2018-05-12 17:50] tdolphin-org opened #494 "Problem with compiling GD on Mint 17.3"
Hi

I have such problem with compiling GD (based on latest sources). I have such errors:

[code]

I have installed libwxbase3.0-dev.
Any ideas?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/58285510-problem-with-compiling-gd-on-mint-17-3?utm_campaign=plugin&utm_content=tracker%2F3677421&utm_medium=issues&utm_source=github)** We ac

[2018-05-13 09:17] 4ian commented on #494
I think you must install all the wxwidgets 3 libraries, not only libwxbase?

[2018-05-13 21:45] Nnarol commented on #442
Wend1go: I just tried this and it seems to work in both old and new editors, at least under Windows. So I guess this is now solved, right?

[2018-05-13 21:59] blurymind commented on #442
Yup, its in. I think we can close this now

[2018-05-13 22:11] 4ian commented on #442
Indeed! Closing this now 👍

[2018-05-13 22:11] #442 closed

[2018-05-15 11:43] Wend1go opened #495 "Dual monitor fullscreen broken (possibly)"
A review about Hyperspace Dogfights mentions an issue about running the game on a dual monitor setup where the game gets placed in between the monitors.

https://www.gamingonlinux.com/articles/hyperspace-dogfights-is-a-chaotic-challenging-and-fun-jet-combat-game-thats-now-out.11768

I don't know if it is related to GD or just the game and I can't reproduce it since I only have one monitor.
Can som

[2018-05-20 17:02] Nnarol commented on #392
Hello!
I had the same problem (on Ubuntu 18.04), but I might have found a solution, that probably does not fit everyone though. Basically, I made sure that I'm using the GTK 3 GUI toolkit package and the GTK 3 development libraries for wxWidgets only, and threw out the GTK 2 ones:

sudo apt-get remove libwxgtk3.0-dev
sudo apt-get remove libgtk2.0-dev

sudo apt-get install libwxgtk3.0-gtk3-dev
sudo

[2018-05-20 23:00] Nnarol opened #497 "Scrolling does not work properly on Windows"
## When using GDevelop 5 (Beta 29) on Windows, scrolling with the mouse wheel also activates zooming, even if Ctrl is not pressed.

The attached images show that the scrollbars are moving.

Simply using the mouse wheel, **zooming activates** parallelly to vertical scrolling:

![scrolling_normal](https://user-images.githubusercontent.com/24636189/40284497-4b53088c-5c90-11e8-8050-4020f53013a3.gif)
<

[2018-05-21 02:45] 4ian commented on #497
Can you try with the latest version beta34? @blurymind have remodeled the way the scrolling work in the latest beta version so it might be better?

[2018-05-21 08:32] blurymind commented on #497
Ah that is strange - I remember fixing this. Does it also happen on the latest beta version?

[2018-05-21 09:11] Nnarol commented on #497
I have to check, thanks for the tip! Actually, before filing the issue, I checked if I had the same version that the website offers for download, and it was beta 29.
Is beta 34 the latest master, but 29 the one on the website?

[2018-05-21 09:51] blurymind commented on #470
Piskel is now a part of gdevelop!
Many thanks to both piskel and gdevelop's original authors- @4ian and @juliandescottes for the collaborative effort!

[2018-05-21 09:51] #470 closed

[2018-05-21 12:17] Nnarol commented on #497
It will take some time before I can test it, since my dev toolchain is not set up on Windows yet.

[2018-05-21 17:05] Jose-Moreno commented on #459
@VoxelBuster @4ian Can confirm on Windows 7. Gdevelop 5.0.0-beta34 based on GDevelop.js4.0.97-0-release.

Reproduction steps:

1) Open GDevelop
2) Create either a new project or open an existing project
3) Add or edit any element (for my test I moved an object on screen.
4) Close the app either by pressing X on the window or go to Window > Close
5) Unsaved work message prompt appears. Press Cancel

[2018-05-21 17:27] Jose-Moreno opened #498 "[Repository Suggestion] Implement more and specific development labels"
Hi, I've been looking into the repo and I think it would be great if you could enable a few labels to sort out the issues since currently it's a bit difficult to see which bugs are a priority and which aren't. Also I think it's important that other interested contributors can know at a glance which tasks are meant for "veteran" developers and which for "new" or "junior" developers in order to help

[2018-05-21 18:48] Jose-Moreno commented on #498
I noticed there are some labels implemented so I marked those that already exist, while there are others that are more focused which I didn't consider. I suppose this request is still valid, but now I see that maybe the small amount of contributors might not need them to make this system as efficient as I thought it would be. Nevertheless here's hoping more people would come to assist the project

[2018-05-21 19:17] 4ian commented on #497
Oops I forgot to update the links on the website. Should be good now :)
You can always download the latest version from GitHub in case you have a doubt from this page: https://github.com/4ian/GD/releases

[2018-05-21 20:29] Nnarol commented on #497
Thanks a lot! I'll try the downloaded version then!

[2018-05-21 20:52] Nnarol commented on #497
Nope, it still behaves the same, unfortunately.

I also tried it this time with the touchpad. It is buggy, but somehow differently:

- When trying to scroll (up and down), it scrolls much slower than with the mosue wheel, but zooms really fast.

- Wiping left and right causes smooth, but fast zooming, also sideways scrolling at a normal speed.

- Scrolling with the Alt button pressed just blocks b

[2018-05-22 09:12] blurymind commented on #497
I can look into this in the weekend. Are there any steps that could help reproduce the problem?
It doesn't behave that way on my computer with windows 10 - in terms of scrolling. I havent yet added alt modifier to pan when scrolling or properly tested with touchpad. This is something that could be improved - but I need to be able to reproduce the bad behavior in order to fix it.

I hope this is no

[2018-05-22 17:51] Nnarol commented on #497
@blurymind I tried it on Windows 8.1 . My mouse is a Bloody V4M, with no special drivers installed on the PC, although the mouse's memory does contain flashed settings from configuration software.
I think I have a really cheap mouse lying around, although if I remember correctly, its wheel is long dead, so I may or may not be able to try that one out.
Is there any log that GDevelop provides that I

[2018-05-23 06:46] 4ian commented on #498
Hey! Thanks for the suggestion :)

For now the number of contributor makes that we don't need tons of labels but I think I can still add some to distinguish between GD4 and GD5, and mark some issues as "Good first issue" for new contributors :)

[2018-05-23 06:53] 4ian commented on #459
Should hopefully be fixed in beta 36! Let me know if that's not the case.
Closing this now :)

[2018-05-23 06:53] #459 closed

[2018-05-23 08:28] blurymind commented on #497
Will have a crack at this in the weekend. I need you to help me with testing

[2018-05-23 08:51] Nnarol commented on #497
I already built newIDE and tried it from the browser. Not that there were no roadblocks, but I managed to resolve most of them.
Playing with the code is one thing, but I would rather not implement fixes using a technology I am not familiar with. What I meant was discovering the error and communicating it with you or others. However, for doing that efficiently, I would need a debugger, which is wha

[2018-05-24 09:53] blurymind commented on #497
@Jeje2201 do you also get this issue? Also what version of windows were you on?

[2018-05-24 11:40] Jeje2201 commented on #497
Am I a beta tester now ? haha jk
What do you want me to try ? Zooming with the mouse weel, and same with alt press and same with ctrl press, using recent release beta 36 on my computer ?

[2018-05-24 12:52] Nnarol commented on #494
@tdolphin-org Hi! The same issue happened to me on Ubuntu 18.04, with a different header file. If this has not yet been solved, I'll look into it on sunday. Until then, could you try adding the line "#include <wx/bitmap.h>" to the file "/home/armo/Pobrane/gdevelop-dev/GD/Core/./GDCore/Extensions/Metadata/InstructionMetadata.h" ?

Actually, I doubt that libwxbase3.0-dev did not contain the definiti

[2018-05-24 13:57] Nnarol commented on #474
The problem of GDevelop not working in Safari might very well be a different one from objects being invisible in the objects editor.

Could the problem in the topic have to do with theming? I couldn't help but notice you using the dark theme in those pictures where you refer to the issue.

If the issue still persists, would you mind trying to use the default light theme for a while and see if it c

[2018-05-24 14:17] andreikru commented on #474
Thanks! But using the light theme and latest version don't solve it. Thanks anyway!

[2018-05-24 14:55] Jeje2201 commented on #497
I don't know if this is the test you asked for ._.
I tried the different zoom you recaped.
Im using Windows 10, Gd5 Beta 34, on a laptop, and I use a normal mouse, just to make sure im not an alien.
You can see what I pressed but to be sure:
- I zoomed without pressing anything, it zoomed while moving vertically
- I zoomed while pressing alt, it zoomed while moving horizontaly
- I zoomed while pre

[2018-05-24 16:26] blurymind commented on #497
Ah I see. There must have been a regression somewhere along the way. I am now looking into this and will try to fix it

[2018-05-24 16:36] Nnarol commented on #469
If the two are equivalent, I think it is better to just provide a separate download link to a renamed installer with a .zip/.7z/whatever extension.
Compared to documenting separately that the .exe can be extracted with specifically 7zip or another program, to me this seems:

 - More noticeable: There is a download option, no way to miss it if you want to download the program.
 - More maintainable:

[2018-05-24 16:49] Nnarol commented on #447
@gnacca This is just an idea, but does the "Developer ID" not have to be replaced when "productbuild" is ran at the end too? If the error was "[...] no package was created because [...]", and the comment above the "productbuild" invocation states "#And create the pkg:", I think that command must be the originator of that particular error message.

Have you replaced the "Developer ID" in both place

[2018-05-24 18:22] blurymind commented on #497
I made a pull request that fixes the problems.
Please let me know if it works for you:
https://github.com/4ian/GD/pull/500

:)

[2018-05-25 05:51] 4ian commented on #497
Can you check with beta 37 and let me know if it's better?

[2018-05-25 06:02] Nnarol commented on #497
Thanks for the work!

I checked it, and now it does behave consistently, albeit invertedly, if I'm not mistaken: now simply turning the mouse wheel zooms, and doing it while pressing Ctrl scrolls. Alt scrolling works as expected.

I think this is "inverted" based on what I got used to using other applications, for example browsers, where Ctrl + mouse wheel zooms, simply mouse wheel scrolls.

BTW,

[2018-05-25 07:56] blurymind commented on #497
@Nnarol Ah glad it works now 👍

When I was working on the scrolling logic, I was already thinking about integrating Piskel in Gdevelop.

So the reason scrolling to zoom works without the need of modifier keys is:
- To be consistent with Piskel and all the other open source graphics software (Krita, Gimp, Blender etc)
- It's a design that enables complete navigation with only one hand and button -

[2018-05-25 08:57] Nnarol commented on #497
@blurymind I can see your reasoning, and am glad that this works now. Thank you again.

Indeed, I think this issue can be closed as well.

[2018-05-25 12:51] #497 closed

[2018-05-25 16:19] 4ian commented on #497
Great explanation, thanks to both of you :)
@blurymind I guess your explanation could even be part of a wiki page about "Mouse usage in scene editor" :)

[2018-05-25 17:56] blurymind commented on #497
@4ian we can use it if you want to :)

[2018-05-25 18:33] 4ian commented on #497
Yes feel free to go and add it somewhere if you have time :)

[2018-05-25 23:55] 4ian commented on #461
I'm closing this as we don't have any more details for now!

[2018-05-25 23:55] #461 closed

[2018-05-25 23:56] 4ian commented on #460
I'm closing this as we don't have any more details.
If you have still the issue, please give us a link to the game :)

[2018-05-25 23:56] #460 closed

[2018-05-25 23:57] 4ian commented on #440
Closing this as it should not be a problem anymore

[2018-05-25 23:57] #440 closed

[2018-05-25 23:59] 4ian commented on #425
Closing this as I think it's solved now. Feel free to open a new issue in case there is still something wrong.

[2018-05-25 23:59] #425 closed

[2018-05-25 23:59] 4ian commented on #384
Closing this as we don't have any more details.

[2018-05-25 23:59] #384 closed

[2018-05-26 00:01] 4ian commented on #409
Will looking again at this, yes your modification should work :) But we would need to upgrade all games using points actions/conditions/expressions. The reason why points are not using strings for now is for enabling potentially optimization as the name is not dynamic.

[2018-05-26 00:02] #17 closed

[2018-05-26 00:02] 4ian commented on #41
Done :)

[2018-05-26 00:02] #41 closed

[2018-05-26 00:04] 4ian commented on #79
Closing as this should not be happening now. Feel free to open a new issue if there is still a reproducible issue :)

[2018-05-26 00:04] #79 closed

[2018-05-26 00:04] 4ian commented on #100
Closing as fixed in GD5

[2018-05-26 00:04] #100 closed

[2018-05-26 00:06] 4ian commented on #137
Closing as this does not seems actionnable.

[2018-05-26 00:06] #137 closed

[2018-05-26 00:06] 4ian commented on #138
Closing now as don't have any report for this kind of error with GD5

[2018-05-26 00:06] #138 closed

[2018-05-26 00:07] 4ian commented on #142
Closing this as object names should properly be propagated across scenes and external layouts now.

[2018-05-26 00:07] #142 closed

[2018-05-26 00:08] 4ian commented on #400
Closing as should be working now

[2018-05-26 00:08] #400 closed

[2018-05-26 00:09] 4ian commented on #382
Closing this. If there is still an issue, please upload a sample game so that it's easy to test and fix :)

[2018-05-26 00:09] #382 closed

[2018-05-26 00:10] 4ian commented on #380
Closing this as I now recommend to use GDevelop 5 which should work on Fedora without issues :)

[2018-05-26 00:10] #380 closed

[2018-05-26 00:11] 4ian commented on #374
Closing this as I now recommend to use GDevelop 5 which should work without any issues :)

[2018-05-26 00:11] #374 closed

[2018-05-26 00:11] 4ian commented on #367
Closing this as it was a question and not an issue

[2018-05-26 00:12] 4ian commented on #350
Closing this as I now recommend to use GDevelop 5 which should work properly on any recent distro :)

[2018-05-26 00:12] #350 closed

[2018-05-26 00:12] #345 closed

[2018-05-26 00:13] 4ian commented on #343
Closing this as I now recommend to use GDevelop 5 which work properly on macOS, Windows and any recent Linux distro :)

[2018-05-26 00:13] #343 closed

[2018-05-26 00:13] 4ian commented on #328
Done! :)

[2018-05-26 00:13] #328 closed

[2018-05-26 00:16] 4ian commented on #309
Closing this as it's not relevant anymore :) GDevelop 5 takes 5 minutes to be deployed with auto update to anyone.
Any work to improve GDevelop 4 releases is still welcome!

[2018-05-26 00:16] #309 closed

[2018-05-26 00:16] 4ian commented on #288
Closing this as it can be done now :)

[2018-05-26 00:16] #288 closed

[2018-05-26 00:17] 4ian commented on #253
Closing as duplicate and should not happen in GDevelop 5 now :)

[2018-05-26 00:17] #253 closed

[2018-05-26 00:19] 4ian commented on #238
Closing this as it's getting old and there is actually a Cocos2d-JS export. But any help to integrate native games or support something like export to Unity in GDevelop 5 is welcome!

[2018-05-26 00:19] #238 closed

[2018-05-26 00:26] 4ian commented on #498
I'm closing this as I've flagged most issues with labels. :)
In particular, there is a "Good first issue" to help new contributors to get started with the codebase!

[2018-05-26 00:26] #498 closed

[2018-05-26 00:26] 4ian commented on #318
Closing this as it seems it's not relevant anymore :)

[2018-05-26 00:26] #318 closed

[2018-05-26 00:29] 4ian commented on #272
Closing this as GDevelop 5 should not have this issue :)
If someone want to improve things for GD4, help is still welcome!

[2018-05-26 00:29] #272 closed

[2018-05-26 06:10] tdolphin-org commented on #494
Thanks in advance for all Your help.
As suggested firstly by @4ian I have installed all libraries for wxwidgets 3. Many errors have gone .. but I have stuck with those:
[code]
And it seems it related to version of wxWidgets. I have installed 3.0.2 and it is to low version. But I didn't manage to install newer version on Mint 17.3 (which is based on Ubuntu 14.04).

[2018-05-26 06:49] 4ian commented on #494
Can you add `#include <wx/bitmap.h>` after `#include <wx/control.h>` in FileProperty.h?
Then recompile.

[2018-05-26 08:48] Nnarol commented on #494
I also scoured the code yesterday, although I didn't have time to try it with the base libraries only and you were right indeed @4ian, since wx/bitmap.h was included at the place where the original error occured already.

I think it is very strange to provide a public header in a package that has types for which the package provides no definition, but lesson learned: I'll always be suspicious when

[2018-05-26 10:43] Jeje2201 commented on #459
Still happen for me, Windows 10, Gd5 Beta 37.

[2018-05-26 12:13] blurymind commented on #238
It would actually be a better fit for godot than unity imo :)

On Sat, 26 May 2018 01:19 Florian Rival, <notifications@github.com> wrote:

[2018-05-26 13:36] blurymind commented on #454
This would be very very useful if gdevelop had a plugin api that uses javascript- similar to what construct2/3 has.

If that was the case, people who know javascript would be able to create new behaviors and share them with the community :)

The link to the forum is dead for some reason btw

[2018-05-26 13:47] blurymind commented on #44
The tilemap object is non-existent in gdevelop5.
Perhaps we should think about porting it over or coming up with another one?

Mozilla devs have shared a great example
https://developer.mozilla.org/en-US/docs/Games/Techniques/Tilemaps
https://github.com/mozdevs/gamedev-js-tiles

[2018-05-26 18:12] 4ian commented on #494
@Nnarol Could you create a PR with this change like you did the last time?
If removing an extra header is what wxWidgets folks recommend, then I'm ok with doing it :)

[2018-05-26 18:35] 4ian commented on #44
Thanks for the links! We would need an implementation that works at least with Pixi.js and which is efficient for large maps (including rendering and collisions). This is the tricky part :)

I've added a card there: https://trello.com/c/vJacNvXq/65-support-for-tilemaps-objects-gdevelop-5-html5-games

[2018-05-26 19:20] 4ian opened #502 "Move window mask button in Grid menu [$5]"
## Description
The window mask button is an icon on the toolbar to enable/disable displaying a rectangle on the scene editor that represents the size of the window.
This button is a feature that is useful but maybe not worth showing a button only for it in the toolbar (it's taking space)

## Solution suggested
As the mask is something that is helping to align and place objects like the grid, we co

[2018-05-26 19:29] blurymind opened #503 "Support for Tilemaps objects (tilesets and Tiled files)"
## See also [the card on the roadmap on Trello](https://trello.com/c/vJacNvXq/65-support-for-tilemaps-objects-tilesets-and-tiled-files-gdevelop-5-html5-games)

**If you're interested in implementing this**, read the discussion so far. In particular, there are important decisions to be made about which library to use, how to integrate this in the editor and how to ensure performance.

Thanks,
@4ian

[2018-05-26 19:35] blurymind commented on #44
@4ian thank you! :D

It would be cool if we could add support to use tiled files. There is an implementation of that here
https://github.com/riebel/pixi-tiledmap

Btw I opened a new issue here on this
https://github.com/4ian/GD/issues/503

[2018-05-27 00:31] Jose-Moreno commented on #459
I can confirm it still happens for me as well when pressing cancel.

OS: Windows 7 Ultimate
GD Version: 5.0.0-beta37

[2018-05-27 08:04] saurvs commented on #502
I'd like to work on this.

[2018-05-27 09:09] Jeje2201 commented on #459
And that's a fix, the Beta 39 fix it for windows, it really does a cancel now 😄

[2018-05-27 09:16] Jeje2201 opened #505 "The preview start from the first scene and not the one we are in"
## Describe the bug
When we are in a scene and start the preview, it doesn't start the preview of the scene we were in (like the previous versions) but it start from the first scene in the scene list.

## To Reproduce
Steps to reproduce the behavior:
1. Have 2 scenes
2. Go to the second scene
3. Start the preview
4. The preview would start the first scene

## Other details
* Windows 10, Gd5 Beta 3

[2018-05-27 11:21] Nnarol commented on #494
@4ian Sure, I'll try a full rebuild with modified includes within 1-2 hours. I finally have some time on my hands.

[2018-05-27 13:59] Nnarol commented on #494
Ok, so it looks like there is indeed another dependency issue later down the road in "editors.h" if the inclusions of propgrid.h and props.h are swapped, but control.h is not needed.
Although to be fair, I used Ubuntu 18.04, not Mint 17.3, with a probably different set of libraries, and the build was successful even in the current state of "master", without any change.

@4ian I do not know if remo

[2018-05-27 17:13] saurvs commented on #502
@4ian should this be done for the old or new editor, or both?

[2018-05-27 23:07] Jose-Moreno commented on #498
@4ian Alright! thanks for taking a look and considering it anyway :slightly_smiling_face:

[2018-05-28 06:46] 4ian commented on #502
New editor :)

[2018-05-28 06:47] 4ian commented on #459
🎉

[2018-05-28 07:02] 4ian commented on #505
Thanks for the well redacted bug report! 😃
I indeed broke it 😭That's fixed in v40!

[2018-05-28 07:02] #505 closed

[2018-05-28 07:03] Jeje2201 commented on #505
Haha thanks 😄

[2018-05-28 10:20] Bouh commented on #502
I think i have completed this bounty.
If I can put the reward back on the line, I'd like to.
For a next issue :)

[2018-05-28 16:32] 4ian commented on #502
Thanks! That's nice of you. It's the first time I use Bountysource so we'll see how it works once we close the issue 👍

[2018-05-28 20:48] Nnarol commented on #494
@tdolphin-org Now you can just pull from master if you want to try it, since the modification has been merged.

[2018-05-29 05:34] 4ian commented on #502
Closing this issue as it's merged. Thanks!

[2018-05-29 05:34] #502 closed

[2018-05-29 15:37] Bouh commented on #477
I added $5 bounty on this issue

[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=57432113)](https://www.bountysource.com/issues/57432113-idea-automatically-show-default-variables-on-each-instance?utm_source=57432113&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2018-05-29 21:22] tdolphin-org commented on #494
Hi,
On Saturday I have upgraded my Mint 17.3 to Mint 18.3 (based on Ubuntu 16.04). I have installed wx3.0.4. And have got following error:
[code]
So my suspesion about wx version is not true :(
Now I am going to check the latest code on master and Your changes.

[2018-05-30 06:42] Wend1go opened #508 "Copy/Cut & Paste doesn't work on empty target event"
**Issue:**
In GD5 Beta 39 it is not possible to copy/cut & paste conditions or actions into an empty event.

**Steps to reproduce:**
Add an event and create an action (or condition)
Copy or cut the action
Add a second event
Paste the action -> nothing happens

[2018-05-30 14:03] tdolphin-org commented on #494
Compilation succeeded (there were some warnings but that's all).
So thanks for Your changes.

Besides that GD crashes after start and creating any project ... :/

[2018-05-30 17:10] 4ian commented on #494
What's the error displayed in the console?
I should have said that earlier, but the compatibility for Linux for GD4 is really a huuuuge pain. I highly recommend to switch to GDevelop 5 which is 100% cross platform and should work flawlessly on any recent Linux distro - it's still in beta but already almost as powerful as GD4.

If you're interested in contributing/tweaking the IDE, GDevelop 5 is al

[2018-05-30 19:16] Jeje2201 commented on #508
It's just not implement yet, updates are comming days after days implementing more and more features, we just have to wait.
For now you have to create an event first before copy others, we are all confront to this, just create a blank event, past the event you did copy, and delete the blank event.

[2018-05-30 19:19] 4ian commented on #508
Can you do a small gif/video to make sure about what we're talking about there?

[2018-05-30 19:22] Jeje2201 commented on #508
Im guessing he meant you can't copy a condition/action and past it in an empty one like that. Because this was possible in Gd4.
![image](https://user-images.githubusercontent.com/19387127/40742642-7205644a-644f-11e8-8a46-ad1705487e89.png)

[2018-05-30 19:33] Nnarol commented on #494
@tdolphin-org If your problem was an X Window System error with error code 10, request code 2, which is a typical cause of crash on Linux after project creation, my answer to this issue might help you:

https://github.com/4ian/GD/issues/392

Just make sure to apply it for your case, because the above issue was filed for Ubuntu, not Mint. Although I think the wx library packages should be called th

[2018-05-30 21:35] Wend1go commented on #508
Yes exactly as @Jeje2201 stated.

(I know it isn't implemented yet. This issue is just a reminder. ;) )

[2018-05-31 08:57] Wend1go commented on #508
Just checked, using the context menu exactly on the add condition/action link indeed works.
I always try to paste to the event itself.
Opening the context menu by right clicking on the event itself and choosing paste doesn't do anything.
Maybe the selected event itself could listen for CTRG+V and add the copied action/condition. Since a click on the add action/condition link immediately opens the

[2018-05-31 10:27] Jeje2201 commented on #508
It's working for me, Gd5 Beta40 Windows 10

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/19387127/40777335-e14fdfc8-64cd-11e8-8227-0eaf5491ed1a.gif)

[2018-05-31 10:32] Jeje2201 commented on #508
That's what I was asking here 2months ago -> https://twitter.com/Mr_Jeje_/status/982985992079634434
😭

[2018-06-01 11:32] Wend1go opened #509 "GD5 dark theme has very low contrast in instances list"
The instances list has a very low contrast in the dark theme which makes it very hard to read:
![image](https://user-images.githubusercontent.com/7413059/40838828-19184260-65a0-11e8-8be2-058f82f29ee9.png)

[2018-06-01 16:03] 4ian commented on #509
Indeed. The background color are hardcoded and would need to be read from the theme colors instead.

[2018-06-02 08:41] CuddleFox opened #510 "Looping the ogg"
That's 5 versions of GDevelop coming out and nobody thought to make the software detect LOOPSTART and LOOPLENGTH to be able to loop an ogg? Or have you already tried and it's not possible? :o

[2018-06-02 17:32] 4ian commented on #510
Hey,

Next time, can you follow the template of the issue that I've created? Sounds should be looping properly.
If that's not the case, please create a sample game showing the issue and uploading it. GDevelop is a massive software and there is lots of things to do on it.

Thanks! :)

[2018-06-02 21:02] blurymind opened #511 "Idea: Bundle Yarn - a dialogue editor for interactive stories"
## Description
Stories,often told through text are a very common thing in games. Especially indie games- be it rpg, action rpg, visual novels or even simple platformers. This is so common that every time I start writing my own dialogue/story system- it feels like I am reinventing the wheel rather than making my game fun.

Some engines are built for telling stories- the rpg maker engines (http://ww

[2018-06-03 10:05] shadow4004 opened #512 "Admob not working in direct android export"
Hi, I'm using admob object in a game and exporting it through the one click android export feature. It doesn't show any kind of ads when I run the game. I've tried with both testing mode on and off. There are no other visible errors as I can see. What I'm thinking is that probably admob object doesn't work with direct android export. Is there anything I can do to fix this? Or should I export the g

[2018-06-06 11:00] 4ian commented on #512
For now you need to export through Cordova manually to add the admob plugin `com.google.cordova.admob`.
Sorry for the confusion! I have to add this to the one click android export.

[2018-06-06 11:09] 4ian commented on #511
I guess that if you can get the parsing done to JSON, it's easy then to manipulate this in Javascript and write a few conditions/actions to expose it to GDevelop :)

The main thing to consider when wanting to "bundle" a software or feature like this is:

* What is the number of users interested? Is it worth the time passed on it?
* How hard will it be later to migrate from this to a better solutio

[2018-06-06 11:09] 4ian commented on #511
Feel free to make me reconsider things though :) But I think other part of GDevelop would need some love first.

[2018-06-06 14:22] blurymind commented on #511
Hi, It is maintained, but not as often as Piskel is. The last update to the codebase was 2 months ago.

I am actually thinking of making my own fork, since it required some changes to get it to work with electron. The main version was designed for nwjs, so I amended some code to port it over to electron on my build - get it to load and save files. I will try to get them to migrate the app to elect

[2018-06-06 14:58] Lizard-13 commented on #511
I'm not a dialogs guy, but I would really like to know how GD events would look using this feature, which kind of conditions / actions are we talking about?

[2018-06-06 16:34] ddabrahim commented on #511
In RPG Maker we can make dialogues using simple if-else statements right in the event editor but in RPG Maker each object has it own event sheet which make it more simple to keep it organised. in GD we can use external events in a similar fashion for dialogues, at the moment I'm not convinced if Yarn on it own would make a huge difference to be honest.

One way I could imagine the events with Yarn

[2018-06-06 16:57] blurymind commented on #511
@Lizard-13
The way I am thinking of approaching this from end user point of design is to have a "Yarn" object that serves to render text - kind of like a resizable text label.

So if I am to approach this- I would probably copy and extend the text object in gdevelop to have a text object that wraps the text, but it also has some extra functionality and variables.
 The text contents - will be repla

[2018-06-07 21:34] tdolphin-org commented on #494
@Nnarol Yes I have go error code 10, request 2.
I was trying to remove and install suggested packages ... but I have problem to find libwxgtk3.0-gtk3-dev. It seems that this is only available for Ubuntu 18+ .. My Mint 18.3 is based on Ubuntu 16.04 :(
Let's leave it.
I will give a try to new IDE.

[2018-06-08 05:13] Rodox84 opened #515 "Animations not working properly in the preview of project (windows 10)"
My player do the idle animation and nothing more, i configure for change the animation but  he stop in the first animation configured  (windows 10)

[2018-06-08 07:58] blurymind commented on #511
Update on this:
I did some work on writing a rendering procedure for yarn stories. It uses bondage.js and a tiny bbcode parser to do it's job and is tiny. I added it to my fork of yarn itself, but it can also be very easily reused by gdevelop/other engines (tested on my personal project)

I updated the first post to add a gif of it in action with some description. It still needs some polish, but i

[2018-06-08 08:27] 4ian commented on #515
Hi,
This is unlikely to be an issue with GDevelop. For now, unless you have a rock solid sample game as a proof that something is going wrong, please use the forum or the Discord chat to get help from the community on your game :)

Thanks!

[2018-06-08 08:27] #515 closed

[2018-06-08 09:27] ddabrahim commented on #511
It is looking promissing actually.
One thing, if we end up having this in GD, could you make it so that the yarn story is saved as a separated file for each scene? So in case we are working in a team, can one person work on the story and dialogues and others on other parts of the game and just grab the yarn story and import it in to our project?

I did actually requested recently (yesterday) to ma

[2018-06-08 12:02] 4ian commented on #511
A few idea/notes:

* I'm not sure if making a new objects that is a copy of the text object is a good idea, as it would be extra work to make it both for Pixi.js and potentially Cocos2d-JS renderers.
* Instead, it could be interesting to see if we have a way to "plug" the flow into a text object. A bit like a behavior.
* Separate files are the way to go. It was an option in GD4 ("Folder project")

[2018-06-08 16:32] blurymind commented on #511
If you guys are interested I can give it a go and make some pull requests - to integrate my electron ported yarn with new features and bondage.js into gdevelop - similar to how we did with piskel - but its actually much simpler this time.
I will need help to expose it to the editor though. Is it possible to use javascript to extend the gdevelop runtime in a plugin way? If so- is there an example t

[2018-06-08 16:39] blurymind commented on #511
@4ian on game saving - bondage.js  can interpret story data from standard json files or straight from an array. It has an online demo here:
http://hayley.zone/bondage.js/

[2018-06-08 16:40] 4ian commented on #511
Yes the idea is to favor small reusable objects over a large "do-it-all" yarn specific objects that would be a pain to maintain and could not be reused for other creative things :)
A richtext label would there be a solution.

Before going any further, please remember that all of this is experimental and for now I don't plan to maintain it in the long term. This should still be considered as a thir

[2018-06-08 16:49] blurymind commented on #511
@4ian another option is to use javascript straight in a gdevelop project and keep it separate.
I wish gdevelop had a pure js addon system that did not require dealing with any c++ or recompiling

[2018-06-08 16:59] 4ian commented on #511
This is not planned for now as there was not much demand. I do agree that it would be great still :)
But the current way is the easiest it was to transition from GD4 to GD5 while still maintaining full compatibility and without rewriting all extensions (which would be a huge waste of time).

So you can start with Javascript straight into a GDevelop project. Who knows, maybe we can innovate and see

[2018-06-08 20:54] Lizard-13 commented on #515
Just to note that surely it has to do with other events switching another animation in the same frame, anyway go to the forum if you want more info ;)

[2018-06-08 23:20] ddabrahim commented on #511
A dialogue system if done right would be definitely welcomed by the community,  the trouble is, as long it doesn't cost money and got it for free I don't think anyone would say no for it but in case you want feedback I think you should try to forum, Not sure how many users are on GitHub. Considering GDevelop targeting people who don't know or don't want to code, my guess is that you find more user

[2018-06-08 23:58] blurymind commented on #511
I think that a big part of both construct2 and clickteam fusion's success is due to the fact they have addon systems that are easy to develop for. Hell, their community could integrate a whole 3d engine in both - and those are proprietary apps

[2018-06-09 00:06] 4ian commented on #511
Beware of the "feature creep", which is very easy to get as a developer or contributor: it means to always being added new features for the sake of "this would be nice if gdevelop could do xxx...".

Don't be wrong here: the **only** thing GDevelop really need is new tutorials.
With more tutorials, people would watch/read them, be more proficient with the software, and lots of tutorials on Youtube

[2018-06-09 00:11] 4ian commented on #511
Also note that I say this because I was very focused when I was younger to add new features because it was cool. It was also a mistake. People do want new features, but first people need tutorials.
Even if people don't say so, they prefer a software which does a few things, but a few things well, with lots of explanations and polished features, rather than a lots of things, but without tutorials a

[2018-06-09 09:19] blurymind commented on #511
@4ian One thing I was thinking about - if this gets more interest to integrate in the newIde - is to create a new example/template project for the newIde that demonstrates how to use Yarn in the context of a gd game. I was thinking of a small rpg game room where you walk around a village and talk to the npcs - demonstrating all the features of bondage.js

Since rpg maker users are the main target

[2018-06-09 09:27] 4ian commented on #511
Yeah sure, that's a great idea! Let me know if you need anything.

Yes, I mean that's not even optional, it's a must have! Most people that want to try something new just launch the examples to see how it works.

Having more examples would also be an easy way to improve GDevelop audience I think :)

I do agree that it's a good way to have more community made addons as it's more approachable.

[2018-06-09 09:34] blurymind commented on #511
On the topic of examples - somebody has uploaded gdevelop examples on itch.io:
https://gametemplates.itch.io/gdevelop-examples

But there are two problems with that :
- They are not a part of an official gdevelop group
- They are not running embedded in the browser- so people can't get a quick demonstration of gdevelop's capability.

We need to create an official presence on itch.io to help increa

[2018-06-09 09:36] zatsme commented on #511
I would be happy to help with examples, what do you think would attract new
users?

On Sat, 9 Jun 2018, 10:34 am Todor Imreorov, <notifications@github.com>
wrote:

[2018-06-09 09:38] ddabrahim commented on #511
The only thing I don't understand what sort of tutorials would help?
@4ian When you see people asking for tutorials, what sort of tutorials they would like to see? In the platformer and the tank shooter tutorial we have covered a lot.
What is exactly missing, what information?

@zatsme I have shared tons of examples, no one cared to download them
https://gametemplates.itch.io/gdevelop-examples

[2018-06-09 09:39] blurymind commented on #511
@zatsme More variaty of 2d games running in the browser.
It would help if you download a free tileset from here:
https://itch.io/game-assets/free

and create a small game room, then uploaded it as a web game to itch.io with a zip file of the project of the game and a link to gdevelop in the description

[2018-06-09 09:41] blurymind commented on #511
@ddabrahim it will help if you create an individual itch page for each example you have - embedded like this:
https://ansimuz.itch.io/tiny-rpg-forest
So people can play the example in the web browser

[2018-06-09 09:43] ddabrahim commented on #511
@blurymind this is what I did. I was dedicated the itch.io page to GDevelop, Each example had it own page and I have also embeded the examples in to the page so people can try before download.. No one cared :( So I moved all the GD examples on to a single page, and now I decided to dedicate the pages to complete games only.

[2018-06-09 09:45] Rodox84 opened #516 "Animations events doesn´t work"
The animations event´s play in the test only the first animation, configurated, omiting the rest of the others
(Windows 10)

[2018-06-09 09:48] ddabrahim commented on #511
Also note that on itch.io you have limited number of pages you can do for free. I think it 20. After 20 pages/projects you need to "request" more. Not sure if it free or not.

[2018-06-09 09:48] 4ian commented on #511
@ddabrahim What you've made is super useful!
I think you don't get the proper recognition for it because very few peoples discover your page. I almost forget it!!

What I could do is bundle every example as part of GDevelop.
Again the problem is not the lack of examples that you've made, it's that out of 1000 persons that launch GDevelop, no one see them. If I add them as examples in the "Create a

[2018-06-09 09:54] 4ian commented on #511
@blurymind Sorry for temporarily hi-jacking the thread ^^

@ddabrahim Again what you've made is super cool. I'm feel guilty of not seeing the potential of it before. I you agree, I could bundle all examples with GDevelop 5 (so when you start a new project, you have "Starter", "Examples" and "Tutorials").
If really think it would help a lot beginners. I'll give you as other contributors a free GDev

[2018-06-09 09:56] ddabrahim commented on #511
Yes, you can bundle them if you want. I'm happy if you think they are useful :)

[2018-06-09 09:58] zatsme commented on #511
This is essential, it should be easy to find examples or tutorials and docs
right from the ide.  I will make some small game examples, should we use a
single sprite/tileset to make it easier and familiar for new users?

On Sat, 9 Jun 2018, 10:54 am Florian Rival, <notifications@github.com>
wrote:

[2018-06-09 10:01] 4ian opened #517 "Getting the list of contributors to GDevelop"
I realize there is not enough recognition for people helping to make GDevelop what it is :)

I'm going to add a list in GDevelop "About GDevelop" window of contributors that helped in a way or another to create GD (as it was done in GDevelop 4).

What I'm gonna do is:
* Take the list of contributors in GitHub and display their names
* Optionally add next to the name (or nickname) what they've cont

[2018-06-09 10:01] 4ian commented on #511
Great! I'm 100% sure this will improve engagement of new users with GDevelop - and will benefit in the mid/long term.

I guess we can go back to Yarn discussion. Let's continue the one about example/contributions here:https://github.com/4ian/GD/issues/517

Thanks again, really appreciate it 😊👍

[2018-06-09 10:02] 4ian commented on #511
@zatsme I think you can go and use any tileset that looks good and is free to use. The platformer and shooter examples assets can be a starter, they have been made by Kenney (https://kenney.nl/) which is a highly skilled artist who made them freely available :) (he retweeted a few times the tweets from GDevelop showing his assets).

[2018-06-09 11:31] Lizard-13 commented on #516
Do you have an example to test it?, as before, surely another event is switching to other animation(s) in the same frame.

[2018-06-09 11:39] ddabrahim commented on #517
I would like to mention the names of the people here who did contribute to GD with examples, tutorials on the forum and 3rd party sites like their own blog or youtube channel, but may no longer use GD or visit GitHub so they unlikely come here to remind you. Most of them helped a lot with GD4 content but without their help there would be definitely less GD5 users today.

These are forum names exce

[2018-06-09 11:43] blurymind commented on #517
My real name is Todor Imreorov :)

On Sat, 9 Jun 2018 12:39 ddabrahim, <notifications@github.com> wrote:

[2018-06-09 12:52] blurymind commented on #511
I recomend against using keneys if we already have done so. They have been
used alot in other demos and have become kind of generic. If we want gd to
stand out, our demos need to also stand out. Phaser is a great example of
an engine with cool online demos . Itch has so many free sprite assets
already

On Sat, 9 Jun 2018 11:03 Florian Rival, <notifications@github.com> wrote:

[2018-06-09 17:15] 4ian commented on #516
@Rodox84 could you please ask these kind of questions on the forum or the Discord please?
I already asked you about this on the other issue :/ Not cool.

[2018-06-10 09:42] 4ian commented on #517
I've updated the web-app with the contributors (will release a new version soon) list and the numerous examples that you've made @ddabrahim! Thanks again!
I have analytics set up on the usage of examples so will let you know how they are used :)

[2018-06-10 13:35] ddabrahim commented on #517
Looks good :)
I have uploaded two more after, a simple Asteroids remake and the type on text effect made by erdo for GD4 I figured it worth to preserve it for GD5 in json format because it is really useful, If you think you can include those as well but obviously the credit goes to erdo for the type on text effect.

Maybe, it would be useful to go through all the examples shared by the community f

[2018-06-10 14:28] Wend1go commented on #517
This reminded me that I still had to port my FSM tutorial to GD5.
Thanks for adding me to the contributors list.
You can merge Wendigo and Wend1go ("Wendigo" was already taken when I joined Github)

[2018-06-10 17:29] ddabrahim commented on #517
@4ian
I have uploaded the brakeout example from GD4 too, improved/changed a little:

-pad can be controlled with the arrow keys instead of the mouse (with the mouse it felt a bit cheating :P)
-random brick color
-random layouts, I have included 3 external layout
-improved collision a little to make sure the ball and pad do not overlap.
-the scene restart also in case there is no more bricks

If th

[2018-06-10 19:40] 4ian commented on #517
Sure the more the better when it comes to examples! Thanks a lot for taking care of this 👍

Post a message here anytime you have a new one and I'll add it (unless there is some issue with it, but most GD4 examples should be ok to add in GD5!). 😊
The main thing I'm gonna check is if there are anti-pattern in examples (i.e: usage of old conditions that are hidden as deprecated or things like this).

[2018-06-10 20:13] blurymind commented on #503
found this repository, which could also be useful
https://github.com/kittykatattack/tileUtilities

[2018-06-10 21:40] ddabrahim commented on #517
Sure, I was completely forget about the fact GD5 is now also targeting touch devices. I have updated the brakeout, in case it is running on mobile the pad is going to move toward the pointer (in theory).
I'm going to keep this in mind and add touch/pointer controls where necessary.

[2018-06-10 22:06] ddabrahim commented on #517
I did screw up the collision in brakeout, fixed it and also added pointer support in type-on-text effect.

[2018-06-10 23:16] 4ian commented on #517
Great, I've updated the web-app with asteroids, brakeout and type on text effect! :)

[2018-06-11 11:26] Wend1go opened #518 "Some suggestions for Piskel"
**1) Default sprite size**
The default sprite size of an image is 64x64. If you are creating a game in 32x32 you need to set the canvas size for every new image.

- Suggestion:
Piskel has a setting for the defauls sprite size but it isn't used in the embedded version.
So my suggestion is to save the value of default sprite size together with the GD project.

**2) Backup copies of sprites**
I don't

[2018-06-11 11:41] Wend1go opened #519 "Defauls collision mask is offset 1px"
## Describe the bug
The default collisiom mask of a sprite is offset by 1px on the Y-axis.
If you create a custom collisiom mask and add 1 to the Y axis everything looks as expected.
![image](https://user-images.githubusercontent.com/7413059/41229503-82b9dd9e-6d7c-11e8-94c0-0137fce304a3.png)

## Other details
GDevelop 5.0.0-beta39

[2018-06-11 12:01] 4ian commented on #519
Seems that there is an offset indeed. I think it's just the rendering of the mask in the editor that is faulty.

[2018-06-11 12:02] 4ian commented on #518
@blurymind You could be interested in some if these suggestions :)

[2018-06-11 12:11] Wend1go commented on #519
It is also in the preview. the picture in the upper left corner was taken form the preview with the player standing on the black floor.

[2018-06-11 12:17] ddabrahim commented on #518
I also would like to add a few things:

When we open Piskel, it display the name of the image at the top. Would be nice if we could rename the image by clicking the name at the top of the window. Of course we can rename the image by going in to the Save property of Piskel, but this way would be faster and more productive.

When we rename the image in Piskel though, if we use the Save to GDevelop b

[2018-06-11 12:20] blurymind commented on #518
Yeah of course :)

On the new sprite size, i was actualy thinking of having piskel prompt you
about what size you want every time. That would be a cleaner way to do it
imo.
On having piskel actually delete files, i decided against it to avoid any
possible unintended deletion of files. When you remove images from
gdevelop, it doesnt actually delete them either.

One thing that can help cleanup unwa

[2018-06-11 12:22] 4ian commented on #519
Yes, I do think that the picture in the upper left corner taking from the preview is right, as there is one pixel between the character and the bottom of the image (as shown by the black border around the character in the editor), is that right? (the green colored area in my image below:
So the thing is that the red collision mask should have on extra pixel height?

<img width="682" alt="untitled-

[2018-06-11 13:12] Wend1go commented on #519
The whole sprite seams to be shifted up by one pixel as the red box overlaps the black border.
![image](https://user-images.githubusercontent.com/7413059/41233310-620060c0-6d89-11e8-86e5-afe256a73b63.png)
The original sprite (checked in Piskel and Gimp) has 2 pixels above the head and the feet are at the very bottom of the image.

[2018-06-11 13:39] blurymind commented on #518
@ddabrahim I was actually thinking of making the name editable - as you describe. Also it will affect the file names

[2018-06-11 13:56] blurymind commented on #518
@Wend1go the pop up will appear upon creating a new piskel animation- so it will save steps for sure

I am ok to introduce subfolders for new piskel animations - but for editing animations that alreay exist- piskel will save them in the same folder where the user placed them to begin with - that applies for any new frames created in piskel for a clip that was imported in gdevelop prior to being op

[2018-06-11 15:39] 4ian commented on #516
Thanks! :)

[2018-06-11 15:39] #516 closed

[2018-06-11 21:29] 4ian commented on #517
Thanks! Updated the web-app! :)

[2018-06-11 22:48] ddabrahim commented on #517
I have uploaded the animation-speed-scale example with some improvement:

-removed unused objects, images and unnecessary events
-turned the example in to an infinite runner so the player can run and accelerate as long as he want
-added touch screen controls if the game is running on a mobile device
-made the animation-speed-scale to also decelerate if the player is decelerating to make the moveme

[2018-06-11 23:03] blurymind commented on #511
Update on this- it looks like they might consider merging my electron port to the main branch, but I need to iron some things on it first. I added some features to bondage.js as well - the library to parse yarn files. That is also going under review

[2018-06-12 07:28] ddabrahim commented on #517
I have uploaded the buttons example, improved with some comments as it was lack of them.

[2018-06-12 08:03] ddabrahim commented on #517
I have uploaded the change-sprite-color example with some improvements:

-added comments to explain how the example works as it was lack of them
-I decided to randomize also the green value in the RGB color to make the Peas look really different, if you think it better to keep them in the different shades of green only, feel free to change it :)

[2018-06-12 10:29] ddabrahim commented on #517
I have uploaded the magnet example with improvements:

-removed events, objects and images that was not necessary
-renamed objects to english and improved comments to explain how the example works
-improved the events in general to be more organised and easier to read
-improved collision between the ball and the holes by using a custom smaller hit box for the holes, pixel perfect collision checkin

[2018-06-12 11:52] 4ian commented on #517
Cool, keep up the good work 💪

Pixel perfect is indeed not implemented and won't be (too expensive and not useful). Collision masks are the way to go if more precision is needed :)

[2018-06-12 16:44] ddabrahim commented on #517
I have uploaded object-selection, in order to make it touch friendly I changed it to make it work with a single pointer (no right mouse button).

Actually, it did bring me back to one of my old requests regarding inverting the condition if the mouse is over an object. At the moment it return true if any of the instances meet the inverted condition but would be nice to have a way to check if ALL th

[2018-06-12 18:53] ddabrahim commented on #517
Uploaded the rain example.

-improved the events in general by making it shorter and easier to read
-added comments to explain how the example works as it was lack of them

[2018-06-12 23:08] 4ian commented on #517
Updated the web-app! 🚀

This should work as the other similar conditions, not sure why the NOT operator is not working there :/

[2018-06-14 14:43] ddabrahim commented on #517
Uploaded the advanced shape based painter

-changed the way circles are drawn, I did not like the gap between the pointer and the shape, the radius of the circle is right at the mouse
-added some more comments explaining how the example works
-removed some unnecessary  events

[2018-06-14 14:59] ddabrahim commented on #517
Uploaded the opne-url-in-browser example

-added comment to explain the obvious :D
-updated the url to point to gdevelop-app.com

[2018-06-14 15:16] ddabrahim commented on #517
Uploaded the multitouch example

-removed unused images
-added comments explaining how it works

[2018-06-14 15:49] ddabrahim commented on #517
I have uploaded the text entry object example and added some comments to explain how it works.
I believe though it does not enable on-screen keyboard on mobile devices. I could add an on-screen keyboard, but in my opinion it would be better to make the text entry object enable the OS keyboard if possible.

[2018-06-14 16:33] ddabrahim commented on #517
Uploaded the customize-keys-with-lastpressedkey example, added some comments to explain how it works.

[2018-06-14 16:50] ddabrahim commented on #517
Uploaded the shooting bullets explanation example.

[2018-06-14 18:19] ddabrahim commented on #517
Uploaded the basic-artificial-intelligence example

-added some more comments to explain how it works
-replaced the red alert light with a red alert sprite
-to make it touch friendly I made it so if the pointer or touch is down, the tank is moving toward the pointer, we can also control the tank using the arrow keys as it was in the original

[2018-06-14 19:36] ddabrahim commented on #517
Indeed I'll give it a go and upload it

I have uploaded the basic-topdown-car-driving example, it called basic-car-racing I believe but I think the name I give it suit it better, after all there is no opponents in the game nor a finish line :P

-improved car controls a bit (can not turn if the car does not move and turn a bit slower)
-added touch controls
-improved collision, for some reason it wa

[2018-06-14 20:15] ddabrahim commented on #517
At first glance I'm uncertain if the raycast condition can fit the purpose. I have never used it before. My first problem is that, it takes only 1 object as the target object and basically ignore everything else, as a result the raycast is going through the walls and the tanks being alerted even if I'm on the other side of the wall. I'm not sure how to solve this :(
I can't find a way to stop the

[2018-06-14 20:34] 4ian commented on #517
`Objects to test against the ray` should be anything that stop the tank vision, so anything solid in the real world, so almost everything: wall, tanks, and the player tank. So you have to create a group of objects that are called `Solid` and use this group for the first parameter.
You then fire for each tank a ray toward the player (here you may have to compute the angle to the player using atan2(

[2018-06-14 20:36] ddabrahim commented on #517
This is exactly what I'm trying to do as you described and it makes all the tanks alerted :P

[2018-06-14 20:38] 4ian commented on #517
Can you share a screenshot? Have you manage to use an object to see where the ray is put?

[2018-06-14 20:43] ddabrahim commented on #517
I didm't check with an object yet, tried something else. I give it a go now. But the event is looks like this:
![event-properties](https://user-images.githubusercontent.com/24738433/41437305-f565b77c-701b-11e8-8774-c97cffee2bb7.PNG)
![event](https://user-images.githubusercontent.com/24738433/41437311-f8c4767e-701b-11e8-907e-e1a4b02c42ad.PNG)

[2018-06-14 20:50] 4ian commented on #517
A few notes:
* You can use `ToDeg()`
* Is 200 enough? Would have put 600 or 800.
* It's not important, but prefer PascalCase (instead of camelCase) for naming groups and objects, as they are comparable to "classes" in traditional programming languages, so the first letter is Capitalized.

One thing that looks wrong in the example is the fact that you're testing if targetX = Perso.X() and same for

[2018-06-14 20:59] ddabrahim commented on #517
Yes I though about that it may be not going to match exactly, I tried 200 just to try but all the tanks get alerted anyway. I tried the object and it is being created at the top left corner which is indicating 0. Not sure what is that mean. If the result of the rayCast is 0 that means.... there was hit at 0,0?
This is the screenshot
![scene](https://user-images.githubusercontent.com/24738433/41438

[2018-06-14 21:03] 4ian commented on #517
0;0 usually indicates that the variable or the expression is invalid :)

I found the error. It's not obvious I guess I should update the description, but the variable where you store the result should be the name of a **_scene_** variable.
Parameters taking variables are fixed to either global variable or scene variables.

So here, store the result into IntersectionX and IntersectionY scene variab

[2018-06-14 22:06] Lizard-13 commented on #517
I'm using a Solids group in the zombies examples too, but then I just check if the number of Player taken into account is > 0, if it is then the ray hit the Player because only one instance of Solids gets selected after the ray condition.
You can send a second ray too, but only to the Player, and check if the hit position is the same than with Solids.
Any idea to improve it?, really, because I was

[2018-06-14 22:13] Lizard-13 commented on #517
Also I could add a "Raycast to position", so people don't have to make the angle calculation, as you do with forces and movements :)

[2018-06-14 22:18] 4ian commented on #517
That's much simpler! @ddabrahim You can do like this I think :)

I think that could be a good idea, for consistency and ease of use. :)

[2018-06-15 11:48] ddabrahim commented on #517
I'm sorry but I don't have much luck with this.
For some reason the tanks are not getting alerted as expected.
Some of them do, some of them don't but even the ones do get alerted the moment I would expect it to, it doesn't last long, After a short time they stop and don't get alerted again until I move the player right in-front of the tank.

I increased the range to 2000 pixels to make sure it no

[2018-06-15 17:00] blurymind commented on #518
I am opening a pull request here:
https://github.com/4ian/GD/pull/522

Will try to tackle these one by one :)
Got inspired by seeing sparckman use gdevelop's new ide with piskel
https://www.youtube.com/watch?v=iBWXvvgQ_-g

[2018-06-15 17:02] ddabrahim commented on #517
I have no idea why I changed it.
I try it when I get to my dev PC but it is definitely the problem then.
Thanks.

[2018-06-15 20:55] zatsme commented on #518
Sparckmans gdevelop series is fantastic exposure for gdevelop!

On Fri, 15 Jun 2018, 6:00 pm Todor Imreorov, <notifications@github.com>
wrote:

[2018-06-16 13:06] 4ian commented on #517
Cool! At least ahah :D
Glad that you got it to work.

Will add these new examples and release a new version then :)

[2018-06-16 17:29] ddabrahim commented on #517
Actually, I was wondering if it would be better to use pathfinding in the AI example because in the old example the tanks are always getting stack in the wall and just no too smart and I did it.
I have uploaded as a separate example, basic-ai-with-pathfinidng. It up to you if you are going to replace the old one or include both just reference how to make it with and without pathfinding.

The benef

[2018-06-16 23:12] ddabrahim commented on #517
Uploaded the car-physics example made by Lizard-13, added touch controls to control the car

[2018-06-16 23:59] ddabrahim commented on #517
Uploaded the shoot-bullet-in-parabola example made by Lizard-13.
I have edited and made it so we shoot a bullet each time click or touch the green box and we can drag the red box before shooting the bullet. Of course it doesn't add any improvement, but I like interactive examples, it more fun.

[2018-06-17 01:52] VulpineVortex67 opened #523 "GDevelop 4 compiles with errors"
Hello, I have GDevelop 4 due to owning a 32-bit system. When I go to compile my game, it says it was compiles successfully but with errors. The errors are:

"Some errors happened during the compilation, but the game was still compiled successfully:
Unable to copy libsndfile-1.dll in compilation directory.
Unable to copy mingwm10.dll in compilation directory.
Unable to copy extension BuiltinExterna

[2018-06-17 09:48] Wend1go commented on #523
I think (not 100% sure) you could get GD**5** to run on your 32bit system if you download an electron runtime for your 32bit system here:
https://github.com/electron/electron/releases
And overwrite the contents of the "resources" folder with the files from the "resources" folder out of the GD5 zip file.
Since the new IDE is written in javascript this "should" work

[2018-06-17 09:55] ddabrahim commented on #517
Uploaded the snap-object-to-grid example made by Lizard-13.
Added some variables because I like to be able to customize things through variables.
Added some more comments
For some reason, when drawing the lines to display the grid, some of the lines did not render for me. Resizing the window do solve the problem though. Not sure if it only my PC or not, I added an event to change the window size t

[2018-06-17 10:14] 4ian commented on #523
I highly recommend to switch in GD5 indeed.
For the error that you have, don't care about it, it should not affect how the game is working :)

Why doing this? I think it's safer to avoid mixing things like this, otherwise you can have pretty strange errors.

[2018-06-17 10:36] ddabrahim commented on #517
Uploaded move-object-in-circle example made by Lizard-13
Removed the one was using the predefined path.

[2018-06-17 11:11] ddabrahim commented on #517
Uploaded the object-gravity example made by Lizard-13
Added touch controls
Added the ability to jump with the space guy
Added comments

[2018-06-17 12:41] 4ian commented on #517
Awesome again!

Great idea, I'll include both. It's nice to have a mix of simple examples and more advanced ones, so here it's perfectly fine to include both!

[2018-06-17 12:42] ddabrahim commented on #517
Uploaded the text-fade-in-out made by kalel
Removed some events was not necessarily and added comments.

[2018-06-17 12:49] Lizard-13 commented on #523
I'm using a 32-bits Windows machine and I can compile without problems, I get the errors too but everybody is getting them and the games still works, are you sure the game doesn't run?

[2018-06-17 13:16] VulpineVortex67 commented on #523
Yes, it white screens and then crashes. I even tried the same game my 64-bit laptop and GDevelop 4 and got the same error. Is there something I need to put in the game or in the editor. Or, could I be missing a required program from my pc?

-Toby

________________________________
From: Lizard-13 <notifications@github.com>
Sent: Sunday, June 17, 2018 12:49 PM
To: 4ian/GD
Cc: VulpineVortex67; Author

[2018-06-17 14:03] VulpineVortex67 commented on #523
I noticed that the compiled game runs when I don't have music set to run in the background. But, that is a problem because my game has music. So, how could this be circumvented?

[2018-06-17 15:03] ddabrahim commented on #517
Uploaded the text-to-speech example made by kalel
Added some comments
Added text entry object so we can input more text to generate voice

[2018-06-17 15:50] blurymind commented on #518
I tackled the resize prompt request and new file naming request.
For the layers request- I could try solving it, but first I need to be able to save a file path string in the image sequence of an object somehow

[2018-06-17 17:35] blurymind commented on #518
Ok, now you can also select the folder where you want piskel to create new frames, as well as the name of the files:

Note:
- if you select a folder outside of your project- piskel will refuse to use it
- On animations imported from gdevelop- the folder and the name can not be edited by design- so the user doesnt make the mistake of saving half their sequence in another folder

Here is a gif demo

[2018-06-17 17:39] Oneil974 opened #524 "GD5 beta 39 doesn't work on windows 10"
Hello,

I have a black screen in GD5 Beta 39. It does not seem to work.

It just gives me a javascript error like this when I try to create a new project.

![gd5_bug_screen2](https://user-images.githubusercontent.com/11059074/41510488-9b97f00e-7276-11e8-8f8f-1756386a789a.png)

[2018-06-17 17:56] ddabrahim commented on #517
Uploaded parse-json-string example made by Lizard-13
I have changed the string to be easier to read (at least I think it easier)

[2018-06-17 18:39] 4ian commented on #524
I've tried successfully GD beta 42 on Windows 10 and I think other users are having it working too. Can you try again with the latest version? Uninstall GD completely first.

[2018-06-17 21:46] 4ian commented on #517
Added for next version!

[2018-06-17 23:01] VulpineVortex67 opened #525 "Installing GDevelop"
Hello, I installed GDevelop and I keep getting errors with compiling and running my games, usually reating to missing dlls and C++ runtime library crashes. I have tried reinstalling but nothing works. Is there any programs I need to install before using GDevelop (i.e. Microsoft Studio Redistribute 2015)? I can't get any games working, they always give me this error:

Microsoft Visual C++ Runtime L

[2018-06-18 03:41] VulpineVortex67 commented on #523
I tried that. It didn't change anything. My games will now launch, but they have about a 90% chance of crashing outside of GDevelop

[2018-06-18 05:39] Oneil974 commented on #524
Sorry, maybe I downloaded the wrong release. I've downloaded it directly from the website last night.
Must I build it from sources? (Beta42)

[2018-06-18 07:19] 4ian commented on #524
No it was released yesterday :) You can simply go on the website and download it again to have the latest version.

[2018-06-18 07:29] 4ian commented on #525
Is there any particular reason for you to use GDevelop 4? I would highly recommend to use GDevelop 5, which has better support and is improving quickly :)

[2018-06-18 07:30] 4ian commented on #525
Oh I see you're already opened https://github.com/4ian/GD/issues/523
Please only open one issue, otherwise this confuses a lot and make harder to see what's happening. I'm closing this one!

[2018-06-18 07:30] #525 closed

[2018-06-18 07:31] 4ian commented on #523
What is your graphic card? Can you check that you have latest graphics driver installed?
Most of the time problems are coming from bad driver and there is nothing I can do about it.

[2018-06-18 17:06] Oneil974 commented on #524
Same problem with the Beta42 version... :(
Impossible for me to open dev tools or debugg.
Maybe something installed on my Windows.
I'm going to inspect

[2018-06-18 17:08] Oneil974 commented on #524
Maybe there are some requirements?

[2018-06-18 17:12] Oneil974 commented on #524
Hey, I found the problem.

With my M11XR3 I have optimus technology (Nvidia + Intel Graphics) I must force run GD5 with Intel integrated graphic card.

[2018-06-18 17:33] VulpineVortex67 commented on #525
Sorry about that, I was so confused myself with many different problems. I understand. Also, I noticed the latest update of GDevelop 5 had windows export support, which is what I needed. So, I switched to my 64-bit laptop. I was only using GDevelop 4 because I hadn't noticed the GDevelop 5 update yet. It is all good now

________________________________
From: Florian Rival <notifications@github.co

[2018-06-19 03:20] Oneil974 commented on #524
Yes, the bug no more exist after Nvidia driver update. The bug occured after last W10 update.

[2018-06-19 07:43] 4ian commented on #524
Cool! :)

[2018-06-19 09:17] Agoss204 opened #528 "New example"
Hi!

I'd like to submit a new example to be added to GDevelop.
Here is the link to download it: **INSERT the link to your game here, or add it as an attachment**.

I confirm that any assets can be used freely by anybody, including for commercial usage.

[2018-06-19 09:17] Agoss204 commented on #528
ok

[2018-06-19 09:17] Agoss204 opened #529 "New example"
Hi!

I'd like to submit a new example to be added to GDevelop.
Here is the link to download it: **INSERT the link to your game here, or add it as an attachment**.

I confirm that any assets can be used freely by anybody, including for commercial usage.

[2018-06-19 09:18] Agoss204 opened #530 "Elso jatek"
Hi!

I'd like to submit a new example to be added to GDevelop.
Here is the link to download it: **INSERT the link to your game here, or add it as an attachment**.

I confirm that any assets can be used freely by anybody, including for commercial usage.

[2018-06-19 09:19] Agoss204 opened #531 "okokok"
Hi!

I'd like to submit a new example to be added to GDevelop.
Here is the link to download it: **INSERT the link to your game here, or add it as an attachment**.

I confirm that any assets can be used freely by anybody, including for commercial usage.

[2018-06-19 09:19] Agoss204 commented on #531
asdsad

[2018-06-19 09:31] 4ian commented on #528
Looks like you forgot to include your example. Closing this

[2018-06-19 09:31] #528 closed

[2018-06-19 09:31] #529 closed

[2018-06-19 09:31] #531 closed

[2018-06-19 09:31] #530 closed

[2018-06-19 14:44] blurymind opened #532 "newIde - ability to set action points/ mask points by clicking on the preview instead of typing x/y"
## Description
Setting action points or colision mask points in the new ide is a bit cumbersome  in the newide at the moment. You can't just click with your mouse on the location where you want to plant a point. Instead you can only enter numeric values

## Solution suggested
A more intuitive option to have is to:

Be able to select a point row in the pointeditor - to be active and then click with

[2018-06-19 15:00] 4ian commented on #532
It's indeed a bit cumbersome right now.

I'd like to have this but haven't plan anything in the short term. Any improvement is welcome :)

I guess the simplest design would be that, when a text field is focused for X or Y coordinate, then clicking on the preview will move the point at the mouse position.
Another similar way to do it is to use checkboxes to be able to select a point - may make the

[2018-06-19 15:05] blurymind commented on #532
@4ian that is a good idea! Instead of adding a checkbox or radio button - just be able to click and drag the actual points to the location would be more ellegant

I might give this a try after getting thenew piskel stuff ready :)

[2018-06-19 15:11] 4ian commented on #532
Click drag may be the more obvious to anyone, but not sure if it's really easy to do.
Moving multiple points to do seem like a really useful use case. I even think that it will confuse users and make people move multiple points without noticing and frustrate most users doing this mistake. So let's keep a single point with a radiobox if you go this way :)

[2018-06-19 15:29] zatsme commented on #532
Most guis I've used seem to allow to set points by clicking and then
joining the points in a clockwise direction.  To move a point you click and
drag and to add a new point you click space.

To make it easy, why not have an add, modify and clear check boxes?  You
would also be able to reorder points by dragging the numbers up or down the
list.

Zat..

On Tue, 19 Jun 2018, 4:11 pm Florian Rival, <n

[2018-06-20 08:34] blurymind commented on #511
Thinking about it now- it seems that in order for this to happen -  gdevelop needs to first be able to parse yarn json files via bondage.js bundled with a plugin for the js runtime. I have no idea how to write a plugin for gdevelop yet. @Lizard-13 ,you have some experience with that. Would you be interested in exposing bondage.js to gdevelop as an addon?
If you are busy with other things - can you

[2018-06-20 09:58] 4ian commented on #511
The documentation is mainly this short page: http://4ian.github.io/GD-Documentation/GDCore%20Documentation/write_a_new_extension.html
which was written for GD4 but still applicable to GD5, except that you have to compile using GDevelop.js: https://github.com/4ian/GDevelop.js

We should surely improve this doc or even move it to a dedicated README file in GDevelop 5.
Note that for bondage.js, I thi

[2018-06-20 12:13] blurymind commented on #511
@4ian which index.html can I use for testing my bondage.js binding? Do you mean
https://github.com/4ian/GD/blob/master/newIDE/app/public/index.html ?
:)
Btw I already have written a bondage.js renderer here:
https://github.com/blurymind/Yarn/blob/master/app/renderer.html
https://github.com/blurymind/Yarn/blob/master/app/js/classes/renderer.js
It is using bbcode and rendering to html in order to ac

[2018-06-20 12:34] blurymind commented on #511
@4ian this is awesome! I will give it a try maybe in the weekend :)
I will remove the bbcode stuff for gdevelop.
In the future we could use markup code for gdevelop - but that should be another extension.
This one will only return a string (with a configurable typing effect) of the text that is to be presented to the player.
Whether the presentation is done via gdevelop's text label or some other

[2018-06-20 20:06] 4ian commented on #509
Fixed in https://github.com/4ian/GD/commit/ad9abd971c84b29fbeb4173d64dafcfe676280b8 :)

![image](https://user-images.githubusercontent.com/1280130/41681806-a5dc01e6-74cd-11e8-81f3-f5c633f71f82.png)

[2018-06-20 20:06] #509 closed

[2018-06-21 12:47] blurymind commented on #518
@4ian I can add the ability to preserve layers, but I need help with adding a new variable to the direction prop - to store the path or atleast name of the piskel file associated with a sprite list.

This variable needs to be stored in the project.json file when saving the project.
How would one go about doing that? Trying to figure out how gdevelop saves a project now

[2018-06-21 17:41] Oneil974 commented on #532
GD4 drag and drop was working well and in a very simple way, so I think it would be good to have a similar tool.
But for me a problem is persisting with big pictures for scroll over during editing. And now in GD5 big pictures generate a bug and picture is completly outside of canvas limit.
Collision mask is no more at the right position.

[2018-06-21 17:50] Oneil974 opened #534 "Bug with hitbox, for high resolution pictures"
Hi, I'm getting problem with GD5 hitbox editing.

I use large picture, and first, it's difficult for scroll over during editing (Maybe my screen resolution 1366x768). Large picture generate a bug and picture is completly outside of canvas limit.
Collision mask is no more at the right position.

What's the max resolution for sprites?

[2018-06-21 17:55] 4ian commented on #534
Hey! Can you post a zipped game to help to reproduce the issue?

[2018-06-21 18:01] Oneil974 commented on #534
![capture d ecran 63](https://user-images.githubusercontent.com/11059074/41736735-671ed4c0-759e-11e8-9410-6bee7f8d111c.png)
![capture d ecran 62](https://user-images.githubusercontent.com/11059074/41736737-6762b58c-759e-11e8-8b19-f2572ff92349.png)
[fond-iso_map_2.zip](https://github.com/4ian/GD/files/2124781/fond-iso_map_2.zip)

[2018-06-21 18:03] Oneil974 commented on #534
With just the zipped background you could easily reproduce the bug.
Screenshots show you the limits of the background and canvas

[2018-06-21 18:40] Oneil974 commented on #534
Solution is to use smaller pictures

[2018-06-21 18:40] #534 closed

[2018-06-21 19:04] Lizard-13 commented on #534
I can confirm there is an offset in the bounding rectangle and collision masks draws

[2018-06-23 09:49] UnnamedOpera opened #536 "Problems with custom fonts"
## 1. Custom fonts are not loaded in exported games and in preview

**5.0.0-beta42**
![GDevelop5.0.0-beta42Print1](https://i.imgur.com/i95Lkcw.png)

**Electron v2.0.3 x64**
![Electronv2.0.3Print](https://i.imgur.com/NGGY53b.png)

## 2. Text objects with custom fonts are not displayed in Firefox

![FirefoxPrint1](https://i.imgur.com/XYcw0Sn.png)

**Without custom font**
![FirefoxPrint2](https://i.i

[2018-06-23 10:50] 4ian commented on #518
Can you give a few examples of what you would store?

[2018-06-23 11:07] blurymind commented on #518
@4ian for this I was wondering if we can just have piskel save a pskl file, along with the frames. So next time you open the animation, piskel can check if it can access the pskl file. If the answer is yes- then instead of opening the flattened image sequence- it opens the pskl file that still has the layer data in it.

But in order to do that, apart of the image sequence, I also need to keep trac

[2018-06-23 13:11] Wend1go commented on #536
I can reproduce that.
It doesn't seem to be related to the font. Others don't work either.
Strangely the fonts are working an my project that I started in GD4 and later moved to GD5.
Looks like it only affects new projects created in GD5.

[2018-06-24 18:55] blurymind opened #539 "Port newIde to android/ios (mobile)"
## Description
It would be fantastic if we can get the editor to run with file saving and piskel support  on android- as an apk app!
Since there are not many other alternatives on android- there is a great opportunity to attract more users- as having an engine such as gdevelop on the app store will greatly increase its exposure.

I was wondering how feasible it is- as the newIde built on top of ht

[2018-06-24 23:02] 4ian commented on #539
Short answer is yes that's possible and that's on the road map but probably more in the long term.

One possible caveat is performance, but for what I've tested the web-app is already running quite well on Android (according to the device of course).

This is something that could be added with a bit of rework (in particular with integration with Dropbox, Google Drive, etc...). Something again on t

[2018-06-25 09:01] blurymind commented on #511
@4ian this is really cool! One question - does gdevelop make a cache copy of that file somewhere? It looks like when I make changes to it after the initial run- it doesnt update.

And another question - is it possible to execute javascript commands to the runtime index via the event sheet? So for example I could use gdevelop's event sheet to call yarn commands with js - even before I have them reg

[2018-06-25 09:21] 4ian commented on #511
You have indeed to run by yourself `import-GDJS-Runtime.js` script everytime you make a change to the Runtime/index.html (or any JS file in the GDJS Runtime): `cd newIDE/app/scripts` then `node import-GDJS-Runtime.js` to start it :)
For now it's only done automatically when you start newIDE, but I think later I can add a watching script that will automatically update the files when you make a chan

[2018-06-25 09:29] blurymind commented on #511
@4ian ah thank you for explaining. This is fantastic for quickly testing stuff!
I meant for example calling an element in the index file by it's id for example.
I meant exactly using JS events in the newIDE - is that possible? I couldn't find them :)
I think that it will greatly help me test it before even trying to register the methods in my class via the extension api

On the inclusion of bondag

[2018-06-25 10:48] blurymind commented on #511
@4ian gdevelop is not copying the external js scripts I am including in the index file to the tmp folder where the game is created and running

Do I need to add them somewhere else?

[2018-06-25 10:52] 4ian commented on #511
You have to run `node import-GDJS-Runtime.js` and then relaunch a preview. If it's becoming to long to do it each time, you can also launch the script manually: go in `GDJS/scripts`, and run `CopyRuntimeToGD.bat` (on Windows) or `./CopyRuntimeToGD.sh` (on macOS/Linux) followed by the tmp folder path. Then reload the preview.

The last approach works only for changes in JS. Any change in index.html

[2018-06-25 11:16] blurymind commented on #511
@4ian even when running the script, it is refusing to copy my js files to the tmp/preview directory

[2018-06-25 11:44] 4ian commented on #511
What do you mean by "refusing"? What is the output/error message? What does it do? Where are your files located and how do you check that they are properly copied or not?

[2018-06-25 11:55] blurymind commented on #511
Basically I need to include these two files in index.html like this:
[code]
In order to initiate the parser inside gdevelop. I tried placing them in a subfolder called yarn, also in the same folder and even inside libs.

When I run the script it updates index.html, but when I run the game itself (playest), gdevelop's runtime fails to find them. When I open this directory,while the game is running:

[2018-06-25 12:04] blurymind commented on #511
Perhaps I can just copy them to the project folder?

[2018-06-25 12:07] 4ian commented on #511
Strange, the script should copy recursively all JS files that are in `GDJS/Runtime`and `Extensions/`.
So I would say that if you add your `yarn` folder to GDJS/Runtime and launch it it should be copied to C:\Users\blury\AppData\Local\Temp\preview if you run `CopyRuntimeToGD.bat C:\Users\blury\AppData\Local\Temp\preview`.

[2018-06-25 12:13] blurymind commented on #511
It says
`Copying GDJS and extensions runtime files (*.js) to "..\..\Binaries\Output\Release_Windows\JsPlatform\Runtime`
and it does indeed copy them to that folder

But when I platest the game, the yarn folder is gone - it doesnt exist in
`C:\Users\blury\AppData\Local\Temp\preview`

[2018-06-25 12:17] 4ian commented on #511
Normally if you run

[code]

This should indicate that files are copied in C:\Users\blury\AppData\Local\Temp\preview
If that's not the case, then something is wrong inside the script.

Yes it's normal as only the files that are needed by extensions are copied. Can you double check if you can have CopyRuntimeToGD.bat make the copy directly inside C:\Users\blury\AppData\Local\Temp\preview?

[2018-06-25 12:21] blurymind commented on #511
Running this
`CopyRuntimeToGD.bat C:\Users\blury\AppData\Local\Temp\preview`
copies the missing files:
[code]
Unfortunatelly when I playtest, gdevelop wipes them out, as it decides it doesnt need them

[2018-06-25 12:31] blurymind commented on #511
@4ian it works that way - but every time I launch the game I have to open developer tools,run the script and then update? :)
This is no solution if I want to actually export the game- I need to write an extension to make it usable at all

[2018-06-25 12:35] 4ian commented on #511
Yes. Note that if you're working on JS files, you'll probably just end up launch the script, hitting Ctrl+R to see if it works, then do it again.

If you want to export the game you have to manually copy `yarn` folder (so won't work for automatic online builds - in which as anyway you'll need to make an extension but wait for having something that is working).

[2018-06-25 12:36] blurymind commented on #511
Would be nice if we had some way of including js script files in the project and calling their methods inside the event sheet :D It would make the event sheet so much more hackable without need to recompiling

[2018-06-25 12:38] 4ian commented on #511
There is something called `SourceFile` in GDevelop core allowing to bundle custom JS files but it's not exposed in GDevelop 5 as it wasn't being used a lot in GD4.
Might expose it in GDevelop 5 as part of "Developer tools" that you can enable in the preferences.

[2018-06-25 12:48] blurymind commented on #511
I guess it would be a step towards having a more accessible js extension system that doesn't require any recompilation of gdjs :)

You can already kind of access the runtime via the JS event. Add ability to include external js files and we can kind of do it in the event sheet. But the event sheet can not modify the editor itself.

Godot engine does it in a very interesting way where anything insid

[2018-06-25 12:55] bil-ash commented on #511
@4ian That would be a quite useful feature. Specially if there are 5-6 line js functions which need to be called multiple times in a game then writing the whole thing in events editor multiple times isn't a very convenient option( I am currently facing this). Instead if there is an external js file where we write the function and just call it in javascript section in the events editor,then that is

[2018-06-25 13:45] blurymind commented on #511
@4ian I can move this to a sepparate issue if you like the idea :)

[2018-06-25 15:08] 4ian commented on #511
@blurymind Yes please do :) Please write something quite specific in this separate issue because it's still vague for me and I'm not sure we're all talking about the same thing. Also include precise examples of what it would help to achieve.

I ask all of this to avoid feature creep - don't want to spend hours and hours working on something that will end up being too complicated and used by no one

[2018-06-25 15:23] blurymind opened #540 "Make the current js addon system more accessible - without requirement of c++/manual gdjs recompiling"
## Description
Gdevelop's current js extension system is not very welcoming to gdevelop's users. At least not as accessible as other engine's (see godot and construct3 for example)

It requires:
- editing of c++ files - even if you only want to create a purely javascript functionality- you also need to know some c++
- recompilation of gdjs
- Much more complicated dev environment set up and extra h

[2018-06-25 15:48] 4ian commented on #540
While I mostly agree with the points here, here are a few notes that are important, as this issue itself is important but also hard to implement so we have to be creative.

You're not describing alternative to your solution here ;) This section is important to have a critical thinking about what else we could do for our problem. Let me explain using the "5 whys":

Our problem is "making new extens

[2018-06-25 15:51] 4ian commented on #511
Ok thanks :) I've answered on the thread. Hope I don't feel too harsh when reading me - it's not the case 😇 It's just that the issue is complex and we have to be VERY precise about what is really needed to avoid losing a huge amount of time into working on an extension system that will complexify the whole software.

[2018-06-25 15:52] 4ian commented on #540
Note as stated in the other thread, I hope I don't feel too harsh when reading me - it's not the case 😇 It's just that the issue is complex and we have to be VERY precise about what is really needed to avoid losing a huge amount of time into working on an extension system that will complexify the whole software.

[2018-06-25 16:37] blurymind commented on #540
My idea for this is to simply allow the js runtime to load js files that are inside a project subfolder called `myproject/plugins/myextension` - similar to what godot does.
In that subfolder you declare your addon purely in javascript, no c++.
In one js file you declare the actions and conditions, as well as parameters they take - similar to how it already is- along with any new game objects.
In a

[2018-06-25 16:52] blurymind commented on #540
I wonder if there is some way to use a simple json file to declare the extension, instead of a c++ script. Perhaps a parser could convert the json data into c++ code? :) If only gdevelop's newIde could trigger recompiling gdjs- that would also make it seem less intimidating to new users

[2018-06-25 16:58] 4ian commented on #540
Yes I think so :)
There might be way to expose the Extension and the existing functions that are used in C++. Would also need to find a way to plug it into the list of extensions

[2018-06-25 17:07] blurymind commented on #540
I think that with the newIde you really make gdevelop's new editor very attractive to javascript devs. But the js runtime and the extension system still require a lot of steps and c++ to extend the engine. If that also becomes accessible to the user in their project folder space - that would make the whole engine incredibly attractive to javascript developers.

Automating the step of recompiling g

[2018-06-25 17:18] blurymind commented on #540
@4ian I really like the idea of wiring a code editor with gdevelop.
I know how to integrate it into the newIde, but will need help with hooking it to the actual runtime.

Did you decide on which ide to use? I was wondering if we can use something stripped down, light and simple - that is only for javascript :)
A part of the challenge there would be to get the intelisense to recognise gdevelop's in

[2018-06-25 18:35] blurymind commented on #539
@4ian you are right. We are missing some key elements in the web app before this is really doable 👍
Thank you for taking the time to share your thoughts on this

[2018-06-25 21:42] Nnarol commented on #540
+1, a similar idea has also been on my mind for long, although only for the C++ side.
Ideally, not even the whole C++ subproject should require a rebuild just to add a new extension.

The current state
------------------

The problem is, that even as they are now, extensions don't seem very flexible.
For instance, there are default events and actions implemented for generic objects, yet this code

[2018-06-25 23:05] blurymind commented on #540
To me personally, the most exciting aspect of extensions is the ability to expose a third party library to the engine in a nice and easy to use package. After following the work that has been done on extensions for construct 2, it was clear to me that most of the extensions greatly benefited from already popular and battle tested javascript libraries. What made them available really is the simplic

[2018-06-26 06:53] Wend1go commented on #540
I also like @Nnarol 's  idea of creating user defined behaviours based on logic bricks.
Reusing default event/action's code in behaviours sounds sensible too. The bahaviours as of now are very separated from each other. Combining them even results in unexpected behaviour. I once tried to give a platformer character some more freedom while in the air by adding something to the default velocity whic

[2018-06-26 08:31] blurymind commented on #540
From my personal experience with the newIde, I found it relatively easy to get into, because it doesnt require many steps to set up a development environment and that part is well documented. @4ian helped me with me understand any parts that were initially confusing (like passing functions from class to class as a prop for example :) )

@Wend1go If you want to, just make a pull request or file an

[2018-06-26 13:25] Wend1go opened #541 "GD5: Stuck in camera panning"
## Describe the bug
Occasionally after selecting an object in the scene and moving it with the mouse the IDE seems to enter and get stuck in "camera panning mode".
When this happens it isn't possible to select objects anymore and moving the mouse with pressed left button moves the camera instead of the selected object.

## To Reproduce
I haven't yet found out what triggers this. It only happens oc

[2018-06-26 13:49] Lizard-13 commented on #511
Compiling GDevelop.js exposes the C++ extension code in the IDE, so the IDE knows about the actions, conditions and the .js files it has to export. If you'll modify the .js files only there is no need to recompile GDevelop.js (it just stores the filenames).
Then you can change the .js files at `GD/Extensions` (modifications kept through app "builds"), `newIDE/app/resources/GDJS/Runtime/Extensions`

[2018-06-26 14:47] blurymind commented on #511
@Lizard-13 thank you for explaining. So really recompiling gdjs is only required to register the actions/conditions in the editor? That means that after I get the c++ part right once, I no longer need to recompile it :)

[2018-06-26 14:53] 4ian commented on #511
Yes and yes :)
Extensions, still written in C++ contains **declarations** only of actions/conditions and the JS function names to be called.
All the implementation of these functions are done in your extension JS files. So if you don't change the action/condition/extension interface, you don't need to recompile.

[2018-06-26 15:00] blurymind commented on #511
@4ian thank you for clarifying!
In that case there really is no need to rewrite the extension system or dramatically refactor it, just to enable a way to bypass recompiling gdjs to expose the newIde to custom actions/conditions. That is the only thing needed to close #540

But anyways, with this knowledge now, developing this as an extension doesnt seem that intimidating to me :)

[2018-06-26 15:05] 4ian commented on #540
Please don't panic ;)

- **Declaring**, meaning making a new extension **visible** to the IDE, requires to create/copy the Extension.cpp and JsExtension.cpp files and add it to the Extensions/CMakeLists.txt, GDevelop.js/CMakeLists.txt and recompile **GDevelop.js**. It's not well documented and that's a problem, but you can still read https://github.com/4ian/GDevelop.js to recompile and copy a simp

[2018-06-26 15:12] blurymind commented on #540
@4ian in any case - if I am to summarize this request - its for a way to bypass the compilation requirement by using js/json file to register actions/conditions.  It can be in the same folder as the extension, or in the project folder.

[2018-06-26 15:35] 4ian commented on #540
Yes :)

[2018-06-26 15:37] blurymind commented on #541
Are you middle clicking when moving the object? :)

On Tue, 26 Jun 2018 14:26 Wend1go, <notifications@github.com> wrote:

[2018-06-26 16:06] Wend1go commented on #541
I have tried moving an object around while middle mouse panning the camera for a couple of minutes but couldn't trigger the bug.
When trying to scroll via middle mouse button the selected object gets deselected so I usually move the object a bit, pan the camera via middle mouse, move the object again ... until I reach the destination.
So I don't think that I'm using the middle mouse button while m

[2018-06-26 17:23] blurymind commented on #541
Something is causing it to get stuck, but we need to figure out what.
Can you try to cause it to happen again and write down the steps to recreate the bug? :)
Its very strange that object selection is triggering viewport panning

[2018-06-26 18:03] Wend1go commented on #541
I'll try to keep an eye on the conditions when it occurs the next time.
Is there some place that would be suitable for placing a break point in the code?

[2018-06-26 18:15] blurymind commented on #541
from what I remember, this is the function in charge of panning
:)
https://github.com/4ian/GD/blob/master/newIDE/app/src/InstancesEditor/index.js#L337

[2018-06-26 22:14] blurymind commented on #540
@4ian currently stuck at
![mingw pains](https://user-images.githubusercontent.com/6495061/41942174-69992998-7996-11e8-92ea-aacfd41458d1.PNG)

note: in the instructions you are not even mentioning that mingw needs to be installed and set up.
:)
all these things take alot of time to install and extra space to keep. Not to mention it makes it much harder to develop from a flash thumb

[2018-06-26 22:18] 4ian commented on #540
Relaunch your terminal after adding C:\MinGW\bin to the PATH maybe?

The README was written for macOS/Linux where a compiler is always installed. By the way Emscripten is shipping its own compiler (clang) so MinGW shouldn't strictly be needed - that's why I've not included it in the README.
Maybe this could be changed to avoid using make (which is "just" a command launch) and so avoid relying enti

[2018-06-26 22:20] 4ian commented on #540
Let me know if it's working with mingw32-make.
Maybe I could embed a stand-alone `make` like this one: http://gnuwin32.sourceforge.net/packages/make.htm

(And update the Gruntfile.js to refer to this executable instead of mingw32-make).

[2018-06-26 22:21] 4ian commented on #540
Also if you're still stuck try replacing
[code]

by

[code]

in GDevelop.js GruntFile.js: https://github.com/4ian/GDevelop.js/blob/master/Gruntfile.js

[2018-06-27 06:06] Wend1go commented on #541
I don't think so, haven't had any problems with it elsewhere.
Will report back when I find out something more.

[2018-06-27 07:38] blurymind commented on #540
@4ian this is absolutely fantastic! I can help testing it if you want to :)
I really hope that this gets merged!

The problem with compiling gdjs for me is that I can not do it when I am not at home. So this greatly limits what I can do with gdevelop during the day.

You see in my case I usually make a copy of gdevelop to a flash thumb and then in my break time at work, I try to write some code fo

[2018-06-27 07:51] blurymind commented on #540
@4ian I don't mind restarting the editor to reload extensions for now :)

One suggestion is to have gdevelop look for them in project/extensions folder
But again - this is not an absolute have. The main bottleneck are the dependencies. Being able to bypass them will be a huge improvement - even if the extensions folder is the same as always

[2018-06-27 09:29] blurymind commented on #518
@Wend1go most of the suggestions are now merged :) Feel free to git pull and test.
Only missing thing now is layers data preservation - but that is more complicated, so will get back to it at a later stage

[2018-06-27 10:15] Wend1go commented on #518
Looks pretty neat.
I'll try it out tomorrow evening.

[2018-06-27 13:38] Wend1go commented on #541
It happened again while selecting an object via left mouse button.

[code]
While the bug is active these variables are set:
spacePressed = false
mouseMidButtonPressed = true

mouseMidButtonPressed is true even though I am pressing the left mouse button.
It gets set to false again when I release the left button and is set to true again when I hit the left button again.

[2018-06-27 13:42] 4ian commented on #541
There may be an issue with listening for button pressed/de-pressed while the mouse is going outside of the scene editor view.

[2018-06-27 14:20] blurymind commented on #541
I will try to fix this when i get back home

On Wed, 27 Jun 2018 14:42 Florian Rival, <notifications@github.com> wrote:

[2018-06-27 17:14] Nnarol commented on #540
@blurymind

You've probably already gotten past this issue, but judging by the prompt on the image, you were using a Windows console.
If so, you can check if a certain string has actually made it to your PATH variable or not in your particular console session by using:

`echo %PATH% | findstr <PATH TO SEARCH FOR> 1>NUL  && echo Match found. || echo No match.`

I.e., if you were using CMD.
If it wa

[2018-06-27 17:58] blurymind commented on #540
@Nnarol I tried it again now and I am getting more errors :)
[code]
2nd day of trying to make an extension, the development environment is not even set yet.
Other people would have given up by now

[2018-06-27 18:09] Wend1go commented on #518
Well done the work flow feels a lot better now. :+1:

Just two things:
1) If I hadn't already known that I can select the object folder by clicking on the yellow path text, I would never have guessed that this is possible. I wonder if it would be better to either place two buttons inside the string that opens choose folder dialogues for object - and animation folders or a second textbox to enter t

[2018-06-27 18:28] Wend1go opened #542 "GD5: Add the option to set an object name in the add new object dialog"
The current way of creating new objects is a little cumbersome since they are all automatically named "NewObject" and the "Edit object" dialogue immediately shows up before one can give it a proper name.
Having to right click on the object, choose Rename and overwrite the old name disturbs the work flow a bit.

It would be nice to have an input box (mandatory) for the object name directly inside e

[2018-06-27 18:28] blurymind commented on #518
[code]
At first I tried a button instead of a label and it was very distracting and clunky. I am more open to the idea of adding a button on the side ("Change folder"?)

[code]
It defaults to the last folder that you have selected. In my experience, because that folder was the project folder- since I was opening a project before testing- It started at the project folder.
I can very easily change i

[2018-06-27 18:42] blurymind commented on #542
@Wend1go I found this with my personal electron project - electron doesnt actually support having a prompt with text entry - unlike web browsers. There are workarounds of course, but they are not great.

We need to create a new prompt gui class to make this happen.. or use an npm package- which is not great.
https://www.npmjs.com/package/electron-prompt

I wonder how to best address this

[2018-06-27 19:01] Nnarol commented on #540
@blurymind

1\> was unexpected at this time.

If you copy-pasted it like it seems from your response, the results are not surprising, since the placeholder surrounded by brackets: `\<PATH TO SEARCH FOR\>` is meant to be substituted by the path you'd like to find in the contents of your `PATH` variable.

Sure, I was just trying to give a hint as to how to check your PATH, since you described your i

[2018-06-27 19:07] blurymind commented on #540
@Nnarol ah sorry *slaps forehead* xD

[code]
Its finding it now, but as you can see, still lots of errors. I wonder if I should open a separate issue for this - its really a gdevelop.js issue and while it is related to my request here- the goal of this request is not to solve it, but to work towards a way to not require doing the compilation in the first place

[2018-06-27 20:00] blurymind commented on #541
@4ian I tried this and I can't seem to trigger it. I tried middle clicking inside after selecting and dragging outside of the window- gdevelop stops panning when leaving.
I tried mid clicking outside the window- nothing happens.

I can add a new mouseleave event listener just in case if you want to?

[2018-06-27 22:51] blurymind commented on #542
@4ian one thing that would be nice and will help here is have the object list (on the right) automatically select the object that is selected in the editor and even scroll to it.
If it scrolls to it and even has the name input steal focus on newly created objects- that would even be better

I was actually wondering whether to give this a try  :)

[2018-06-28 06:45] Wend1go commented on #542
I wasn't actually talking about a prompt but a mere text box instead. Something like this (just more pretty ;))
https://imgur.com/11SCbh3
But @blurymind ' s idea sounds good too, it would be the same approach as in GD4.

[2018-06-28 09:19] blurymind commented on #518
@Wend1go  will this do? It's pretty obvious :) Also, the user can still click on the label and set folder.
![setfolderbut](https://user-images.githubusercontent.com/6495061/42025459-83550de4-7abc-11e8-9629-037309c84bde.PNG)

The file dialog is now always starting at the project root - as you requested. The downside to that is that it is not going to remember the last selected category

[2018-06-28 09:57] Wend1go commented on #518
Looks good :)

[2018-06-28 11:38] blurymind commented on #518
PR coming tonight :)

[2018-06-28 12:33] Wend1go commented on #541
`    if (!isMacLike() && evt.button === MID_MOUSE_BUTTON) {
      this.mouseMidButtonPressed = true;
    }
`
isMacLike = false
evt.button is = 0
MID_MOUSE_BUTTON = 1

Even though the values are not equal this.mouseMidButtonPressed is set to true.

[2018-06-28 12:48] blurymind commented on #541
very strange. What can be setting `this.mouseMidButtonPressed` to true?
Are you sure that it is true,when evt.button is 0?

One thing I can do is add some code to set it to false if any other mouse button is pressed

[2018-06-28 13:12] Wend1go commented on #541
Did someone try GD5 on a MAC lately?
The question is how javascript treats the "false" value from isMacLike, since it is neither 0 nor 1.
Maybe it gets interpreted as a positive value which gets negated by "!" and in combination with the right expression results in a true value.

[2018-06-28 13:22] 4ian commented on #541
I develop GDevelop 5 on macOS but `false` is always interpreted as false in Javascript - no trap there.
`isMacLike()` will always be false on Windows/Linux and `! isMacLike()` will always be true on Windows/Linux.

[2018-06-28 13:37] blurymind commented on #541
@Wend1go  What OS and version were you on?
I tried to trigger this on 2 windows 10 x64 computers and one windows 7 x64 computer - using the generic platformer example project

[2018-06-28 16:00] Wend1go commented on #541
I'm using Linux Mint 64Bit (haven't tried GD5 on Windows yet)
The bug happens in the official Linux electron version (Beta 42)
I wasn't able to try your suggestion yet. It usually takes more than an hour to trigger the bug.
Will see if I can find more time for testing tomorrow.

[2018-06-28 16:29] blurymind commented on #541
@Wend1go do you use mid click to pan or spacebar?

[2018-06-28 17:45] Wend1go commented on #541
I always use mid click.

[2018-06-29 07:50] blurymind commented on #540
@4ian thank you for this absolutely fantastic new feature
 🥇🥇 😄 🥇🥇
I have to say that it is so far my favorite in GD5!

I will tinker with it in the weekend. Would it be ok if as a simple excercise I try to port the shopify extension to a purely js extension?
I see that you have done so with the facebook instant games one :D

[2018-06-29 08:08] zatsme commented on #540
Awesome feature, will bring so much more functionality to gd 👍🏻

Next step, importing from construct3, would be so funny 🤣

On Fri, 29 Jun 2018, 8:50 am Todor Imreorov, <notifications@github.com>
wrote:

[2018-06-29 08:09] 4ian commented on #540
Yes, I intended to do it later, so feel free to go and convert the Shopify extension :)

[2018-06-29 08:17] blurymind commented on #540
@zatsme That has actually been requested before xD It would be quite cheeky to steal their huge library of extensions.
I might try to port some over to gdevelop for sure. Perhaps some day in the future someone will write a little app that converts c3 extensions to gdevelop ;)

For now let's focus on making gdevelop's js extension framework awesome. It might become better than theirs

[2018-06-29 08:30] blurymind commented on #540
@4ian that is a good point actually. I will try to use this more for my own extension - to parse Yarn files for now.
I checked this repository of c2 extensions, and couldn't find any information about the license
https://github.com/rexrainbow/C2Plugins
It is a huge library. Perhaps we should ask him to add a license

[2018-06-29 08:51] 4ian commented on #540
Thanks for checking the license - remember to always do this to ensure the work of the author is sharable/re-usable :)
MIT, BSD, Apache-2.0, WTFPL license are all open-source license that allow sharing and derivated work. GPL is open-source but anything using the code under GPL must also be GPL - so I recommend avoid it as it forces any game made using it to be under GPL (and prevent adding the ex

[2018-06-29 08:56] blurymind commented on #540
@4ian yes indeed- I will start with simpler things. Thank you for working on this again. Please let me do if there is anything I can do to help. We can use this issue to report bugs/feedback while the extension is still not merged :)

[2018-06-29 15:18] blurymind commented on #518
@Wend1go that is now merged into gdevelop.
Can you close this issue and open a new one about the layers please?
Adding support for layers/pskl files in gdevelop sprites is a bigger task and we have to figure out how to adress it in an ellegant way

[2018-06-29 18:45] blurymind commented on #542
@Wend1go  @4ian  How about doing it like this:
![objectnameinput](https://user-images.githubusercontent.com/6495061/42109270-fae0e7ac-7bd4-11e8-8dbb-2ebd3d96f169.gif)
:)
I found this to be the most natural way to do it. It also adreses the fact that the object
editor is not showing the name of the object being edited

[2018-06-29 19:05] Wend1go commented on #518
implemented by @blurymind in #543

[2018-06-29 19:05] #518 closed

[2018-06-29 19:07] Wend1go commented on #542
I like it

[2018-07-01 18:44] blurymind commented on #542
@Wend1gomy suggestion is to put it in objectEditorDialog.js instead
I noticed that you are already working on this. Would you be interested in tackling it in your pull request here:
https://github.com/4ian/GD/pull/545
I can give it a try again later this week too if you want :)

[2018-07-02 05:40] Wend1go commented on #542
I won't have time to work on GD next weekend, if you have more time give it a try.
Otherwise I could look into it the weekend after next.

[2018-07-02 14:57] blurymind commented on #511
Some progress with this - it looks likely the electron port I made on it will get merged - the reviewer has some notes that I will address tonight.

I also got contacted by an Australian game developer interested in my work on porting yarn to electron. They said that they have also been working on a tool+parser similar to Yarn - using Reactjs. I think the intent was to steer me towards their proje

[2018-07-03 17:32] Wend1go commented on #541
#546 seams to fix this, thanks @blurymind for your code snippet.

[2018-07-03 22:55] blurymind commented on #542
Thanks to @4ian 's excellent guidance I made some progress with this and learned some new cool reactjs things. Now an object can also be renamed like this:
![renameobject](https://user-images.githubusercontent.com/6495061/42248211-57e27b56-7f1c-11e8-95f4-050313a74e74.gif)

This might require some bold refactoring of the rename object function - which is right now scattered in two places. My soluti

[2018-07-03 23:00] 4ian commented on #542
Yes you probably need to unify the rename function into a single one in the `SceneEditor/index.js` and then pass it down to use it at any point where you need it :)

[2018-07-03 23:06] blurymind commented on #542
@4ian I was thinking to keep them separate, because I want the unique name check to happen when the input loses focus and the actual renaming when the user clicks on "apply".
When moving out the check function - make it a simple checkIfObjectNameCanBeUsed(newName) function that returns true or false

Not sure if thats the best approach, but I think it will make the code easier to understand

[2018-07-03 23:08] 4ian commented on #542
Then in this case it makes sense to have a slightly different implementation, but factor common code into a tool function so that the code is easier to read and obvious to implement :)

[2018-07-03 23:13] blurymind commented on #542
I will try not to break things or change them too much. Right now its a choice between some refactoring or code replication. :)
I trust your judgement in this,so will take whatever approach seems most sensible

[2018-07-03 23:19] 4ian commented on #542
Having it here looks correct. Could maybe have a label "Object name:" before the text field and ensure the text field takes the whole width of the dialog.

[2018-07-04 19:10] blurymind commented on #542
Made a pull here
https://github.com/4ian/GD/pull/547

[2018-07-05 14:13] Lizard-13 opened #548 "Bad collision bounds"
## Bug Description
On web platform, the fast bounds check before the real SAT collision algorithm fails if the Centre point is not at the center of the object. Sometimes (at certain angles) the collision gets discarded by the bounds.

## To Reproduce
Steps to reproduce the behavior:
1. Modify the Centre point of any sprite object, placing it far from the center
2. Add events to rotate the sprite a

[2018-07-07 00:12] AntthonyGomez opened #550 "New example"
Hi!

I'd like to submit a new example to be added to GDevelop.
Here is the link to download it: **INSERT the link to your game here, or add it as an attachment**.

I confirm that any assets can be used freely by anybody, including for commercial usage.

[2018-07-07 00:12] #550 closed

[2018-07-07 00:12] AntthonyGomez commented on #550
hola

[2018-07-07 15:26] VulpineVortex67 opened #551 "Error when Exporting to Online Service"
Hello, I recently have had problems exporting my game to the online compiling service for GDevelop with the following error:

Error: EROFS: read-only file system, mkdir '/worker/app-8012470b-79c4-4be3-98c3-c707720ff5cc'

Is there a way to fix this on my end, or is it something on the service's end. It used to work before, I can't export my game to Windows without this. Does anyone know what is goi

[2018-07-07 23:31] VulpineVortex67 commented on #551
I tried the changing the folder permissions, my user already had full access, so I guess it is something on the server side. Is there any way to tell when the service will be back up?

[2018-07-08 03:43] VulpineVortex67 commented on #551
Until the service is back online. Could anyone tell me  how to manually compile my game for windows

[2018-07-08 10:33] 4ian commented on #551
Thanks for reporting it and sorry for the disruption! The worker doing the compilation of games should be back to normal and everything should work smoothly now :)
I have identified what was the error and will make sure that it's not happening again!

[2018-07-08 10:33] #551 closed

[2018-07-08 15:02] VulpineVortex67 commented on #551
Thank you. Have a nice day. :)

[2018-07-09 06:52] #541 closed

[2018-07-11 00:56] nalcwap commented on #539
good know is possible make for android will be great,thanks

[2018-07-13 06:04] Wend1go opened #552 "GD5: Compile for Desktop error"
Exporting a game for Desktop takes forever without a result, see:
http://compilgames.net/forum/viewtopic.php?f=20&t=10452[](http://compilgames.net/forum/viewtopic.php?f=20&t=10452)

I can confirm that.

[2018-07-13 09:15] 4ian commented on #552
Sorry for the outage, should be back up and running!
Investigating at why the workers went down.

[2018-07-13 09:15] #552 closed

[2018-07-13 13:28] Wend1go opened #553 "[Feature Request] Forum: Add option to embed itch.io, Steam, etc."
It would be nice if it was possible to embed iframes to sites like itch.io or Steam in the game showcase area of the forum.
If I remember correctly the forum is based on phpbb. According to the link below it is possible to add custom bbcode tags there.
For example:
 `<iframe src="https://itch.io/embed/{yourgameidhere}" width="552" height="167" frameborder="0"></iframe>`)

The bbcode could look som

[2018-07-13 16:01] blurymind commented on #553
It is possible to simply embed the forum in an electron window, but not
sure how it would look... There are npm modules to render bbcode to html,
but i dont think that would be required. The forum already does it. It
would be nice to be able to embed the documentation in the ide and have it
even work offline. Not sure how safe it is to allow iframes in the forum.
If that is to ever happen it needs

[2018-07-13 20:15] Wend1go opened #554 "[GD5] HTML5: Security error in storagetools.js"
Firefox on Linux (and OSX as reported by a friend of mine) show this error when trying to use the local storage:
![image](https://user-images.githubusercontent.com/7413059/42711767-6b38992c-86e9-11e8-86e9-96ce9688d609.png)
According to my friend (a slightly outdated version of) Safari didn't work either.

On my side only Chrome and Chromium work without errors.

You can debug/test it here:
[https:

[2018-07-16 16:33] Wend1go opened #556 "[GD5] Android: no music"
Android games currently play no music at all:
[http://compilgames.net/forum/viewtopic.php?f=19&t=10461](http://compilgames.net/forum/viewtopic.php?f=19&t=10461)
(there is a workaround playing the music file as a sound but loading takes a couple of seconds)

@4ian : I noticed you aren't around in the forum that often recently. Is it ok if I go on adding the issues from the forum to Github?

[2018-07-16 16:56] 4ian commented on #556
That's a good question :)
My main issue is that there is a lot of things going on on the forum, and I have to concentre only on the most important subjects otherwise I'm going to use all my time without being able to actually work on GDevelop and fix/improve things.
To achieve this, I'm more looking at GitHub issues than the forum as issues should be properly formatted (high signal/low noise issue